[2014-06-04 15:37] silveryseven opened #2 "how are you testing this?"
I got my xampp server locally, setup vhost for port 443 but seems I can't connect it to the itunes. Already change my hosts files.

[2014-06-04 16:46] #2 closed, assigned to nobody

[2014-06-05 03:53] silveryseven opened #4 "Unverified Certs Warning"
Take note unverified certs will be block in about two weeks they said.

[2014-06-05 06:58] #4 closed, assigned to nobody

[2014-06-05 22:00] itadepro opened #5 "contact me"
Hi
I am very interested in your project we may contact by skype or something ...?

[2014-06-10 09:51] zawzawsugu commented on #5
hi bro nice to meet u
did u already test this method?
how this work
i have bypassed i phone 5s from minacrices server

[2014-06-10 14:22] danzatt commented on #5
This is modified version of minacriss' first server (he posted it on twitter days ago when he was asking for help, now he figured out how to bypass it and won't release source). It has never worked and never will.

[2014-06-10 18:29] itadepro commented on #5
sorry for my bad English, I feel I just need to fix the order of pem files and the keys ... because for me it works great until the script will inject the key here I have an example of the result of the bypass

bplist00Ö
_AccountTokenCertificate\AccountToken_FairPlayKeyData_DeviceCertificate_LDActivationVersion_AccountTokenSignatureOÙ-----BEGIN CERTIFICATE-----
MIIDZzCCAk+gAw

[2014-06-11 15:52] thejames1012 opened #6 "Undefined Index"
Notice: Undefined index: action in C:\xampp\htdocs\deviceservices\deviceActivation\deviceActivation.php on line 5

You have an undefined index bro.

[2014-06-11 16:19] thejames1012 commented on #6
Ahh i see thank-you, I just done this : if(isset($_GET['action'])) and that fixed it for me, I'm really interested on how the whole iPhone activation works.

[2014-06-11 16:21] itadepro commented on #6
sorry for my bad English, I do also very interested! carcabot if you saw the example I gave you the final certificate?

[2014-06-11 16:29] #6 closed, assigned to nobody

[2014-06-11 21:29] XeNiRoX commented on #5
Why are you testing with an iPhone 3GS(012030005941102)? or am i wrong !!

[2014-06-11 21:41] itadepro commented on #5
not miss this cert it out of a mini ipad O:!

[2014-06-11 21:46] XeNiRoX commented on #5
miss ?!!
by the way, replaying the same flow to albert after many hours, i got a response. Can we digg more here? or already done?

[2014-06-11 23:52] itadepro commented on #5
sorry my bad English that certificate is the result of a bypass done ... the joke here is to clone the script and make the key well

[2014-06-12 07:29] Optigonnn commented on #5
Does this work, I have an iphone 5s if we could test
iOS 7.0.4
Itunes 11.1.5

[2014-06-12 08:01] XeNiRoX commented on #5
I think, that it will hard to decrypt the server key or the algorithme user to crypt data. I think that albert could be tricked to respond with activation data correctely, otherwise, why bypassers got icloud bypass and no GSM service? it's because they couldn't have all the activation records.

If anyone, had written some code with GUI to send various informations to albert, please share with us.

[2014-06-12 08:09] Optigonnn commented on #5
this was released, it works but it says "invalid blablabla" http://rghost.net/56143073

Essentially it says go to /deviceservices/index.php and change where it says C:// blablabla

[2014-06-12 08:11] danzatt commented on #5
They don't get WildcardTicket, so the baseband can't tell if it's unlocked or not so it just has no signal.

To send custom data to albert you can for example use Posterman plugin (https://chrome.google.com/webstore/detail/chrome-poster/cdjfedloinmbppobahmonnjigpmlajcd). But you can't change anything anyway because ActivationInfoXML is signed by FairPlayKeyChain, so if you change a single bit in A

[2014-06-12 08:40] Optigonnn commented on #5
@carcabot Doulci?

[2014-06-12 09:05] XeNiRoX commented on #5
for now Doulci is just a bypass. i'm sure there is a bug on Albert, i remermber seen someone got informations relative to an iPhone based on his IMEI only, so .....

[2014-06-12 11:13] danzatt commented on #5
Doulci works, I have tried it about 2 weeks ago. Somewhere I've got saved response from them as well (it's the same as from albert, but activation ticket only contains UDID and ActivationRandomness, nothing more. Activation ticket from them doesn't contain WildcardTicket, that's why carrier doesn't work.).

[2014-06-12 11:44] XeNiRoX commented on #5
Can u share please? Or PM if you want

[2014-06-12 12:50] zawzawsugu commented on #5
i have 5s bypassed by minacrises and jailbroken too did u need some file
give me the name i can find from my phone
before they ask for atteched file

On Thu, Jun 12, 2014 at 6:14 PM, xenirox notifications@github.com wrote:

[2014-06-12 14:51] zawzawsugu commented on #5
hope this help

On Thu, Jun 12, 2014 at 7:29 PM, carcabot notifications@github.com wrote:

[2014-06-12 14:53] danzatt commented on #5
The attachement isn't delivered to Github. Can you upload it somewhere (dropbox, ...) and post link ?

[2014-06-12 15:22] danzatt commented on #5
@Optigonnn where did you get that files from ?

[2014-06-12 15:35] zawzawsugu commented on #5
give me your mail

On Thu, Jun 12, 2014 at 9:52 PM, P4r4doX notifications@github.com wrote:

[2014-06-12 15:46] zawzawsugu commented on #5
https://www.dropbox.com/sh/y3dh5ful709e9y2/AABRLvByHpY-JIkKJmWLUa6ma

On Thu, Jun 12, 2014 at 10:05 PM, zawzaw sugu zawzawsugu@gmail.com wrote:

[2014-06-12 16:03] zawzawsugu commented on #5
https://www.dropbox.com/sh/y3dh5ful709e9y2/AABRLvByHpY-JIkKJmWLUa6ma

[2014-06-12 16:11] itadepro commented on #5
is the 5s??

[2014-06-12 16:14] zawzawsugu commented on #5
yes ios 7.0.4

On Thu, Jun 12, 2014 at 10:41 PM, itadepro notifications@github.com wrote:

[2014-06-12 16:17] itadepro commented on #5
I have an iphone 5c with activated after the bypass signal ... I do not remember if it was or aquatime minacriss sorry my bad English

[2014-06-12 16:24] itadepro commented on #5
https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t34.0-12/10422565_575591479229101_4053303740016324134_n.jpg?oh=a9908b4def724cd496dab7308c21562e&oe=539BCC51&__gda__=1402736327_8901becf477a2d38be8b39647cc65d98

[2014-06-12 16:28] XeNiRoX commented on #5
did you pass it?

[2014-06-12 16:29] zawzawsugu commented on #5
no activation loop ?

On Thu, Jun 12, 2014 at 10:58 PM, xenirox notifications@github.com wrote:

[2014-06-12 16:30] XeNiRoX commented on #5
when did you activate it? last days? yesterday?

[2014-06-12 16:31] itadepro commented on #5
if you did the bypass ... it was like 2 weeks ago ... do not remember if it was the server or aquatime minacriss

[2014-06-12 16:32] XeNiRoX commented on #5
hummmm, interessing

[2014-06-12 16:35] itadepro commented on #5
the trouble is that when you take out the sim to the device appears bootloop and has ios 7.1.1 no jailbreak :(

[2014-06-12 17:00] thejames1012 commented on #5
So is there any way to do it? im checking out itadepro's files from drop box for exploits

[2014-06-12 19:43] Optigonnn commented on #5
It has something to do with this read wat Ragemasta said when he was having the error "Invalid blablabla" http://pastebin.com/eq00t0JJ

[2014-06-13 08:36] XeNiRoX commented on #5
i have a question, can we decrypt the FairPlayKeyData with device_private_key ? i tried and tried but always errors !!

[2014-06-13 08:46] zawzawsugu commented on #5
ragemasta error is he bypass on itunes and cannot bypass on device then he
start asking that files

On Fri, Jun 13, 2014 at 3:06 PM, xenirox notifications@github.com wrote:

[2014-06-13 08:47] zawzawsugu commented on #5
minacrises also same on that stage and he figured out some how

On Fri, Jun 13, 2014 at 3:16 PM, zawzaw sugu zawzawsugu@gmail.com wrote:

[2014-06-13 22:26] gibsfun commented on #5
Hi guys, i have a problem
"Fatal error: Call to undefined function openssl_csr_sign() in C:\xampp\htdocs\deviceservices\deviceActivation\index.php on line 45"
Somebody can help me?

[2014-06-14 00:04] awesome-o commented on #5
@gibsfun if your using the zip file attached on this issue then look in the root of the directory inside the folder deviceactivation you'll find the index.php in that file there's a line that has "C:/..." include. You can search and replace. That should fix your issue

[2014-06-14 00:22] gibsfun commented on #5
I do it, bit dont work "/

[2014-06-14 17:47] awesome-o commented on #5
Add a zip of your changes and ill take a look

[2014-06-14 19:43] gibsfun commented on #5
Date: Sat, 14 Jun 2014 10:47:47 -0700
From: notifications@github.com
To: iCloud-Bypass@noreply.github.com
CC: lg.theoriginal@hotmail.com
Subject: Re: [iCloud-Bypass] contact me (#5)

Add a zip of your changes and ill take a look

—
Reply to this email directly or view it on GitHub.

[2014-06-14 20:24] gibsfun commented on #5
Now, i got another problem, A message appears
"Congratulations, your iPhone has been unlocked.
To set up and sync this iPhone, click Continue."

When i Click on "Continue" a undefinied error from itunes come...
(-1202)

The file in Zip: http://www.4shared.com/rar/wLpSDgLEce/Bypass-fungibs.html?

[2014-06-14 20:43] proggg commented on #5
And does anything happens on the phone when you get the error ? any reboot or anything ?

Actually I can't test the source, but normally it should bypass the activation screen ?

[2014-06-14 21:17] gibsfun commented on #5
I'll take printscreen, nothing happens, dont reboot, nothing

[2014-06-15 11:49] dossone commented on #5
am combining the carabot script and another script. it is able to bypass on the itunes but not on device, i can load songs to the device via itunes but still activation locked.
am trying to use openssl_csr_sign but it failed to get parameter 1. i decoded the activation info for the csr file but when i run x509_export, it returns 0kb file wit and error with the cert

[2014-06-15 11:51] dossone commented on #5
i dont know if it is with the openssl configuration on the server because, both the x509_export and the openssl_csr_sign depends heavily on openssl.cnf
if you have any suggestions, please mail me doom00791@gmail.com

[2014-06-15 11:57] danzatt commented on #5
@dossone

It doesn't work anyways. You better do something useful...

[2014-06-15 14:42] proggg commented on #5
@P4r4doX
Why you discourage him?
Let him try, maybe he could find the solution, as we know there is a way to bypass since minacriss has succeded ( I have tested his server and my phone is now open but without carrier)

[2014-06-15 15:58] badrsony commented on #5
hello every body .
dossone you have right i combine many also script  the problem is the ca passphrase  and openssl.cnf
i have the same problem

[2014-06-15 20:17] gibsfun commented on #5
i can pass on itunes but not on iDevice =/

[2014-06-15 21:12] danzatt commented on #5
@proggg

Sure, I agree.

But even Minacriss said he stopped using this code because it doesn't work. Now they're (doulci) using MITM (man-in-the-middle) approch to bypass it.

[2014-06-16 00:43] badrsony commented on #5
i know me too i can bypass it on itunes by not on the device

[2014-06-16 07:59] awesome-o commented on #5
check out this zip, with localhost it bypasses iTunes as well.

http://d-h.st/82j

[2014-06-16 08:29] Optigonnn commented on #5
Any fix?

[2014-06-16 09:58] badrsony commented on #5
no fix for the moment  i'am working to solve it searching for root ca cert locally

[2014-06-16 14:14] gibsfun commented on #5
@badrsony good luck friend, i'm working too

[2014-06-16 20:49] badrsony commented on #5
@gibsfun thank you just i have some news i will post it iam working so hard

[2014-06-16 20:57] badrsony commented on #5
the name of minacriss in the php isn't a case it's the pass for his local  ca root  .other thing the openssl.cnf is important the default configuration don't work  to ssl the idevice .

[2014-06-16 21:09] gibsfun commented on #5
Ooh thanks to shared ><

[2014-06-16 21:59] badrsony commented on #5
thank aquaxetine

[2014-06-17 10:42] Derewith commented on #5
any new fixes?

[2014-06-17 11:11] gibsfun commented on #5
I'm working in....

[2014-06-17 16:44] itadepro commented on #5
gibsfun what errors you have on the server??

[2014-06-17 16:51] gibsfun commented on #5
@itadepro
Failed to contact iTunes Store, but I got a news that Apple is making cuts of some accessions of the new version of iTunes, then later I will come back to version 10 itunes and redo the tests. But I feel I'm close!

[2014-06-17 16:54] itadepro commented on #5
with which code you are testing? htaccess file you working?

[2014-06-17 17:16] gibsfun commented on #5
I join 3 differents server and fix some errors. Yeah, htacess is working

[2014-06-17 17:17] gibsfun commented on #5
Send me a email and i'll send to you the files of my set up:
Lg.theoriginal@hotmail.com

[2014-06-17 18:53] XeNiRoX commented on #5
@gibsfun Did you find how to decrypt the response 'FairPlayData'? i'm stuck on decrypting it using the private key :s

[2014-06-17 23:51] gibsfun commented on #5
sorry @xenirox =/

[2014-06-18 00:01] gibsfun commented on #5
@badrsony news?

[2014-06-18 07:01] stroxo commented on #5
@carcabot Hello i hacked . gadgetwide.com & an old doulci server send me ur mail talk about this

[2014-06-18 08:33] XeNiRoX commented on #5
Hello @stroxo, here is mine : xenirox@gmail.com, please share :)

[2014-06-18 09:36] badrsony commented on #5
@gibsfun  i'm working with mitm know searching for a solution

[2014-06-18 09:37] badrsony commented on #5
@stroxo  share

[2014-06-18 10:47] silveryseven commented on #5
@stroxo please share darylmenor@gmail.com thanks

[2014-06-18 10:58] Derewith commented on #5
@stroxo write me derewith@live.it!

[2014-06-18 12:21] badrsony commented on #5
@stroxo      se45850@gmail.com

[2014-06-18 17:24] dossone commented on #5
doom00791@gmail.com please share

[2014-06-18 18:04] bugtheplanet commented on #5
@stroxo bugtheplanet@safe-mail.net would like the code. Please share. Thanks!

[2014-06-18 20:22] husty commented on #5
junior.husty@live.com pliz share. Thanks

[2014-06-18 20:57] danzatt commented on #5
@stroxo why don't you just upload it here ? My mail is p4r4dox@icloud.com

[2014-06-18 21:24] Derewith commented on #5
He dosn't have the server fixed! (@stroxo)  Anyone have any news?

[2014-06-18 21:53] Derewith commented on #5
Maybe apple fixed ssl connection and certs? ..

[2014-06-18 22:57] itadepro commented on #5
I send the files to someone?

[2014-06-18 23:38] Derewith commented on #5
to me @itadepro derewith@live.it

[2014-06-18 23:47] itadepro commented on #5
was the question I also want files ...

[2014-06-19 00:17] Derewith commented on #5
ahh asd

[2014-06-19 01:21] bpicbd001 commented on #5
please share to me: bpicbd001@gmail.com

[2014-06-19 03:29] mrbaloc commented on #5
@stroxo can you share with me and work togerther baloc.ngo@gmail.com

[2014-06-19 10:00] mrkabbaj commented on #5
@stroxo mr.kabbaj.hassan@gmail.com

[2014-06-19 11:44] silveryseven commented on #5
92.222.11.185 albert.apple.com

http://iphonerm.com/iphonerm-icloud-bypass/

[2014-06-19 12:18] Derewith commented on #5
@silveryseven dosn't work.. it's still buggy

[2014-06-19 13:13] thejames1012 commented on #5
Could someone send me the code please, I will have a look at it and report back, I'm a semi experienced PHP developer. I am also very interested in this bypass jamesbenton50@hotmail.com @stroxo

[2014-06-19 13:48] badrsony commented on #5
don't work we have all the same problem

[2014-06-19 23:53] mxrtuf commented on #5
Send me the code please cmartinuf@gmail.com

[2014-06-20 10:08] bpicbd001 commented on #5
Download this file http://q.gs/6311680/simple-bypass-itunes and put it into local path: localhost/deviceservices/deviceActivation, done!

[2014-06-20 11:06] Derewith commented on #5
@bpicbd001 what is that? another not working server?

[2014-06-20 11:24] bpicbd001 commented on #5
@Derewith simple way bypass itunes

[2014-06-20 11:44] Derewith commented on #5
yeah but only itunes lol

[2014-06-20 12:37] Derewith commented on #5
@carcabot any news from you sir?

[2014-06-21 00:50] Derewith commented on #5
ANYONE?

[2014-06-21 23:58] kashanpak commented on #6
thanks carcabot for doing this , but we have done this before we are also bypass iTunes but our problem is bypass idevice you can contact to me we can help you

kashan.nizami

[2014-06-22 00:09] kashanpak commented on #5
we have created the files contact us for more information

kashan.nizami Skype

[2014-06-22 00:16] awesome-o commented on #5
@kashanpak have a repo for your files?

[2014-06-22 00:19] kashanpak commented on #5
awesome-o   come on Skype

kashan.nizami

[2014-06-22 00:20] awesome-o commented on #5
Whats your skype name?

[2014-06-22 00:22] kashanpak commented on #5
kashan.nizami

[2014-06-22 00:26] XeNiRoX commented on #5
Here is the doulci server, just hacked:
http://pastebin.com/msi3t5yi

I dont have a pc right now to test it, i'm on vacation :D

Need your feedback please ;)

[2014-06-22 00:31] kashanpak commented on #5
xenirox this is not full its only the idea

[2014-06-22 02:12] MassiCsoza commented on #5
the code does not work but you can work on skype have to work?

[2014-06-22 21:01] kashanpak commented on #5
come on Skype guys whose are working to bypass iCloud we have to help each other to make it successful .

Skype :kashan.nizami

[2014-06-23 11:19] radiant-alex commented on #5
I am curious, how minacriss & Co generated Device certificate? all of the code on the internet does not do that right. I was able to reproduce exact same layout, extensions and data as Apple and Mina give back to the phone. The only differences are Signature and authorityKeyIdentifier among X509' V3 extensions, which is sv4hI0SGlWp51YEmjnMQ2KdMjnQ= - And it is a signature of the Public key which w

[2014-06-23 11:32] proggg commented on #5
minacriss is using Man In The Middle approch for the bypass, not this one

[2014-06-23 11:38] kashanpak commented on #5
come on man come on Skype : kashan.nizami

On Mon, Jun 23, 2014 at 4:32 PM, proggg notifications@github.com wrote:

[2014-06-23 11:40] radiant-alex commented on #5
man in the middle - what he changes before sending data to Apple?

[2014-06-23 11:43] proggg commented on #5
@alex-parfenyuk  I wish I knew. If I did, I would have shared it with you and created the full bypass

[2014-06-23 11:45] Derewith commented on #5
@kashanpak GO ONLINE ON SKYPE!

[2014-06-23 11:45] radiant-alex commented on #5
unless, his Man in the middle is an idevice or its IMEI. so they change the request and FairplayCertChain

[2014-06-23 13:51] proggg commented on #5
I think he reproduced an idevice he owns on the server with the same IMEI number and used it for the exploit

[2014-06-23 14:00] gibsfun commented on #5
My Server is 70% functionally, i'll post late here

[2014-06-23 14:52] caosol commented on #5
gibsfun can you share you files?cant any one bypass the!

[2014-06-23 14:52] Derewith commented on #5
@gibsfun what have u fixed?

[2014-06-23 14:59] XeNiRoX commented on #5
I personnaly don't think that it was a MITM, because, how dumb are Apple people to not notice that 70 000 devices were unlocked with requests coming  from the same IP adresse :p ??!!!

[2014-06-23 15:00] proggg commented on #5
Apple are aware that DoulCi found a solution to bypass iCloud activation, there many articles on the news about it.

[2014-06-23 15:02] XeNiRoX commented on #5
Yeah i know that, So why Apple didn't just kick off their @IP??

[2014-06-23 15:04] proggg commented on #5
Because it's not a static IP. I remember when they opened their server 3 times in one week with 3 different IPs

[2014-06-23 15:19] gibsfun commented on #5
Yeah, working in ip4 ip4s, iPad, ipad2, now We working in others devices, When se done, i'lo share here the files

[2014-06-23 15:19] ToWorldMe commented on #5
Progg, Gibsfun
Lol. This server not work, because u have error in code. Then on 29 line u read another data... and u not have in input data $_POST['activation-info-base64'])... And ur "if else" go to congratulation without activation data

[2014-06-23 15:26] proggg commented on #5
@ToWorld I'm not the one who wrote this code, and I'm not really working on it now because I'm very busy with my work. Now I'm only helping with some information that I know.

[2014-06-23 17:39] badrsony commented on #5
@gibsfun  good job brother

[2014-06-23 18:05] mrbaloc commented on #5
@gibsfun can you share with me the code? i have an ipad2 icloud locked.

[2014-06-23 19:10] dossone commented on #5
the issue with $_POST['activation-info-base64'] is that, with my test devices, the iphone sends $_POST['activation-info'] without the base64. with that in mind it continues with the rest of the codes that uses the base64 notion

[2014-06-23 19:26] aldosky commented on #5
@gibsfun i have a server with itunes bypass only.

Share ur experiment jejeje

[2014-06-23 19:35] Derewith commented on #5
@gibsfun what have u fixed? show us!

[2014-06-23 20:50] Optigonnn commented on #5
@gibsfun can I test it? I have iphone 5s.

[2014-06-23 20:53] Derewith commented on #5
i think he is lying...

[2014-06-23 21:26] gibsfun commented on #5
I say that not complete, wait for tomorrow, tomorrow 100% or not i'll Share

[2014-06-23 22:25] Derewith commented on #5
@gibsfun add me on skype rohe_jon i have to talk you!
---- ATM i found some new code about the certs, maybe it can help..

![clren](https://cloud.githubusercontent.com/assets/2650542/3364884/53e3570c-fb25-11e3-9b29-c64d267eaa28.png)

[2014-06-23 22:32] Derewith commented on #5
we have to find new accountTokenCertificateBase64 and FairPlayKeyData

[2014-06-23 22:50] aldosky commented on #5
@gibsfun ok bro, i'm waiting, thanks.

[2014-06-24 00:07] jawal37 commented on #5
https://code.google.com/p/iphone-elite/wiki/lockdowndindepth

[2014-06-24 00:07] jawal37 commented on #5
read this is important

[2014-06-24 01:13] ToWorldMe commented on #5
@dossone,
He no send $_POST['activation-info']. He send xml file with node activation-info. Ur lye

[2014-06-24 10:58] badrsony commented on #5
@gibsfun  share  with us please
se45850@gmail.com

[2014-06-24 11:14] Derewith commented on #5
@gibsfun so where are that new server 100% fixed?

[2014-06-24 16:37] aldosky commented on #5
@gibsfun today is the day jejeje

[2014-06-24 16:49] gibsfun commented on #5
U email?

[2014-06-24 16:49] aldosky commented on #5
aldoskyy@live.com @gibsfun

[2014-06-24 16:51] mxrtuf commented on #5
@gibsfun send me the files please cmartinuf@gmail.com

[2014-06-24 17:13] kashanpak commented on #5
where the files send me the files here onlinetechtrick@gmail.com please

On Tue, Jun 24, 2014 at 9:52 PM, Alex LucID notifications@github.com
wrote:

[2014-06-24 17:23] badrsony commented on #5
thanks

[2014-06-24 17:25] aldosky commented on #5
@gibsfun share with us bro :+1:

[2014-06-24 19:21] kashanpak commented on #5
Bro share the files with us also

[2014-06-24 19:22] harphone commented on #5
@gibsfun share with me too dude tartabiz@yahoo.com thanks

[2014-06-24 19:30] kashanpak commented on #5
@gibsfun share the files with us dude at onlinetechtrick@gmail.com

[2014-06-24 19:37] radiant-alex commented on #5
did he send files to anybody? just curious

[2014-06-24 19:48] caosol commented on #5
@gibsfun can you send me you files PHP?thx you!

[2014-06-24 19:49] caosol commented on #5
i think no share file today....good luck

[2014-06-24 20:31] husty commented on #5
@gibsfun  share the files pliz junior.husty@live.com

[2014-06-24 20:58] manothbi commented on #5
Share files pls narciscomas@yahoo.es

[2014-06-24 21:02] itadepro commented on #5
@gibsfun   send me the files please zeldajando@gmail.com !

[2014-06-24 21:05] manothbi commented on #5
anyone can help me to access to filesystem on my iphone if it lock on icloud pass?

[2014-06-24 22:46] jawal37 commented on #5
@gibsfun  can you send me files i want test my ip 5 THINKS
I HAVE FILE I ACTIVE JUST ITUNES THINKS

[2014-06-24 22:57] Derewith commented on #5
he shared the file with me, dosn't work guys we have do code it..

[2014-06-24 22:59] aldosky commented on #5
@Derewith bro share with us to help with the code

[2014-06-24 23:00] Derewith commented on #5
i won't share it because for now is private, but maybe if in this days i will have some news about the bypass i will tell you as soon as possible ;) @aldosky

[2014-06-24 23:04] aldosky commented on #5
@Derewith Ok bro, but i have a question, same files but with some modifications?

[2014-06-24 23:21] Derewith commented on #5
not the same it all editet

[2014-06-25 01:01] awesome-o commented on #5
Bypass like the one on this repo more than likely wont work so anyone editing minacriss files on here are missing a lot of code. Our best bet is one repo and pull requests as we find fixes for most of this php indexing issues

[2014-06-25 01:43] mxrtuf commented on #5
Someone who has an iphone 4s with ios 7.1.1 legaly activated, with jailbreak, please send me this files: general.plist, data_ark.plist and activation_record.plist

[2014-06-25 01:43] mxrtuf commented on #5
cmartinuf@gmail.com

[2014-06-25 01:57] awesome-o commented on #5
@mxrtuf this Is to get around the bootloop. You'll probably find someone on twitter everyone here isn't bypassed

[2014-06-25 02:20] mxrtuf commented on #5
yes, exactly, maybe someone has it, I have to give it a try.

[2014-06-25 06:10] radiant-alex commented on #5
Were u managed to generate auth key x509's V3 extendion same as apple/doulci? We need correct keys, private keys

[2014-06-25 06:34] caosol commented on #5
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 1 (0x1)
        Signature Algorithm: sha1WithRSAEncryption
        Issuer: C=US, O=Apple Inc., OU=Apple Certification Authority, CN=[TEST] Apple iPhone Certification Authority
        Validity
            Not Before: Mar 21 06:20:50 2007 GMT
            Not After : Mar 12 06:20:50 2022 GMT
        Subject: C=US, O=Apple Inc., O

[2014-06-25 06:35] caosol commented on #5
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 2 (0x2)
        Signature Algorithm: sha1WithRSAEncryption
        Issuer: C=US, O=Apple Inc., OU=Apple Certification Authority, CN=[TEST] Apple iPhone Certification Authority
        Validity
            Not Before: Mar 21 06:20:50 2007 GMT
            Not After : Mar 12 06:20:50 2022 GMT
        Subject: C=US, O=Apple Inc., O

[2014-06-25 06:36] caosol commented on #5
here its real,stoken pem for apple...but...Signature Algorithm: sha1WithRSAEncryption

[2014-06-25 06:41] radiant-alex commented on #5
It is not what I asked about. These are all certs, we need keys. The authorityKeyIdentifier V3 extension value of the Device Certificate has to be sv4hI0SGlWp51YEmjnMQ2KdMjnQ=. It is a signature of the Public key that is used for this cert issuing. If you manage to generate this DeviceCertificate and you see that your key is the one as I mentioned above, you are lucky and please share your cert/ke

[2014-06-25 06:42] radiant-alex commented on #5
Here it is in HEX: B2 FE 21 23 44 86 95 6A 79 D5 81 26 8E 73 10 D8 A7 4C 8E 74

[2014-06-25 06:47] caosol commented on #5
@gibsfun can you bypass only ipad now?or bypass iphone4s/5/5s?can you show server files?please?

[2014-06-25 11:31] gibsfun commented on #5
Okay Guys, sorry i have'd some problems, and the server WORKS, but only ip4 and ipad 1/2... i'll uploade to onedrive

[2014-06-25 11:35] gibsfun commented on #5
Now... .http://1drv.ms/TitmKo
I'll stop with server, then guys, sorry, but it's hard.
Good Luck.

[2014-06-25 12:41] mrbaloc commented on #5
@gibsfun i test with iphone 4 but error "invalid information"?

[2014-06-25 12:58] radiant-alex commented on #5
Because it won't work with these keys/certs, silly

[2014-06-25 13:02] mrbaloc commented on #5
@alex-parfenyuk you say someone silly? you're so stupid that dont understand what i'm asking for. @gibsfun said code work with ip4 ipad1/2 so i asking him why.

[2014-06-25 13:25] radiant-alex commented on #5
@mrbaloc this does not make you smart.

[2014-06-25 13:36] proggg commented on #5
@alex-parfenyuk  Why it won't work with these Certs ? Have you tested it ? Because I don't have an iDevice right now to test it, but @gibsfun said it work with iPhone4 and iPad1/2

( dont forget that the file openssl.cnf is important )

Someone else tested it ?

[2014-06-25 13:41] XeNiRoX commented on #5
You have to configure your openssl.cnf to generate certs with Issuer = Apple.
And people please stay calm, we are here to discuss ideas not to fight each other, thank you

[2014-06-25 13:48] radiant-alex commented on #5
@proggg yes, I tried the code and used correct paths for the OpenSSL configuration. I have iphone 4 on 7.1.1 and ipad 2 on 7.1.1. Both failed with same error. I also tried iphone 5 and ipad 3, got same results. I compared these certificates and their layout with what apple issues and what minacriss issues - they are different. As I said above, the authKey is same in mina's and Apple's Device Certs

[2014-06-25 13:54] Derewith commented on #5
@alex-parfenyuk yeah but how can we made it?

[2014-06-25 13:58] radiant-alex commented on #5
I don't know yet :( trying options

[2014-06-25 16:59] Racaox opened #7 "Urgent , contact"
Add me on skype : Racaox2 , i have to skype with u ^^

[2014-06-25 22:57] silveryseven commented on #7
this guy always asking a file then later he is posting like woooo working blah blah blah.

[2014-06-26 07:11] Racaox commented on #7
Yea , i search it for analyze it , and if i use it . I say created by " silveryseven " or other .

[2014-06-26 12:31] radiant-alex commented on #5
Might be helpful - authorityKeyIdentifier's of certificates:

5zQqLiLeOWBrtJTOd4NhLzGgfDU= - iPhoneActivation (Lockdown)
5zQqLiLeOWBrtJTOd4NhLzGgfDU= - iPhoneDeviceCA (Lockdown)

Td4ryYYB577YPDWo2i+G24hpadY= - my_deviceca
XGgKnSvbRdml/foy1NwjPbDxjBM= - my_iPhoneDeviceCA

RaJMqYpbSidehaZNBRwnRKWHdhc= - FactoryDeviceCA (Lockdown)
RaJMqYpbSidehaZNBRwnRKWHdhc= - FactoryActivation (Lockdown)

sv4hI0SGl

[2014-06-26 14:04] sniperegy commented on #5
ActivationRandomness D9230414-7EB9-40C0-A186-FD96C77072A1
ActivationRequires
ActivationTicket
ActivationState Unactivated

BasebandActivationTicketVersion V2 BasebandChipID 7278817 BasebandMasterKeyHash

AEA5CCE143668D0EFB4CE1F2C94C966A6496C6AA BasebandSerialNumber CvP+ig==

BuildVersion 11B554a DeviceCertRequest

LS0tLS1CRUdJTiBDRVJUSUZJQ0FURSBSRVFVRVNULS0tLS0KTU lJQnhEQ0NBUzBDQVFB
d2dZTXhMVEFyQm

[2014-06-26 22:22] Maaawww commented on #5
Hi guys i found some files... But didnt work. Why?
![image](https://cloud.githubusercontent.com/assets/7947166/3405668/4ef79c6e-fd80-11e3-970a-0fb8952d71ce.jpg)

[2014-06-26 22:29] manothbi commented on #5
i think we have to start to look step by step, to resorve this, i have found many files to build server but the thig is that the activation device need more than just request and some public key.
So we can start to look step by step and resolve our plroblem or just ask for files

[2014-06-27 18:10] thejames1012 commented on #5
If anyone need a base64 decoder program let me know, as I have made a decoder/encoder

[2014-06-27 18:13] manothbi commented on #5
@thejames1012  can you send it to me pls, if it's different that this:

[code]

[2014-06-27 18:43] rafaelcarioca7 commented on #5
hello guys my site about server lets share our ideas http://www.ic-hack.com/

[2014-06-27 20:25] thejames1012 commented on #5
@manothbi it is a piece of PC software that can decode and encode base 64 encryption here is the link : https://www.dropbox.com/s/x6thdwnffzh35sm/Base64Decoder.exe

[2014-06-27 20:54] gibsfun commented on #5
@Maaawww this is my file that u're using, this not complete... i'm working

[2014-06-27 21:12] manothbi commented on #5
@gibsfun  that is not complet in your file?

[2014-06-27 21:15] gibsfun commented on #5
lockdown files of each unity

[2014-06-27 21:16] gibsfun commented on #5
i Extract Lockdown file from iPhone 4, iPhone 5 and iPad 2. But i don't know how aplly

[2014-06-27 21:16] caosol commented on #5
you want lockdown IPhone5 normal activeted?no bypass right?

[2014-06-27 21:17] gibsfun commented on #5
i have Lockdown File from normal activated. Not from a bypass device =/

[2014-06-27 21:19] Maaawww commented on #5
@gibsfun cool guy, is not complete but thank you for sharing! Hope that someone could fix the error!

[2014-06-27 21:21] gibsfun commented on #5
Yes, i'm in a team with 4 peoples, and we are working to make it's work!

[2014-06-27 21:21] manothbi commented on #5
@gibsfun but how you cryptographic

[2014-06-28 13:30] rafaelcarioca7 commented on #5
fiddler logs guys doulci and mina server.
http://www.ic-hack.com/fiddler-logs-mina-and-doulci/

[2014-06-29 09:50] Maaawww commented on #5
Guys one quest, i have an iPhone 5 ios 7.1.1 that is IMEI locked with Orange(UK). What is better, r-SIM 9 or r-SIM mini2?

[2014-06-29 11:16] Optigonnn commented on #5
R-SIM air 2 is better.

[2014-06-30 01:49] caosol commented on #5
any can bypass ipad 2-ipad mini?

[2014-07-02 02:04] rafaelcarioca7 commented on #5
iOS 7.1.2 closes the Activation Lock vulnerability used by Doluci.
http://www.ic-hack.com/apple-ios-7-1-2-released/

[2014-07-02 07:37] radiant-alex commented on #5
Where did u get that info? Do somebody know plist format for the post-request to the albert's certifymy service?

[2014-07-03 07:51] Maroc-OS commented on #5
:) nice to see such discussions :) doulCi Team always works to give you the best thing you need and we are hard working for that.

Thanks Guys.

[2014-07-03 08:01] Optigonnn commented on #5
@Maroc-OS thanks for the reply, but do you know when Doulci would be released, I've been waiting to unlock my device for 1 month now ever since I bought it from ebay.

[2014-07-03 15:35] manothbi commented on #5
@Maroc-OS Why you don't work and stop to publish your... we didn't saw nothing from them just promise. and here we try to help each other to get one solucion.

[2014-07-03 18:11] SergeStre commented on #5
Forgive and forget Doulci! They can do nothing. Even start the bypass server. They are in the past. To much empty words and promises. Arghhh... Sick of them )

[2014-07-03 22:16] danzatt commented on #5
Come on guys, they're working hard. If you have read the article, it says the server side vulnerability has been patched weeks ago what corresponds to the date when doulci server was up for the last time.

(For those who don't know @Maroc-OS  is one of the authors of doulci)
@Maroc-OS
I'm the one who contacted you by an email and you said you'll share the exploit code with us when Apple patches it

[2014-07-04 04:35] SergeStre commented on #5
@alex-parfenyuk Skype me Sergeleons. I can solve your problem. But it will not make server working) Bypass server will not work any more, @Maroc-OS can confirm this!)

[2014-07-04 04:48] danzatt commented on #5
@SergeStre
Can you post it here ?

[2014-07-04 04:52] SergeStre commented on #5
@P4r4doX
They'll upload very, very soon! Did you notice how many peoples waste their  time to make working bypass server? But even DoulCi can't  start it with right code. Sounds strange, yea?

[2014-07-04 04:56] SergeStre commented on #5
I will post nothing until some of DoulCi members says : Guys, don't waste your time, it will not work or it works but only thing you need are right code and files.

[2014-07-04 04:58] danzatt commented on #5
Can you contact me at p4r4dox@cloud.com ?

[2014-07-04 05:17] radiant-alex commented on #5
@SergeStre added you on skype

[2014-07-04 05:29] danzatt commented on #5
@alex-parfenyuk
Check this log: http://pastebin.com/CTaG5dmk search for certifyMe and you'll find the whole request (including CertificateInfoXML).

[2014-07-04 05:51] radiant-alex commented on #5
@p4r4dox Thanks a lot!

[2014-07-04 07:31] kashanpak commented on #5
@P4r4doX @SergeStre @carcabot   please contact me on Skype . Urgent kashan.nizami

[2014-07-04 20:34] manothbi commented on #5
anyone know the requested iphone with passcode to albert.apple.com?

[2014-07-05 10:19] Maroc-OS commented on #5
doulCi has bean patched from a while ago in server side certifyMe exploit
and only couple days in iOS side exploit for ip4 and wifi idevices (even
iH8sn0w didn't knew it before i tell him about it), we are working on other
things not the old server methods, we didn't published the files yet
because there is two server side bugs that we used and one of them sill not
yet fully patched. btw the repo

[2014-07-05 22:46] manothbi commented on #5
@Maroc-OS
Thank you for your reply. but what i was asking for, i found  some Wiki about it's, there is no request it to albert server all it on iTunes but all the documents it's for out of time just for old version. it will take a time to do something useful.

[2014-07-06 16:19] logic07 commented on #5
there where or are 2 exploits Maroc used a different one from Mina, and all rely on the apple server, the php code that Mina posted is far from the truth of exploit... all have been patched on 7.1.2 but still works on earlier 7.x.x,

[2014-07-06 17:55] Derewith commented on #5
@Maroc-OS when you will release the server patched it will work on ios 7.1.1 or not?

[2014-07-07 03:19] Maroc-OS commented on #5
look guys the code here is not even far to work and our exploits are not
using this methods even mina exploit :) but this code here can help if you
have apples private key also you need to find a way to generate the real
WildTicket that i don't think is too easy to done. and i say it again not
all the exploits has bean patched but mostly still 30% can be used in
server side and ios side. best of l

[2014-07-07 03:27] Optigonnn commented on #5
@Maroc-OS is it possible you can bypass my device please? If not it's fine.

[2014-07-07 07:55] mvandrei commented on #5
Aqua said you guys found a solution for wildcardticket. Cold you share it with us, please? You can use another username, logged with proxy, and just let us a dopbox/transfer.com anykind of link?

[2014-07-07 09:15] gibsfun commented on #5
https://onedrive.live.com/redir?resid=2F1EA76EB3B9596D!1051&authkey=!AD78Veor92wVMwM&ithint=folder%2c.rar

[2014-07-07 09:19] danzatt commented on #5
@gibsfun
What a crap

[2014-07-07 11:14] XeNiRoX commented on #5
loool

[2014-07-07 12:08] gibsfun commented on #5
At least it works to go to the springboard

[2014-07-07 12:09] danzatt commented on #5
No, it doesn't unless you make Setup.app to trust your SSL certificate (i.e never).

[2014-07-07 12:09] Optigonnn commented on #5
What's the springboard, help me please I have an iphone 5s.

On Mon, Jul 7, 2014 at 10:08 PM, gibsfun notifications@github.com wrote:

[2014-07-07 13:02] gibsfun commented on #5
@P4r4doX  yeah.... it's work!
if you can analyze what I'm trying to tell you
It crash de safari and bypass setup.app until reboot.
But after bypass, make a jailbreak, install iFile and erase the setup.app and then apply the fix carrier.
You can not register a new iCloud account but you can use the machine until a new method

[2014-07-07 13:06] mxrtuf commented on #5
Could you share the real server files @gibsfun

[2014-07-07 13:09] badrsony commented on #5
please share i'm going to be crazy every days alot of work but no ways if some one do it please share

[2014-07-07 13:09] gibsfun commented on #5
Forget the server files for a moment, the apple has released an official statement saying that He covenanted their certificates. So the team is Doulci as "late."
Among this link: https://onedrive.live.com/redir?resid=2F1EA76EB3B9596D!1051&authkey=!AD78Veor92wVMwM&ithint=folder%2c.rar
Open the file "fluxograma.jpg" and understand how it works processed.
The HTML for heavy enough local server is in

[2014-07-07 13:13] proggg commented on #5
@gibsfun so we need to make a captive portal ?

Also, what you mean by fix carrier ? Can you give us more info please ?

Thanks.

[2014-07-07 13:18] gibsfun commented on #5
Yes, a captive portal using EasyHotspot or pfSense (recomend)
Fix carrier: i'll found a tutorial video and post here

[2014-07-07 13:20] proggg commented on #5
@gibsfun ok, thank you. I have an iPhone5, i'll test with it when you post us the video, and then test iPhone4 when I get home.

[2014-07-07 15:05] XeNiRoX commented on #5
@gibsfun It would be great to have the Fix carrier tutorial.
BTW you can set the proxy of your iDevice to use your machine, and deploy the solution in your local server, and when activating the iDevice, send to it the page @gibsfun just share.

I'll test it when back home.

[2014-07-07 15:17] CRACKBOY commented on #5
it's good to see a conversation like this :), i read all comments and i found that:
@alex-parfenyuk you're alright, i recommended you to try heartbleed exploit to get what you want.
@carcabot thnx for your work, just fix : <data>'.$DeviceCertRequest.'</data> by <data>'.$deviceCertificateBase64.'</data>, the device need certificate not a request.
@gibsfun good work for you too.
Guys forget about Do

[2014-07-07 18:34] kashanpak commented on #5
You all guys are working hard . Thanks Crackboy for appreciating.  But we want to talk to sort this please guys here is our skype . kashan.nizami we are already group of three people

[2014-07-07 18:35] gibsfun commented on #5
@kashanpak my skype: lgibelli
i'm in a three people group too. :D

[2014-07-07 18:52] kashanpak commented on #5
then please join our team you three and we three makes six and works done . I will also send you the request please accept as well and start work and finish this stuff.

[2014-07-07 18:57] kashanpak commented on #5
@carcabot please you also join our team if we work like a team then we will make this works !!!

[2014-07-07 20:13] mvandrei commented on #5
so in total you are 9 people with the same files and same unresolved issue LOL!

[2014-07-08 00:59] CRACKBOY commented on #5
@mvandrei This talk is a failed human being, stay with your LOL waiting for the right server like a slave

[2014-07-08 07:56] mvandrei commented on #5
@CRACKBOY you all want to be BOSSes, to make teams. You are pathetic! I am not waiting, I am working by myself. So go back to your little team and play in the sand.

[2014-07-08 07:58] mvandrei commented on #5
You know, I am sick and tired of people like you, begging for help, and after you are provided with the solution, you go and ask for money.

[2014-07-08 11:32] gibsfun commented on #5
@mvandrei
Friend, sorry but your attitude is ridiculous!
To say that someone else looking for someone in greater as you are "really working".
We're not here to judge, we are to help.
You do not have to want to show "superior" to another person.
Even though they are not the "bosses", we need all the help possible. Since Beta-testers to C # programmers.
So please, let's not create a mess that topic.

[2014-07-08 11:35] danzatt commented on #5
@gibsfun
No offence but can you list a single achievement your team has made ?

[2014-07-08 11:37] gibsfun commented on #5
@P4r4doX  add me on skype, and i join u to team.
Skype: lgibelli

[2014-07-08 11:58] mvandrei commented on #5
As P4r4doX asked, why don't you post your progress or achievement here? As I said above, you all want help, but you give non, you lock yourself insde 'a team' and at the end, IF you'll succeed, you'll be asking money for the solution that others helped you free

[2014-07-08 12:01] gibsfun commented on #5
@mvandrei
I'm being friendly.
At no time have I thought of using it to get money. And please, I insist you add me on skype. I prefer to put you in the group to accompany the progress and join the discussions than staying posting regularly in the cloud.

[2014-07-08 12:02] gibsfun commented on #5
I do not need anyone's money, I have a great work that has no ties to this line of mobile phones.

[2014-07-08 12:03] Optigonnn commented on #5
Gibs, accept skype request.

On Tue, Jul 8, 2014 at 10:02 PM, gibsfun notifications@github.com wrote:

[2014-07-08 13:49] CRACKBOY commented on #5
let's work forget about him

[2014-07-08 13:49] CRACKBOY commented on #5
@mvandrei work work

[2014-07-08 23:20] proggg commented on #5
Any news about the fix cartier you mentioned?

Or maybe you can give us some infos about how it's done and we can work on
it.

Le lundi 7 juillet 2014, gibsfun notifications@github.com a écrit :

[2014-07-09 17:35] SergeStre commented on #5
@proggg
More info you can find here https://twitter.com/CristianLin1

[2014-07-09 19:03] CRACKBOY commented on #5
@carcabot can anyone tell me how faireplay keydata generated ? it's the combination of what ?

[2014-07-10 12:58] proggg commented on #5
Does someone have an iPhone5 with jailbreak, and not bypassed ?
I need "Preferences" and "Lockdown" folders.

Please if you have, upload and send them by Email: yoopishare@gmail.com

Thanks.

PS: The iPhone should be officially network unlocked

[2014-07-10 16:51] gibsfun commented on #5
@proggg i have iPhone 5 Activate, mto bypassed, officilly unlock, add me ok Skype, i'll Share to u

[2014-07-10 16:52] gibsfun commented on #5
Or wait, late i can send on ur email

[2014-07-10 17:15] proggg commented on #5
@gibsfun I need it from a clean iPhone, not from iCloud bypassed, because I'm working on carrier fix.

But if you have carrier on your bypassed phone, it could be usefull

[2014-07-10 18:02] gibsfun commented on #5
Sorry my fail, its activated, not bypass.... Its clean

[2014-07-10 19:30] CRACKBOY commented on #5
@caracabot did you bypass acticvation lock screen on iPhone 5 with your
server ?

2014-07-10 19:02 GMT+01:00 gibsfun notifications@github.com:

[2014-07-10 20:05] proggg commented on #5
Can you upload the folders and send them by Email? Because I'm connected
with my phone, I can' go on skype.

PS: I still need the folders from different other iPhones, so if others
can, please send me. Thanks.

Le jeudi 10 juillet 2014, gibsfun notifications@github.com a écrit :

[2014-07-11 03:40] SergeStre commented on #5
Did you download files that Mina and CristianLin1 offered in their tweeter?

11.07.2014, 02:05, "proggg" notifications@github.com:

##

Отправлено из мобильной Яндекс.Почты: http://m.ya.ru/ymail

[2014-07-11 18:51] manothbi commented on #5
@SergeStre which files? and when?

[2014-07-11 19:57] Optigonnn commented on #5
If you guys are all smart you'd look at Doulci's new server method, they don't connect via wifi or login. They click "connect via itunes" instead of Wifi, maybe the exploit is found there, just saying.. https://www.youtube.com/watch?v=ki1WHhJ1H1Q

[2014-07-11 20:01] CRACKBOY commented on #5
@Optigonnn  nope man it's normal, don't look at them forget about them

[2014-07-11 20:14] manothbi commented on #5
@Optigonnn this video dosen't show that a idevcie was unactiveted or need apple ID

[2014-07-14 19:01] CRACKBOY commented on #5
@carcabot hope you're good :)
look you have to forget about the server that everybody work on it, because apple has fixed heatbleed exploit ( which used by Doulci team to get the private key from server ) and they changed it, so all php file are unuseful, but there's another way :) come on private i'll told you :) , hope you got me.
cordinally CRACKBOY

[2014-07-14 19:02] CRACKBOY commented on #5
for everybody all Doulci team members and the other who said they bypass iCloud for the right time they are lying and try to get donate forget about him and try to find another exploit

[2014-07-14 20:28] manothbi commented on #5
@CRACKBOY What is the other method if we can't use request HTTPS u mean that all iphones 7.x  must upgread to new ios to be activated? i don0t thing so.

[2014-07-14 20:40] sniperegy commented on #5
https://www.youtube.com/watch?v=1EdhumnM8kM

[2014-07-15 00:32] manothbi commented on #5
Let work on this files https://mega.co.nz/#!HRwixARD!OFxyDm_CJpq4rL8XbIsm6QkbR9LDVHE7wMMkD6uvRgY

[2014-07-15 01:25] lordlost commented on #5
Hello friends read all publications es see that everyone has good ideas, most like to give a hint, you guys have to consentrar in. Pem (certificates) they are encrypted with two encryption base64 and another that still do not know think it is AES-256 or sha1WithRSAEncryption, the focus is decrypt the file and edit it to enable idevice

example: iPhoneActivation.pem decode base64

0 is 0???? φ '? +

[2014-07-15 01:38] CRACKBOY commented on #5
put your certificate pem code here it will be decoded :)
sslshopper.com/certificate-decoder.html

2014-07-15 2:25 GMT+01:00 lordlost notifications@github.com:

[2014-07-15 04:45] leca27 commented on #5
Does anyone have a valid method to bypass the 1cloud? please share, thanks

[2014-07-15 20:30] manothbi commented on #5
So what i understand that if we need to encrypt private_key we have to buy first super computer. that it mean created random script with 128 kb that will take more time to crate new ios. the thing is that iCloud server web have the master key to encrypt the private keys.

[2014-07-16 01:39] CRACKBOY commented on #5
please forget about script! 65 billion year to crack private key

2014-07-15 21:30 GMT+01:00 manothbi notifications@github.com:

[2014-07-16 11:55] lordlost commented on #5
CRACKBOY I speak of certificates that sslshopper.com can not read the certificates of authentication iPhoneActivation_private.pem, iPhoneDeviceCA_private.pem and private_key.pem

[2014-07-16 16:11] CRACKBOY commented on #5
those files are not certificates, they are privates keys

2014-07-16 12:55 GMT+01:00 lordlost notifications@github.com:

[2014-07-17 00:26] 0xid3 commented on #5
i have an ip5s and i try a lot of method to bypass, not work. in this night in my activation screen when i connect usb appear that question to trust or not this computer and iactivator, that oldest program say me about my device is actived, i think if i try to jailbreak works, strange... but i restart my device and disappear that question...sorry for my english

[2014-07-17 00:42] proggg commented on #5
I haven't tested the iactivator, but I heard that it's fake. If someone
else have tested it can confirm us if it works or not.

Anyway, I'm still working on carrier fix for bypassed devices, so if
someone has a clean iPhone GSM normally activated(not bypassed), factory
unlocked and with jailbreak, please send me the folders:
/private/root/libraries/preferences
/private/root/libraries/Lockdown

It

[2014-07-17 03:08] CRACKBOY commented on #5
guys activation and carrier wildcardTicket is signed by apple private key
please try to think about that

2014-07-17 1:42 GMT+01:00 proggg notifications@github.com:

[2014-07-17 03:22] mrkabbaj commented on #5
you can show full email iCloud without Stars (exemple*****@hotmail.com)? on itunes by a script ?
because is the last chance to contact him to resolve the icloud
sorry for my bad english

[2014-07-17 03:28] proggg commented on #5
I'm trying to fix the carrier for those who have  bypassed their device
when it could be done before, by doulci or any other method.

I own an iPhone5 bypassed by doulci, I fixed the bootloop and now I only
have signal without carrier. That mean I can't receive and makr call, only
reveive SMS.

So I'm trying to help those who are stuck in this phase.

Le jeudi 17 juillet 2014, CRACKBOY notificatio

[2014-07-17 03:34] rafaelcarioca7 commented on #5
proggg what did you do for your iphone receive SMS

[2014-07-17 03:47] proggg commented on #5
Jailbreak the iphone, install ifile and go to
/private/var/stach/.../applications/setup.app/

Rename(not delete) info.plist and restart your phone. This will fix
bootloop and you will be able to receive SMS, but with some delay(5-15min)

Le jeudi 17 juillet 2014, rafaelcarioca7 notifications@github.com a
écrit :

[2014-07-17 03:49] caosol commented on #5
@proggg hey do you found the for 3G internet?

[2014-07-17 03:53] rafaelcarioca7 commented on #5
ok bro thanks

[2014-07-17 03:55] proggg commented on #5
We can't use cellular data or phone calls until we fix carrier. Only
receive SMS and send MMI code(like the code that check the funds).

Le jeudi 17 juillet 2014, caosol notifications@github.com a écrit :

[2014-07-17 04:08] caosol commented on #5
@proggg DO YOU HAVE BYPASS FILES?O SERVER FOUND FOR THE?

[2014-07-17 04:10] proggg commented on #5
No, it was bypassed by DoulCi server, 2months ago.

Le jeudi 17 juillet 2014, caosol notifications@github.com a écrit :

[2014-07-17 04:26] caosol commented on #5
OK THX BRO FOR INFORMATION!

[2014-07-17 19:58] CRACKBOY commented on #5
to those who are bypassed iCloud by Doulci Server ! pelase send me
/lockdown folder at CRACKBOY2006@gmail.com please i need this to complide
my theory thx !

2014-07-17 5:26 GMT+01:00 caosol notifications@github.com:

[2014-07-17 20:00] proggg commented on #5
You need it from bypassed device or officially activated?

Le jeudi 17 juillet 2014, CRACKBOY notifications@github.com a écrit :

[2014-07-17 20:20] rafaelcarioca7 commented on #5
here bro lockdown folder bypassed minacriss server http://www.ic-hack.com/download-lockdown-folders/

[2014-07-18 00:52] CRACKBOY commented on #5
think you rafaelcarioca i have those files already i need more,
proggg i need the bypassed one ! :)

2014-07-17 21:20 GMT+01:00 rafaelcarioca7 notifications@github.com:

[2014-07-18 00:53] CRACKBOY commented on #5
thank*

2014-07-18 1:52 GMT+01:00 Slim Habli slim.habli@esprit.tn:

[2014-07-18 00:53] CRACKBOY commented on #5
proggg we have to talk this is my skype CRACKBOY2006

2014-07-18 1:53 GMT+01:00 Slim Habli slim.habli@esprit.tn:

[2014-07-18 01:09] sniperegy commented on #5
https://github.com/falash143/icloud

What about this

[2014-07-18 01:32] proggg commented on #5
I'll send you the files tomorrow, because my bypassed phone is at home and
I'm not there.

Le vendredi 18 juillet 2014, CRACKBOY notifications@github.com a écrit :

[2014-07-18 03:42] CRACKBOY commented on #5
thx anyway :) don't forget to contact me on skype i have a wonderful idea .

2014-07-18 2:32 GMT+01:00 proggg notifications@github.com:

[2014-07-18 21:08] manothbi commented on #5
@ Rafaelcarioca7 the wiki Lockdown is https://code.google.com/p/iphone-elite/wiki/lockdowndindepth old version, and files, one of them is mine. a suggestion: when you create the server, please check the information. in my case i had to change the name of the super-user pc With. 3614205124.members.btmm.icloud.com for identifying it as a member server icloud. sorry about my English

[2014-07-19 01:17] rafaelcarioca7 commented on #5
@manothbi  what  did you change?

[2014-07-19 19:37] rafaelcarioca7 commented on #5
I need lockdown folder iphone 4s or 5 bypassed by mina or doulci server.
please send rafaelcarioca7@hotmail.com

[2014-07-19 21:59] 0xid3 commented on #5
I think with lockdown folder you can fix your carrier on any iphone who was bypassed, i tried on2 iphone 4 and worked for me. IOS 7.1.1.
My method was to enter in ssh with gw-bypass-tools by varo and copy that folder called lockdown and setup.app (iphone actived and locked with passcode)
After that put my dev in dfu and restore it. I fallow all steps an in last step were asj me icloud email i put

[2014-07-19 22:00] 0xid3 commented on #5
Sorry for my english

[2014-07-19 22:47] proggg commented on #5
@0xid3 As I understood, you mean you extracted the folders from the device when it was active, and then replace it when it in the same device when it was inactive ?

If that's it, that totally normal that the phone will be active and working with carrier, since you have the valid AcountToken for your phone stored from the Lockdown folder you just extracted.

[2014-07-19 22:49] rafaelcarioca7 commented on #5
i didnt understand what you do

[2014-07-19 22:57] 0xid3 commented on #5
Yes when i extract foldert the device was actived and i put them back when was in activation screen. I used the folders from first device to actived other device and works for me. 2 devices bypassed and fully work

[2014-07-19 23:35] rafaelcarioca7 commented on #5
@0xid3 do you can add on skype: rafaelcarioca7@hotmail.com

[2014-07-20 14:23] 0xid3 commented on #5
Diferences, in left AccountToken from ios 7.1 and in right AccountToken from ios 7.1.2
![accounttoken](https://cloud.githubusercontent.com/assets/8138142/3637690/5a4a8b16-1019-11e4-9aa9-9593805b56c4.png)

[2014-07-20 14:25] 0xid3 commented on #5
in old iOS, folder activation_record file name is named activation_record and in new one wildcard_record

[2014-07-20 18:39] jinxter85 commented on #5
can you share these for other devices and successfully bypass, or do they need to be the same device type ... ?

[2014-07-20 19:11] CRACKBOY commented on #5
0xid3 look AccountToken is dynamicly changed because it's contain
AcountTokenRandomness and this one is dynamicly generated each connection
of iDevice

2014-07-20 19:39 GMT+01:00 jinxter85 notifications@github.com:

[2014-07-20 21:11] 0xid3 commented on #5
CRACKBOY but devicecertificate and fairplaydata its uniqe for each devices no?

[2014-07-21 00:28] CRACKBOY commented on #5
for deviceCertificate No because the CN (Common Name) is dynamicly chanched
and serial number too ( the serial numùber is optionnal )
the fairplaydata is static for each device but i don't know the content !
there's no sure information on net i just decode it base64 and i found data
begin with -----begin container-----.
if you really activate signal on 2 iphone 4, add me on skype :
"CRACKBOY2006"

[2014-07-21 09:06] 0xid3 commented on #5
Crackboy i really bypassed 2 iphone 4 without jailbreak and now visible on icloud.com, i can restore my devices with itunes without any problem because will ask me for my icloud account now
All about just 2 plist files to bypass icloud. One of this to files it's from device when was actived and locked with passcode. Its simple on iphone 4 because you can enter in ssh with scpwin :) if you have one

[2014-07-21 09:12] 0xid3 commented on #5
If you can make one script to extract that plist from actived device 4s, 5, 5s and onother script for write back the script when device is unatived you can bypass 100% with carrier work.
I tink it's hard because A5+ and later devices its more secured

[2014-07-22 02:40] CRACKBOY commented on #5
0xid3 the problem is not on Soc (A5+)
 it's on iBoot ROM ! it's an exploit to jump within device and start
sshd....endly create a session, to fix this apple has been added hardware
revision in 4s and gt iDevices

2014-07-21 11:12 GMT+02:00 0xid3 notifications@github.com:

[2014-07-22 03:22] CRACKBOY commented on #5
@SergeStre comeon skype : CRACKBOY2006

[2014-07-23 15:29] manothbi commented on #5
How is the new Lockdown ios 7.1.1 ??? any help?

2014-07-22 5:22 GMT+02:00 CRACKBOY notifications@github.com:

[2014-07-24 14:48] mrkabbaj commented on #5
create a trick to get The iCloud Email then contact the owner this is the last issue we have.
if you can. contact me

[2014-07-24 15:02] manothbi commented on #5
@mrkabbaj  any more details

[2014-07-26 04:58] STEALThL3G3ND commented on #5
@mrkabbaj  how can i contact you

[2014-07-26 18:53] jinxter85 commented on #5
these silenced moments make me think that you have the answer and are working out the kinks ;)

[2014-07-27 16:13] Maaawww commented on #5
http://byeclouds.com/carrier.fix.html dont ya know this?

[2014-07-27 19:08] CRACKBOY commented on #5
to all worker on iCloud bypass i need activation_record for iPhone4 "3,2"
as soon as possible.
Email me the file(s) at : slim.habli@esprit.tn
cordinally CRACKBOY

2014-07-27 17:13 GMT+01:00 Maaawww notifications@github.com:

[2014-07-31 07:26] sniperegy commented on #5
http://vietfones.vn/forum/forumdisplay.php?246-I-PHONE

[2014-07-31 21:22] radiant-alex commented on #5
Was someone able to extract private key from idevice that is used to create cert from the fairplaycertchain request field?

[2014-08-09 21:54] Maaawww commented on #5
Finally... :(

[2014-08-10 18:49] CRACKBOY commented on #5
any news ?

2014-08-09 23:54 GMT+02:00 Maaawww notifications@github.com:

[2014-08-17 22:30] enohpidoulci commented on #5
How to bypass iCloud activation from iPhone, iPad and iPod when DoulCi is available for 4,4s,5,5c,5s
[Tutorial] How to bypass iCloud activation from iPhone, iPad and iPod when DoulCi is available

Hello people! I’m writing a quick and easy guide for people who do not know how to unlock their device using the DoulCi Server. This article will also be updated with the new DoulCi’s ip, when available

[2014-08-19 00:15] jinxter85 commented on #5
all i see on the doulci website is an add for an app thet you install & they dont tell you the name of it or put it on your desktop so its lost forever somewhere in a long list of programs

[2014-08-19 01:20] anditsung commented on #5
anyone know is icloud bypass can bypass on ios 7.1.2 too? or just 7.1.1

[2014-08-19 01:22] rafaelcarioca7 commented on #5
http://www.ic-hack.com/apple-ios-7-1-2-released/

[2014-08-19 01:34] anditsung commented on #5
so maybe the user here is using ios 7.1.2 thats why the icloud-bypass not working

[2014-08-19 08:11] k-darko7 commented on #5
@carcabot please contact me at this mail adress : darko.kl26@gmail.com . I pulled account token certificate for my device (5s unactivated) account token etc. Maybe this can be useful ?

[2014-08-19 15:15] enohpidoulci commented on #5
What i can help u

Sent from my iPhone

[2014-08-19 15:16] enohpidoulci commented on #5
Ios 7.1.2 as well bypassed

Sent from my iPhone

[2014-08-19 15:16] enohpidoulci commented on #5
U can text me on my blog

Sent from my iPhone

[2014-08-19 15:17] enohpidoulci commented on #5
I can tell u wht to do

Sent from my iPhone

[2014-08-19 15:33] anditsung commented on #5
iH8sn0w said cannot bypas 7.1.2. are you sure?

[2014-08-19 15:47] k-darko7 commented on #5
You cannot bypass with man in the middle method, not that it's impossible ...

[2014-08-19 15:57] jinxter85 commented on #5
is there any 7.1.2 bypass, anything that get me to be able to at very least use Iphone as ipad ? PLEASE !!! I am disabled and is all i have

[2014-08-19 16:47] enohpidoulci commented on #5
ok let me tell u one thing ask all how to put or insert activation tickets
in any idevice especially when u already exploit A5 Devices

On Tue, Aug 19, 2014 at 8:57 AM, jinxter85 notifications@github.com wrote:

[2014-08-19 16:55] k-darko7 commented on #5
@enohpidoulci , the method you are promoting is PATCHED ! Please leave this thread

[2014-08-19 16:56] enohpidoulci commented on #5
really i know how to exploit without xampp :P

On Tue, Aug 19, 2014 at 9:55 AM, k-darko7 notifications@github.com wrote:

[2014-08-19 16:57] enohpidoulci commented on #5
with ...................... :P dnt try to teach me learn from me its free

On Tue, Aug 19, 2014 at 9:56 AM, saleem icloud activation <
ahsanalisaroba@gmail.com> wrote:

[2014-08-19 22:11] MassiCsoza commented on #5
im have one bug on icloud need help for compile on xcode  please mcastillosoza@gmail.com

[2014-08-20 01:17] rafaelcarioca7 commented on #5
hi guys i need confirm something, does anyone has iphone bypassed mina or doulci please contact me on my site www.ic-hack.com

[2014-08-20 08:28] enohpidoulci commented on #5
Yes i hacked u need solution

Sent from my iPhone

[2014-08-21 11:11] rainb0wx36 commented on #5
i actually dont get any Errors while activating in iTunes but idevice still not activate. Any Solutions ?

[2014-08-21 11:35] enohpidoulci commented on #5
Yes i have working script for device activation for idevice

Sent from my iPhone

[2014-08-21 11:36] anditsung commented on #5
Maybe you were on ios 7.1.2The new ios patch the certificate. If not trusted the value will not be save to the device                                                                                                                                                                                                                                                                          Sent from my Blac

[2014-08-21 13:39] enohpidoulci commented on #5
7.1.1 can be used properly

Sent from my iPhone

[2014-08-23 08:59] Optigonnn commented on #5
@enohpidoulci can you bypass my device?

[2014-08-23 10:57] enohpidoulci commented on #5
Yes i have solution

Sent from my iPhone

[2014-08-23 12:38] Optigonnn commented on #5
@enohpidoulci help me then?

[2014-08-23 15:15] rafaelcarioca7 commented on #5
what solution do you have?

[2014-08-23 18:06] lovylove143 commented on #5
Send me the guide....

[2014-08-24 05:21] enohpidoulci commented on #5
Visit www.ruleonplanet.blogspot.com

Sent from my iPhone

[2014-08-24 08:56] jinxter85 commented on #5
eno; this still requires doulci, which i even paid to get their IP & they sent me ur above link with the same exact files & no IP. it's looking more & more like a scam at this end

[2014-08-24 09:38] enohpidoulci commented on #5
Yes i sent u my mail its me doulci etc what's ur problem

Sent from my iPhone

[2014-08-24 09:46] netzpixel commented on #5
Doulci was free, is free and will stay free. If you payed, than you got scammed.

[2014-08-24 12:48] enohpidoulci commented on #5
M not earning from ads on my blog

Sent from my iPhone

[2014-08-24 12:49] lovylove143 commented on #5
Please provide the solution…

Dharmik Kothari
lovylove143@gmail.com
+918866231004

[2014-08-24 17:32] jinxter85 commented on #5
got the ip later last night am trying it out now, i'll let you know
& yes apparently they are allowing pay for server response on individual basis
so you don't have to wait... http://www.doulci.co.uk/order/

[2014-08-24 17:41] proggg commented on #5
That link is a fake, he is not a doulci member.

Real doulci hasn't released their server yet, and ir they do, it will be
free.

Real doulci URL: www.doulci.net

Le dimanche 24 août 2014, jinxter85 notifications@github.com a écrit :

[2014-08-24 18:21] jinxter85 commented on #5
thanks progg: this was indeed a case of fraud. thank you

[2014-08-24 19:35] enohpidoulci commented on #5
Really then what m doing here

Sent from my iPhone

[2014-08-25 16:23] jhonyvyrus commented on #5
So at the final is a solution or not ??????

[2014-08-26 10:52] enohpidoulci commented on #5
Solution

Sent from my iPhone

[2014-08-26 10:57] lovylove143 commented on #5
Please post tutorial…

Dharmik Kothari
lovylove143@gmail.com
+918866231004

[2014-08-26 11:18] enohpidoulci commented on #5
Have u paid

Sent from my iPhone

[2014-08-26 11:30] jinxter85 commented on #5
I paid & it did not work, iTunes just has grey screen & says iPhone

[2014-08-26 11:31] lovylove143 commented on #5
First solution then money.....

[2014-08-26 11:33] jhonyvyrus commented on #5
I think you dont reed
I ask is a solution at the end??
I dont ofer solutions

Sent from my iPhone

[2014-08-26 11:52] lovylove143 commented on #5
me to seeking solution

[2014-09-01 18:38] rafaelcarioca7 commented on #5
I discovered something new all activation has same imei check it out: http://www.ic-hack.com/all-activation-has-same-imei/

[2014-09-01 19:15] enohpidoulci commented on #5
thankx

On Mon, Sep 1, 2014 at 11:38 AM, rafaelcarioca7 notifications@github.com
wrote:

[2014-09-01 21:18] manothbi commented on #5
@rafaelcarioca7 thanks for info, but what is your opinion?

[2014-09-01 21:23] rafaelcarioca7 commented on #5
i dont know yet but i think the variable imei need be declared

[2014-09-01 21:29] manothbi commented on #5
@rafaelcarioca7 but what all we know is that imei number can not be modified by any file. so why mina was trying that. interesting.

[2014-09-01 22:28] enohpidoulci commented on #5
Mins is confused

Sent from my iPhone

[2014-09-01 22:44] manothbi commented on #5
i was searching but none of files has imei number as variable that it mean? just if then decrypt it, and after last doulci activation, and after apple has closed back doors, so decrypt still unknown for publics, i believe that just some of forensic they know it but they will never public it.

[2014-09-02 02:05] godjoob commented on #5
dont lost your money to bypass your icloud  guys in this fake finly i buld this software is free for bypass icloud i buld it with my friend but is not for all device is for ipad 2 and 3 and iphone 4.4s.5 . i do this software to destroy this program and this payed server becouse why they take your money for this easy thing . but dont take my software like a job https://mega.co.nz/#!pIAzDThL!IuktAux

[2014-09-02 02:09] godjoob commented on #5
i do this software with my friend vs the guys who want a money to bypass your icloud dont lost your money and go bypass icloud with thisssoftware  but please dont do this software like a job to learn money

[2014-09-02 02:11] rafaelcarioca7 commented on #5
lol

[2014-09-02 02:11] godjoob commented on #5
ff

[2014-09-02 04:04] lovylove143 commented on #5
its for only iphone 4 lol...

[2014-09-02 05:16] enohpidoulci commented on #5
its not for 4s 5c 5s 5

On Mon, Sep 1, 2014 at 9:04 PM, lovylove143 notifications@github.com
wrote:

[2014-09-02 17:28] gkroky commented on #5
anyone have activate iphone 5s ? plz help

[2014-09-04 00:12] tr1ckymast3r commented on #5
who continue with this project ?

[2014-09-04 00:31] mariodornelas commented on #5
What you think about this? http://pastebin.com/rJ9y5z3P
someone will test?

[2014-09-04 01:22] anditsung commented on #5
Do not this. Cause the latest ios is 7.1.2 and it's not bypass able                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone on the XL network.

[2014-09-04 12:36] tr1ckymast3r commented on #5
I need some information of activated iphone 5s to do some research about ( request wildcard token )

[2014-09-04 17:35] enohpidoulci commented on #5
Ok visit my blog

Sent from my iPhone

[2014-09-05 14:55] NazuzStelantis commented on #5
The activation ticket has these five sections:
FairPlayKeyData, AccountTokenCertificate (It's the same on all iDevices) DeviceCertificate (which is obtained by signing the DeviceCertificateRequest the ActivationInfoXML) AccountToken (containing WildcardTicket in other words what activates based band, the team udid)
The IMEI if iPhone or iPad, the Activation Randomess which is a randomic value gene

[2014-09-05 14:57] NazuzStelantis commented on #5
We find a bug in RSA, any ideas or MITM ?,? or we could also use MITM Proxy, contact me

[2014-09-06 06:02] tr1ckymast3r commented on #5
you can use nodejs to make simple proxy services with logging or custom respond

[2014-09-06 16:28] enohpidoulci commented on #5
Bro thank you so much u got good fluency in ur English

Sent from my iPhone

[2014-09-06 16:28] enohpidoulci commented on #5
Viber whatsapp me with +923358430013

Sent from my iPhone

[2014-09-06 16:48] tr1ckymast3r commented on #5
Read the code of fake activation server .

$PrivateKey = openssl_pkey_get_private(file_get_contents("certs/private_key.pem"));
openssl_sign($AccountToken64, $AccountTokenSignature, $PrivateKey);
openssl_free_key($PrivateKey);

see Base64 Encoded AccountToken was Sign by $PrivateKey from Server . I think in 7.1.2 Apple was change this key after they patched bug , so now the only way to break activa

[2014-09-06 18:44] chyouness commented on #5
any help me for iphone 4s icloud

[2014-09-06 23:23] NazuzStelantis commented on #5
Yeah, Thanks bro, let's start to do something, for solutions, nothing is impossible guys

[2014-09-07 06:54] CRACKBOY commented on #5
please guys it's not about impossible or not impossible, it's about RSA
encrypting there's no way, apple use signature to protect from MITM.
Try to debug lockdownd with Gdb and jump verification.
There's a lot of RESTFull WS on apple real server side try to invoke it's
using one of WS clients and find some exploit.
this is the only possible way to bypass activation lock.
i hurd that some china get

[2014-09-10 17:26] TTMTT commented on #5
Oh, finally i got bypass icloud & activate for iphone 4, 4s and 5s to 7.1.2 without loss anything.. i will test (ipad) soon
https://twitter.com/magd_ttmtt/status/509751913865179136

[2014-09-10 17:49] CRACKBOY commented on #5
stop lying

2014-09-10 18:26 GMT+01:00 Magd Almuntaser notifications@github.com:

##

_Cordialement,_
_Slim HABLI._
_Expert réseaux informatique_
- (Certifié CCNA 1, 2, 3 & 4)Futur Ingénieur en Architecture IT et Cloud
  Computing (ArcTIC)*

[2014-09-10 19:53] TTMTT commented on #5
@CRACKBOY
i'm not lying..
i will upload video for the bypass.. and the bypass for free, i just want to test some iphone & ipad if the bypass is for all devices or not ..
now my bypass can unlock (iphone 4, 4s any ios) but 5s still processing & testing.. and i will test for ipad and other devices ..
May i need some help from you later ..

[2014-09-10 21:06] CRACKBOY commented on #5
we don't need any demenstration, tell us what's the principe of your unlock
? what are you doing ...

2014-09-10 20:53 GMT+01:00 Magd Almuntaser notifications@github.com:

##

_Cordialement,_
_Slim HABLI._
_Expert réseaux informatique_
- (Certifié CCNA 1, 2, 3 & 4)Futur Ingénieur en Architecture IT et Cloud
  Computing (ArcTIC)*

[2014-09-11 03:12] lovylove143 commented on #5
I have iphone 4s ios 7.1.2 let me know for testing...

Sent from my iPod

On 11-Sep-2014, at 1:23 AM, Magd Almuntaser notifications@github.com wrote:

[2014-09-12 02:37] CristianLin1 commented on #5
Have to say the branch here its a little bit incomplete , what you need to know its there its actually 3 bugs of those 3 now only 2 are semi-vulnerable try this :

you need to make a Man in The Middle  for this to work there is no way arround that so your choise can be cURL or wherever you like to use to echo traffic , to real albert , then with the response you need to store that , and then send

[2014-09-12 15:05] TTMTT commented on #5
@CristianLin1
you know, u approached to solution..
but cURL not to albert deviceActivation directly.. you must search in apple server about other xml.. and you can get the information for any device without any login page..
that is my why for unlock icloud (iCL0udin)
I can't tell you how but when i finish my program you can use it..

[2014-09-12 15:10] anditsung commented on #5
Mind to share the location of that xml you referring to?                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone on the XL network.

[2014-09-12 15:20] enohpidoulci commented on #5
Look m not professional m student but i can easily bypass after bypassing iTunes use Wireshark in backtrack n send ticket in iTunes packets via Wireshark ur pc and wifi on same router is must

Sent from my iPhone

[2014-09-12 16:27] CristianLin1 commented on #5
@TTMTT  i know , but in theory that wont work for 1 simple reason , when you use the xml to get the information of the device you cant re send the information to itunes with the SAME encryptation that apple uses , i know you can send it encoded , even with the ssl protocol enabled , the main thing is that it would appear : information invalid in iTunes , a way to make a succesful bypass its not co

[2014-09-12 18:53] CRACKBOY commented on #5
i got it now ! i think 98% or people here don't know what's signature and
asymetric means ! :/

2014-09-12 17:27 GMT+01:00 CristianLin1 notifications@github.com:

##

_Cordialement,_
_Slim HABLI._
_Expert réseaux informatique_
- (Certifié CCNA 1, 2, 3 & 4)Futur Ingénieur en Architecture IT et Cloud
  Computing (ArcTIC)*

[2014-09-12 19:58] TTMTT commented on #5
@CristianLin1
yes, if you change any info on xml file you can't resend to itunes the problem from cert..
but i don't use this trick.. i told you search for another xml file in apple server (without login page)

itunes --POST--> own server (change some var) --cURL POST--> apple server (other xml not devicesActivation for [without login page]) -- New Info Like AccountToken and other--> own server --

[2014-09-12 23:38] CristianLin1 commented on #5
ServerCASigned.

[2014-09-13 12:53] chyouness commented on #5
ok thanks

2014-09-13 12:10 GMT+00:00 Nicolas Siver notifications@github.com:

[2014-09-13 13:09] NicolasSiver commented on #5
I don't get it, but why my comment with iPhone 5 is here? Is it some virus that has my access to GitHub? I didn't post it.

[2014-09-13 14:03] drmatrix opened #8 "generate certificat"
try look here
http://forum.tech-touch.ru/topic/3497-sursy-serverov-obkhoda-icloud-bypas-dlia-razrabotchikov/

[2014-09-13 17:03] TTMTT commented on #5
@NicolasSiver
you replay to email notifications@github.com .. ^_^

[2014-09-13 17:24] NazuzStelantis commented on #5
then we must do a MITM travez of Kali and get the XML or signed by Apple ?, .PEM get their private keys? (Something I see hard)

[2014-09-13 19:02] TTMTT commented on #5
@Exynos5
@carcabot
@CristianLin1
i can help you if you want..
send msg to my email i will tell you how get itunes cert and privet key for apple ..
ttmtt-team@hotmail.com

[2014-09-13 19:17] philipp33 commented on #5
what about this version here?

The latest version of the source isrv- #

http://sendfile.su/1014586
pass: icloud

[2014-09-13 19:21] NazuzStelantis commented on #5
philipp33
These files are the smolk had risen ...

[2014-09-13 19:25] philipp33 commented on #5
what do you mean? :)

[2014-09-13 19:29] NazuzStelantis commented on #5
philipp33
That ... we may analyze these files, but nececitamos private keys if Apple or whether and to get them is somewhat difficult, but with the help of all we could get something that looks like them?

[2014-09-13 19:31] philipp33 commented on #5
aha, ok :)

[2014-09-13 19:32] NazuzStelantis commented on #5
Okay, so here is my email herny200497@gmail.com for a little chat and see what ideas can occur

[2014-09-13 23:58] drmatrix commented on #5
hi
i get this error
Problem signature:
  Problem Event Name:   APPCRASH
  Application Name: httpd.exe
  Application Version:  2.4.10.0
  Application Timestamp:    53ca50ea
  Fault Module Name:    StackHash_0a9e
  Fault Module Version: 0.0.0.0
  Fault Module Timestamp:   00000000
  Exception Code:   c0000005
  Exception Offset: 00000000
  OS Version:   6.1.7600.2.0.0.768.3
  Locale ID:    1033
  Ad

[2014-09-14 00:19] NazuzStelantis commented on #5
For whats?

[2014-09-14 00:22] drmatrix commented on #5
i have install isrv35
when itunes try to connect to localhost ( im using iphone 5s)

[2014-09-14 00:24] NazuzStelantis commented on #5
accurate, I must assume that this log is when iTunes is connected to our local server

[2014-09-14 00:35] drmatrix commented on #5
im working in line by line

[2014-09-14 00:36] NazuzStelantis commented on #5
Someone here knows perfectly the ARM architecture

And its assembly language?

[2014-09-14 00:48] drmatrix commented on #5
nop

[2014-09-14 00:49] NazuzStelantis commented on #5
What ideas do you have drmatrix?

[2014-09-14 00:53] drmatrix commented on #5
i was working in root access IOS but now im lost .(

[2014-09-14 01:04] NazuzStelantis commented on #5
Because these ?, lost us some great ideas can happen, it's just a matter of analyzing some things.

[2014-09-14 01:09] drmatrix commented on #5
nice to talk to you

[2014-09-14 14:39] drmatrix commented on #5
im stuck here
the iphone could not be activated because the activation information was invalid

some one can help?

[2014-09-14 14:59] CRACKBOY commented on #5
Good morning....

Le dimanche 14 septembre 2014, drmatrix notifications@github.com a écrit :

##

_cordially__,_
_Slim HABLI._
_Computer networks expert_
- (Certificated CCNA 1, 2, 3 & 4)Future Engineer in IT Architecture and
  Cloud Computing (ArcTIC)*

_esprit_►
_Address: technology Center "El Ghazala" – 2083 Ariana -- Tunisia_
_Web site: www.esprit.tn http://www.esprit.tn/_
_Email: slim.habli@e

[2014-09-14 15:04] drmatrix commented on #5
hi it s some solutions for this issue ?

im using iPhone6.2_ios8.0

[2014-09-14 15:59] drmatrix commented on #5
other ways
https://code.google.com/p/iphone-dataprotection/issues/detail?id=49

[2014-09-14 16:26] athfalny commented on #5
Hi guys ..when i try to authenticate my icloud id via mifi(mobile wifi) while my mifi is on zero quota..the interesting one is my authentification page is direct to my mifi provider home page and i can browse anything there.my Q is can we crashing the icloud process here..sorry for my english and i dont know anything about progamning and coding i just want to know what happen in my certain situati

[2014-09-14 16:44] philipp33 commented on #5
I have same problem here - tried this isrv_35 version over secured server but it get's stuck at the end when checking out one certificate. So the problem is probably in not having signed certificate on the server like original server. Tried to push various different certificates in between of the end authentication process, but nothing worked. Otherwise this last version seem to generate all thing

[2014-09-14 18:00] gkroky commented on #5
the only solution the icloud bypass is crash  (setup.app).. but its only working on ios 7.0.1 to 7.0.6.
is there anyone have  solution for ios 7.1.2 crash setup.app by wifi portal uhh...

[2014-09-14 18:23] TTMTT commented on #5
@gkroky
there is a more way to unlock iphone & ipad any ios .. like via private key or other xml url..
Just think .. and imagine you are the (((((((itunes))))))) .. ohh my god nobody understands me..

i will finish my program soon.. i will send msg to @lovylove143 becuoz iphone 4s ..
and if anyone have any device like 5s, 5c, ipad 1234 you can put ur email i will send msg to you for testing my pro

[2014-09-14 18:24] netzpixel commented on #5
5s and 5c

[2014-09-14 18:27] TTMTT commented on #5
@bentheone
ok, what is your email?

[2014-09-14 18:28] netzpixel commented on #5
Benjamin@my-Schneider.de

[2014-09-14 18:30] LJohan commented on #5
I have 2. 5  and 2 5s

[2014-09-14 18:30] jhonyvyrus commented on #5
Yes i have an 5s and an ipad 3 wifi if helps

Sent from my iPhone

[2014-09-14 18:42] LJohan commented on #5
i need this: serverCASigned.crt ( a updated one and valid ) can some one help me

[2014-09-14 18:44] jhonyvyrus commented on #5
My email is jhonyvyrus@ yahoo.com

[2014-09-14 19:00] TTMTT commented on #5
@LJohan
what is ur email?
@jhonyvyrus
ok, i want test ipad3 .. thank you

[2014-09-14 19:05] LJohan commented on #5
@TTMTT luis.j.lithgow@live.com

[2014-09-14 19:06] jhonyvyrus commented on #5
Jhonyvyrus@yahoo.com

Sent from my iPhone

[2014-09-14 20:02] drmatrix commented on #5
hi @TTMTT
can you share how to get the correct certificate ?

[2014-09-14 20:09] drmatrix commented on #5
can you share @TTMTT?

[2014-09-14 22:12] LJohan commented on #5
all the problem is this file _serverCASigned.crt_ the server is not making the serverCASigned.crt file, probably some line of code are wrong. i think is in base64 encode.  can some one give some help this the only file that the server is not making if we fix this the server is done

[2014-09-14 22:15] hiouane93 commented on #5
i have a 5s
my email is hiouane93@gmail.com

[2014-09-15 00:17] Derewith commented on #5
@TTMTT derewith@live.it i have an iPhone 5 , and iPhone 4s

[2014-09-15 04:17] gkroky commented on #5
I have iPhone 5s, iOS 7.1.2 if you have any file to for test, so here
is my email Id (gkroky@gmail.com)

On 9/15/14, Magd Almuntaser notifications@github.com wrote:

[2014-09-15 09:09] drmatrix commented on #5
http://www.ic-hack.com/2014/06/

[2014-09-15 09:28] lovylove143 commented on #5
@TTMTT iPhone 4s

Email :- lovylove143@gmail.com

[2014-09-15 10:35] philipp33 commented on #5
I was able to activate my iphone 5c via itunes by adding in host file ip address that was inside isrv_35 project.

iphone is now read and showed in itunes but it says now _"SIM NOT VALID". The SIM card you currently have installed in this iphone is from a carrier is not supported under the activation policy that is currently assigned by the activation server. This is not a hardware issue with iPho

[2014-09-15 10:40] LJohan commented on #5
Yes its lock to a spesific . Can you email me to talk About it im stock in base64 encode

[2014-09-15 10:42] philipp33 commented on #5
ok, where is your email?

On Mon, Sep 15, 2014 at 12:40 PM, LJohan notifications@github.com wrote:

[2014-09-15 10:44] LJohan commented on #5
Luis.j.lithgow@live.com

[2014-09-15 10:44] netzpixel commented on #5
Would you share your progress?

[2014-09-15 11:20] LJohan commented on #5
Im stock in base64 encode

[2014-09-15 12:52] LJohan commented on #5
@philipp33  can you email me what ip did you use

[2014-09-15 13:23] philipp33 commented on #5
yes, I can tell you, contact me on my email - I already send you email but
no reply..

On Mon, Sep 15, 2014 at 2:52 PM, LJohan notifications@github.com wrote:

[2014-09-15 13:31] drmatrix commented on #5
issue here ithink is problem  of names ???
@ECHO OFF
SET OPENSSL_CONF=C:\xampp\apache\conf\openssl.cnf
PATH=%PATH%;C:\xampp\apache\bin
rem openssl rsautl -sign -in accounttoken.txt -out signature.txt -inkey signature_private.key
openssl rsautl -verify -in _signature.txt -out _accounttoken.txt -inkey ../signature_public.key -pubin

pause

[2014-09-15 13:35] drmatrix commented on #5
or if some one can explain step by step the the method for isrv35  ???

[2014-09-15 14:05] gsminfor commented on #5
@philipp33  you can send me e-mail address you used ip for me too

[2014-09-15 14:33] philipp33 commented on #5
try to add into hosts:
74.207.232.143 albert.apple.com

and do a restore with itunes.

share you experience if anyone got the iphone working after that?

I am stuck on Sim not valid after I successfully made the restore and I can
see it normally in itunes - but if I restore it back with normal itunes
(without host) is locked again..

On Mon, Sep 15, 2014 at 4:05 PM, gsminfor notifications@github.c

[2014-09-15 14:52] Zoulci commented on #5
@philipp33 Before Adding IP into host ..what material you use ? isrv_35 or not

[2014-09-15 14:53] netzpixel commented on #5
Why don't you share your progress?

[2014-09-15 14:53] Zoulci commented on #5
@TTMTT hi my email is ahmad.asif56@yahoo.com
ihave iphone 5 global

[2014-09-15 14:53] LJohan commented on #5
can some one help me whit bas64 encode why base64 is not making the serverCASined.crt

thas the only file tha i cant make

[2014-09-15 14:57] Zoulci commented on #5
@philipp33 i adding the ip into host file but when i restore its not working

[2014-09-15 14:57] Zoulci commented on #5
@philipp33 its only bypass itunes not iphone 5

[2014-09-15 15:02] LJohan commented on #5
this this the problem on isrv_35

Warning: file_get_contents(devices/iPhone/DNPLJ4CUFFDQ/serverCASigned.crt): failed to open stream: No such file or directory in C:\xampp\htdocs\deviceservices\deviceActivation on line 101

and the line 101 its about base64 encode.
so
base64 encode make every iphone certificate so the only certificate  that base64 is not making is  (serverCASined.crt)

can some one

[2014-09-15 15:08] Zoulci commented on #5
@LJohan tell me where to put isrv_35 files

[2014-09-15 15:09] LJohan commented on #5
Read up and send me a email

[2014-09-15 15:19] LJohan commented on #5
@Zoulci  did you

[2014-09-15 15:44] drmatrix commented on #5
LJohan you can check here
http://forum.tech-touch.ru/topic/3497-sursy-serverov-obkhoda-icloud-bypas-dlia-razrabotchikov/

[2014-09-15 15:46] LJohan commented on #5
@drmatrix i allready did

[2014-09-15 15:49] LJohan commented on #5
@drmatrix no problem solved

[2014-09-15 15:58] Zoulci commented on #5
Guyz tell me where to put these files as same you do

[2014-09-15 16:05] philipp33 commented on #5
@Zoulci  - hmm, probably it only worked to byspass itunes, since we are reading form
that ip - so this version on that 74.. ip isn't fully working, I guess

but why, when I input sim card I actually get the signal and error about
SIM card not valid?

On Mon, Sep 15, 2014 at 4:57 PM, Zoulci notifications@github.com wrote:

[2014-09-15 16:07] Zoulci commented on #5
@philipp33 But how you bypass your iphone

[2014-09-15 16:10] netzpixel commented on #5
I don’t get these errors.
It bypasses only itunes and thats it.

Am 15.09.2014 um 18:05 schrieb philipp33 notifications@github.com:

[2014-09-15 16:12] netzpixel commented on #5
I have to correct me.
I didn’t use wifi so i got no error. With wifi i get the same error.

Am 15.09.2014 um 18:05 schrieb philipp33 notifications@github.com:

[2014-09-15 16:14] philipp33 commented on #5
added redirect for albert with that ip in hosts file

put iphone in restore mode
start itunes and select 7.1.2 ios ipsw file for restore (get it here: http://www.icj.me)
restore and it came readable in itunes (that are still redirected to that ip)

not sure what would happen when removed the ip from host

[2014-09-15 16:15] philipp33 commented on #5
which error you get? icloud lock or something else?

On Mon, Sep 15, 2014 at 6:12 PM, bentheone notifications@github.com wrote:

[2014-09-15 16:15] Zoulci commented on #5
@philipp33 i do same as you write but itunes is bypassed not iphone

[2014-09-15 16:17] netzpixel commented on #5
Simcard error but only with the 5c wich has a net lock with the 5s i don't get the sim error.

[2014-09-15 16:25] philipp33 commented on #5
what is net lock? can't connect to wireless?

On Mon, Sep 15, 2014 at 6:17 PM, bentheone notifications@github.com wrote:

[2014-09-15 16:41] netzpixel commented on #5
Iphone is locked to a Network like tmobile. Most people say sim lock to it, but that's wrong. Sim lock is a lock to one specific SIM card.

[2014-09-15 16:45] Zoulci commented on #5
maybe its called country locked

[2014-09-15 16:45] gsminfor commented on #5
when I try to activate my iPod touch 5G no errors appear more active only in the ipod itunes still freezes excuse the bad english

[2014-09-15 17:29] LJohan commented on #5
@Zoulci @philipp33 you two guys are confuse first one error its related to sim and network lock and other eror its related to server on isrv_35 .

Guys im going back to real world i make some mone to live.

Ill be back in 4 hour im going to work. I will explaind step by  step isrv_35 and @philipp33 i will explain to you what sim use. But in both case bot gonna work.

Let me gonna work and ill be b

[2014-09-15 17:31] philipp33 commented on #5
cool!

On Mon, Sep 15, 2014 at 7:29 PM, LJohan notifications@github.com wrote:

[2014-09-15 17:47] philipp33 commented on #5
@bentheone so, did you get thru with 5s? working now?

On Mon, Sep 15, 2014 at 6:17 PM, bentheone notifications@github.com wrote:

[2014-09-15 17:47] netzpixel commented on #5
No

[2014-09-15 18:28] netzpixel commented on #5
@Zoulci that again is something different :)

[2014-09-15 18:28] netzpixel commented on #5
@TTMTT what is your progress and how about sharing it?

[2014-09-15 18:35] drmatrix commented on #5
it bypass in itunes but nothing in device

i get this errors

Notice: Undefined index: DeviceCertRequest in C:\xampp\htdocs\deviceservices\deviceactivation\serverCASigned.php on line 3

Warning: openssl_csr_sign(): cannot get CSR from parameter 1 in C:\xampp\htdocs\deviceservices\deviceactivation\serverCASigned.php on line 3

Warning: openssl_x509_export(): cannot get cert from parameter 1 in C:\x

[2014-09-15 19:17] LJohan commented on #5
im back

[2014-09-15 19:18] LJohan commented on #5
@drmatrix are you using mac right?

[2014-09-15 19:20] drmatrix commented on #5
welkomen WIN 7 xampp

Doulci Scripts

http://rghost.net/56981465

[2014-09-15 19:45] drmatrix commented on #5
LJohan  have you some idea??

[2014-09-15 20:24] LJohan commented on #5
Yes look those file are not complet. The complet file are isrv_35.

Listen carefully:

Intall xampp on windows
Copy those file on htdoc ( copy as is. Dont change anything)
Modify host to 127.0.0.1 albert.apple.com
Conect the phone and thats it.
You should get the same error that i get.

[2014-09-15 20:27] LJohan commented on #5
If you do right you should have a new folder inside of iphone folder with your iphone cert but one cert is missing

[2014-09-15 20:28] drmatrix commented on #5
ya this error
the iphone could not be activated because the activation information was invalid

[2014-09-15 20:29] LJohan commented on #5
Finally you are in the same page as me . ok what do you see in the itunes

[2014-09-15 20:31] LJohan commented on #5
Finally you are in the same page as me . ok what do you see in the itunes

[2014-09-15 20:36] drmatrix commented on #5
all this informations

RESPONSE SENT!
iPhone 5s (Global) details
iOSv:   7.1.2
ARN:
UDID:
ASN:
UCID:
ICCID:
IMEI:
IMSI:
GUID:

[2014-09-15 20:37] LJohan commented on #5
Ok but its in blank ?

[2014-09-15 20:37] LJohan commented on #5
Do you see the first line error 101

[2014-09-15 20:38] drmatrix commented on #5
no with all info . no error 101

[2014-09-15 20:41] LJohan commented on #5
Wait whaaaaat?  You sure thers not  a line up there telling you that cant open stream bla bla bla in line 101

[2014-09-15 20:41] drmatrix commented on #5
no error

[2014-09-15 20:42] LJohan commented on #5
If you dont  see the error check your iphone its supose to be bypassed

[2014-09-15 20:44] LJohan commented on #5
Man i need to check something. Do you know where is the iphone folder those file ?

[2014-09-15 20:47] drmatrix commented on #5
What. File? And what mode the iphone must be before. The bypass?

[2014-09-15 20:48] uzzero commented on #5
@LJohan, i have the same problem

[2014-09-15 20:53] LJohan commented on #5
Remember the isrv_35 files that you put in hctdoc . well look in to those  folder and find a foldel named iphone.

There are 3 folder

Ipod
Iphone
Ipad

The one what i want you find is iphone folder. Find id and let me know whats folders are inside

[2014-09-15 20:54] drmatrix commented on #5
great
but i think its no chance to generate the correct certificate

[2014-09-15 20:56] LJohan commented on #5
Well i see you find iphone folder so i see you figure it that any phone you conect its generate a folder. Whit certs

[2014-09-15 20:57] drmatrix commented on #5
folder name V50282W4ETV same for  others

iPad1.1_ios5.1.1_V50282W4ETV.xml ->

## iPad1.1_ios5.1.1_V50282W4ETV.xml ...................................................................... OK

iPad2.1_ios7.1.1_DN6G1C8DDKPJ.xml ->

## iPad2.1_ios7.1.1_DN6G1C8DDKPJ.xml ...................................................................... OK

iPad2.2_ios7.1.1_DKVJ10R4DKNV.xml ->

## iPad2.2_ios7.1.1_DK

[2014-09-15 20:59] LJohan commented on #5
Yes there is a chanse because ive been looking and i figure it out that the file in those folder corespond to my phone i this case your phone

[2014-09-15 21:01] drmatrix commented on #5
my phone is iPhone6.2_ios7.1.2 and that dont corespond to any

[2014-09-15 21:02] LJohan commented on #5
Ok go back and go inside device folder then go inside iphone folder

[2014-09-15 21:02] LJohan commented on #5
Tellme what you see

[2014-09-15 21:03] LJohan commented on #5
Do what i tell you and you gonna se a proof

[2014-09-15 21:03] anditsung commented on #5
For all of you. Ios7.1.2 will not be able to bypass like this.Apple already patch the bug for that since 7.1.2You can only bypass on os lower than 7.1.2

[2014-09-15 21:06] drmatrix commented on #5
so i can restore with ios 8 that can work ?

[2014-09-15 21:08] mvandrei commented on #5
FFS use spot.im to chat... I've made you a room https://www.spot.im/cloudsupport

[2014-09-15 21:08] LJohan commented on #5
If some. One fix the line code to generete serverCASertificate that is missing. You can bypass even ios8

[2014-09-15 21:08] anditsung commented on #5
There is no icloud bypass since ios 7.1.2 including ios8 and the newer                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone on the XL network.

[2014-09-15 21:10] drmatrix commented on #5
so how i can downgrade to 7 1 1

[2014-09-15 21:11] anditsung commented on #5
There is no proof to that and I never heard somebody on ios7.1.2 get bypass                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone on the XL network.

[2014-09-15 21:11] Derewith commented on #5
If we try the method to use serverCASertificate we can even bypass ios7.1.2 @anditsung

[2014-09-15 21:11] mvandrei commented on #5
you can no longer downgrade to 7.1.1

[2014-09-15 21:12] anditsung commented on #5
No way to downgrade an ios except device is same or lower than iPhone 4Or apple device do resign the older os on their server again                                                                                                                                     Sent from my BlackBerry 10 smartphone on the XL network.

[2014-09-15 21:14] mvandrei commented on #5
You can sing any iOS you want, if you make the server to work... but again, here we are :)

[2014-09-15 21:14] anditsung commented on #5
You can try it of course but just saying it will not work.You can search on Google why.                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone on the XL

[2014-09-15 21:14] LJohan commented on #5
You can  not downgrade.
And yes i have 7.1.2 and the server its generating those file but one one missing . so that mean we still have a chanse

[2014-09-15 21:15] Derewith commented on #5
WE CAN HAVE A CHANSE AND WE CAN CREATE A TEAM OF SEARCH AND DEVELOP!

[2014-09-15 21:16] drmatrix commented on #5
nothing is impossible )

[2014-09-15 21:16] anditsung commented on #5
You don't know what ‎the server do. It will only sign for icloud bypass only. Will not sign to ios downgrade                                                                                                                                                                                                                                                                           Sent from my BlackBerry 1

[2014-09-15 21:16] uzzero commented on #5
Yes you can, from io8 to 7.1.1

[2014-09-15 21:17] drmatrix commented on #5
IM working in that but i need the good one  7.1.1

[2014-09-15 21:20] LJohan commented on #5
@mvandrei the server its working for me and generating certificate. The only what its not generate is serverCASertificate

[2014-09-15 21:23] LJohan commented on #5
@drmatrix hey go xampp
Go deviceservices
Go devices
Go iphone
And delet all folder
Then conect your phone
If you see a ne folder with files and certificate that is the proof

[2014-09-15 21:25] drmatrix commented on #5
ok LJohan
from where i can download one good   iPhone6.2_ios7.1.1

[2014-09-15 21:28] uzzero commented on #5
@drmatrix  here you can download the ispw you want. But notice, that you can only downgrade from iOS8 in DFU Mode

[2014-09-15 21:29] LJohan commented on #5
Ok maybe you dont understanding
Listen
You dont need to download it because you allready are making it wiht your server. If you conect other phone or ipad or whatever you conect yoi will see a new folder coresponding to a device you conect

[2014-09-15 21:30] drmatrix commented on #5
even you delete all the file producttypes.php in tools forder create dem

[2014-09-15 21:30] LJohan commented on #5
Nooo donde delete

[2014-09-15 21:31] uzzero commented on #5
@drmatrix  http://ipswdownloader.com/

[2014-09-15 21:32] drmatrix commented on #5
im in ios 8 now

[2014-09-15 21:32] LJohan commented on #5
Just go to device folder then inside you will find about 4 or 5 folders coresponding to a few device

[2014-09-15 21:33] drmatrix commented on #5
i have 17 folder inside the folder iphone

[2014-09-15 21:34] LJohan commented on #5
ok perfect showme the mane of that folders

[2014-09-15 21:36] drmatrix commented on #5
i have delet all and after connecting it create one

[2014-09-15 21:37] LJohan commented on #5
if you have the same file i have you should have this folder only

C8PHRD1WDT9Y
C8PJ1S8KDTD0
DNPJF7GHDTD2
F2LLPRV4FFG9
F2NLP6Q1FFGC
F78LGE1UFFHQ

[2014-09-15 21:37] gsminfor commented on #5
@LJohan  also my server is generating the certificates not only creates everything right serverCASigned devices inside the folder ipod

[2014-09-15 21:38] philipp33 commented on #5
so basically I can upgrade iphone 5c to ios 8 and then downgrade it to
7.1.1?

On Mon, Sep 15, 2014 at 11:31 PM, uzzero notifications@github.com wrote:

[2014-09-15 21:39] LJohan commented on #5
@drmatrix  you see thats the proof its create a new one and that corespond to your phone .. if you connect another one you will see a new one.

so thats the proof that this server its almost finish

[2014-09-15 21:41] drmatrix commented on #5
so what is your suggestion ?

[2014-09-15 21:42] LJohan commented on #5
@gsminfor no bro the serverCASined you see its from other iPod . if you have the server that i and @drmatrix we all have missing the serverCASertificate .

[2014-09-15 21:43] uzzero commented on #5
@philipp33 No. If you updatet to 7.1.2 before you can't.
Apple aren't signing 7.1.1 any more. Only if you updatet from 7.1.1 to iOS8

[2014-09-15 21:43] philipp33 commented on #5
@LJohan - I guess its only the problem in not reading one certificate

On Mon, Sep 15, 2014 at 11:39 PM, LJohan notifications@github.com wrote:

[2014-09-15 21:44] LJohan commented on #5
mi suggestion is try to find some one whit more experience to fix the script who generate de certificate. because the script its no generating it

[2014-09-15 21:45] drmatrix commented on #5
if we use this unactivate part of code

# ---------------------------------- Sign device certificate request ------------------------------

/*$privkey = array(file_get_contents('certs/original/iPhoneDeviceCA_private.key'),"minacriss");
$devicecacert = file_get_contents('certs/original/iPhoneDeviceCA.crt');

#$config = array('digest_alg' => 'sha1');
$config = array('config'=>'C:/openserver/modules

[2014-09-15 21:46] LJohan commented on #5
@philipp33 yes I'm agree with you all our problems its just on certificate that the server its no generating

[2014-09-15 21:47] LJohan commented on #5
@drmatrix well I'm not that pro

[2014-09-15 21:49] philipp33 commented on #5
@uzzero [?]

On Mon, Sep 15, 2014 at 11:43 PM, uzzero notifications@github.com wrote:

[2014-09-15 21:50] LJohan commented on #5
@drmatrix i check the code and its the same that i have so its mean its wrong or not gonna work

[2014-09-15 21:55] drmatrix commented on #5
something is missing in all that

[2014-09-15 21:56] LJohan commented on #5
yes

[2014-09-15 21:57] LJohan commented on #5
you see I'm right  the server its creating the files so its mean we almost got it

[2014-09-15 21:59] LJohan commented on #5
something its wrong here but i don't know what its

# ---------------------------------- Sign device certificate request ------------------------------

/*$privkey = array(file_get_contents('certs/original/iPhoneDeviceCA_private.key'),"minacriss");
$devicecacert = file_get_contents('certs/original/iPhoneDeviceCA.crt');

#$config = array('digest_alg' => 'sha1');
$config = array('config'=>'C:/opense

[2014-09-15 22:04] gsminfor commented on #5
@LJohan Can you pass me your htdocs folder for me to work with the same files you?

[2014-09-15 22:07] drmatrix commented on #5
no problem

http://support.apple.com/kb/HT5012

i will make the link

[2014-09-15 22:08] drmatrix commented on #5
or give me ur email

[2014-09-15 22:10] LJohan commented on #5
@gsminfor http://sendfile.su/1014586
pass: icloud

[2014-09-15 22:13] gsminfor commented on #5
@LJohan thanks, I'll see what I can do here

[2014-09-15 22:30] CRACKBOY commented on #5
A lot of stuped

Le lundi 15 septembre 2014, gsminfor notifications@github.com a écrit :

##

_cordially__,_
_Slim HABLI._
_Computer networks expert_
- (Certificated CCNA 1, 2, 3 & 4)Future Engineer in IT Architecture and
  Cloud Computing (ArcTIC)*

_esprit_►
_Address: technology Center "El Ghazala" – 2083 Ariana -- Tunisia_
_Web site: www.esprit.tn http://www.esprit.tn/_
_Email: slim.habli@espri

[2014-09-15 22:35] gsminfor commented on #5
are more stupid at least we are trying something

[2014-09-15 22:43] CRACKBOY commented on #5
Trying!!!!! Go to Google find what's RSA encrypting what's electronic
signature!!!
I sow a lot of discus about somethings that Nevers works and You told me
that You try! M'y god

Le lundi 15 septembre 2014, CRACK BOY slim.habli@esprit.tn a écrit :

##

_cordially__,_
_Slim HABLI._
_Computer networks expert_
- (Certificated CCNA 1, 2, 3 & 4)Future Engineer in IT Architecture and
  Cloud Computing (

[2014-09-16 13:11] jhonyvyrus commented on #5
No you have this play list sent to me and i try for you

Sent from my iPhone

[2014-09-16 13:12] gkroky commented on #5
I  have Mac os give me all file that u have ...and let try if I
succeed I will inform u, my  email ID (gkroky@gmail.com)

On 9/16/14, nastratin notifications@github.com wrote:

[2014-09-16 13:52] philipp33 commented on #5
what is the link?

http://www.hackthatphone.com/downloads/iphonetool.zip - not workin

On Tue, Sep 16, 2014 at 1:55 PM, nastratin notifications@github.com wrote:

[2014-09-16 15:00] florindmtr commented on #5
http://www.codymays.net/files/iphonetool.zip

Share if it's working ;)

[2014-09-16 15:30] philipp33 commented on #5
2014-09-16 17:29:05.846 tool[22071:507] Found iPhone Device: 1

2014-09-16 17:29:05.846 tool[22071:507] Connecting...

2014-09-16 17:29:05.850 tool[22071:507] Checking Pairing...

2014-09-16 17:29:05.853 tool[22071:507] Starting device session...

2014-09-16 17:29:05.890 tool[22071:507] ActivationState: Unactivated

2014-09-16 17:29:05.890 tool[22071:507] Deactivating your iPhone...

2014-09-16 17

[2014-09-16 16:07] Zoulci commented on #5
Anyone Have iPhone 4 GSm icloud bypassed but  no Service issues

[2014-09-16 16:14] Zoulci commented on #5
Guyzz Anyone HAve iPhone 4 icloud bypassed and have '''No Service'''  issues

[2014-09-16 16:17] jhonyvyrus commented on #5
acount token and token vert are not good must be edited

[2014-09-16 16:17] jhonyvyrus commented on #5
and signature

[2014-09-16 16:19] Zoulci commented on #5
Guyz i HAve something for """NO SERVICE"" iphone 4 icloud bypassed fix

[2014-09-16 16:20] jhonyvyrus commented on #5
what??

[2014-09-16 16:20] Zoulci commented on #5
No one interested hmmm ok bye

[2014-09-16 17:15] Zoulci commented on #5
guyz im back
sorry for waiting im doing my homework
so who want carrier fix for iphone 4

[2014-09-16 17:16] jhonyvyrus commented on #5
me if you have

[2014-09-17 00:02] CRACKBOY commented on #5
Me!

Le mardi 16 septembre 2014, Zoulci notifications@github.com a écrit :

##

_cordially__,_
_Slim HABLI._
_Computer networks expert_
- (Certificated CCNA 1, 2, 3 & 4)Future Engineer in IT Architecture and
  Cloud Computing (ArcTIC)*

_esprit_►
_Address: technology Center "El Ghazala" – 2083 Ariana -- Tunisia_
_Web site: www.esprit.tn http://www.esprit.tn/_
_Email: slim.habli@esprit.tn slim.habl

[2014-09-17 00:05] drmatrix commented on #5
And me

[2014-09-17 00:12] drmatrix commented on #5
Same one can exlpain the process icloud activation. ?

[2014-09-17 08:09] athfalny commented on #5
me zoulci

[2014-09-17 08:28] philipp33 commented on #5
@drmatrix - nothing working so far

for isrv35 project we need developer - deploy certificates, then it might
work - can anyone get them?

On Wed, Sep 17, 2014 at 2:12 AM, drmatrix notifications@github.com wrote:

[2014-09-17 08:45] drmatrix commented on #5
No New u have try with different phones ios 7 1 2 , 4 4s. Ipad mini nothing happen except creating the spoof

[2014-09-17 12:39] Zoulci commented on #5
@jhonyvyrus @CRACKBOY @drmatrix @athfalny

Give ME Your Email Guyzz
IF ITS WORK FOR YOU KINDLY TELL ME>>>>>ITS WORK FOR ME!!!

[2014-09-17 12:46] drmatrix commented on #5
tdriouech@gmail.com soo u can bypass all ios ?

[2014-09-17 12:48] Zoulci commented on #5
which phone you have ?

[2014-09-17 12:48] athfalny commented on #5
qila_dhany@yahoo.com @Zoulci

[2014-09-17 12:49] Zoulci commented on #5
@drmatrix What iPhone Model You have ?

[2014-09-17 12:49] Zoulci commented on #5
i give iphone 4 carrier fix

[2014-09-17 12:49] LJohan commented on #5
What device ?

[2014-09-17 12:51] drmatrix commented on #5
5s and ipad celuller mini 2

[2014-09-17 12:51] athfalny commented on #5
anyone have captive portal for windows ?

[2014-09-17 12:51] Zoulci commented on #5
NOW i give you only iphone 4 carrier fix

[2014-09-17 12:53] athfalny commented on #5
@Zoulci already sent ?

[2014-09-17 12:54] drmatrix commented on #5
it s done for me with Hacktivate_Tool for the iphone 4

[2014-09-17 12:54] jhonyvyrus commented on #5
Jhonyvyrus@yahoo.com

Sent from my iPhone

[2014-09-17 12:54] Zoulci commented on #5
i cant bypass all ios only iphone 4 with public tool
i only give you carrier fix which i bu from my friend its work fo me but i dont know if this work for you

[2014-09-17 12:59] drmatrix commented on #5
that is my htdocs no error but no bypass
run apache as administrator
i changed the path for openssl.cnf and openssl,exe
i have change the User Account Control to never notify

https://drive.google.com/file/d/0B169oMHiKxGEdEQzcW9kLTN1TjA/edit?usp=sharing

[2014-09-17 13:04] rafaelcarioca7 commented on #5
@Zoulci  send me the method ichack@ic-hack.com

[2014-09-17 13:04] Zoulci commented on #5
GUYZ DO IT AT YOUR OWN RISK I'M NOT RESPONSIBLE FOR ANY CAUSE !!!

Make A Backup For Safety

There is Two Download Links
1: Carrier Fix
2:Tutorial

1:  https://www.dropbox.com/s/tuqeef0spas4nat/iphone%204%20fix%20carrier%20no%20cdma.zip?dl=0

2:   https://www.dropbox.com/s/wzdnwgmrw86lfrb/README.txt?dl=0:

GUYZ ITS WORK FOR ME >>>>> KINDLY TELL ME IF YOUR CARRIER WORKS

[2014-09-17 13:04] drmatrix commented on #5
what are  you using im on win 7

[2014-09-17 13:06] Zoulci commented on #5
Guyz Download the links And check it on your iphone 4 and kindly tell me

[2014-09-17 13:09] drmatrix commented on #5
ok i have tools for 4 4s ad 5 but that need good conditions ,)

[2014-09-17 13:09] Zoulci commented on #5
what tools ?? Tools for bypass

[2014-09-17 13:09] rafaelcarioca7 commented on #5
@drmatrix do you can bypass iphone 4s and 5?

[2014-09-17 13:10] drmatrix commented on #5
yes

[2014-09-17 13:10] LJohan commented on #5
Ok now we talking

[2014-09-17 13:10] Zoulci commented on #5
@drmatrix you can bypass my iphone 5

[2014-09-17 13:11] LJohan commented on #5
Iphone 5 and 5s what you have

[2014-09-17 13:11] Zoulci commented on #5
i have iphone 5

[2014-09-17 13:11] netzpixel commented on #5
5c and 5s

[2014-09-17 13:12] drmatrix commented on #5
not   yet

[2014-09-17 13:13] Zoulci commented on #5
@drmatrix Send me the tool to bypass iphone 5
email    ahmad.asif56@yahoo.com

[2014-09-17 13:15] drmatrix commented on #5
https://drive.google.com/file/d/0B169oMHiKxGEZEx4czkzd0NPUDg/edit?usp=sharing

itumes 11,1
ios 4s and 5 no over 7.0.4

[2014-09-17 13:17] drmatrix commented on #5
give me feedback

[2014-09-17 13:18] Zoulci commented on #5
ok

[2014-09-17 13:19] drmatrix commented on #5
Zoulci no working link ??

[2014-09-17 13:20] Zoulci commented on #5
1 min i got error i fix and give you link hang on for 1 min

[2014-09-17 13:24] Zoulci commented on #5
Here"s New Link

1:   https://www.dropbox.com/s/tuqeef0spas4nat/iphone%204%20fix%20carrier%20no%20cdma.zip?dl=0

2:   https://www.dropbox.com/s/wzdnwgmrw86lfrb/README.txt?dl=0

[2014-09-17 13:27] Zoulci commented on #5
one is carrier fix and second is tutorial

[2014-09-17 13:28] drmatrix commented on #5
thanks bror

[2014-09-17 13:38] rafaelcarioca7 commented on #5
@drmatrix your tool cant bypass ios 7.1.1?

[2014-09-17 13:59] philipp33 commented on #5
@drmatrix - so it will not work for 5C with ios 7.1.2 ?

On Wed, Sep 17, 2014 at 3:15 PM, drmatrix notifications@github.com wrote:

[2014-09-17 14:18] drmatrix commented on #5
i dont think soo

[2014-09-17 14:34] drmatrix commented on #5
all its  about ramdisk
https://www.youtube.com/watch?v=1dh5loiX1dU

https://code.google.com/p/iphone-dataprotection/issues/detail?id=49

[2014-09-17 14:35] drmatrix commented on #5
if someone can generet the ramdisk  A5 or A6 ,)

[2014-09-17 15:28] Apfelnerd commented on #5
lol

[2014-09-17 15:28] Apfelnerd commented on #5
only a4

[2014-09-17 15:53] gkroky commented on #5
my email id (gkroky@gmail.com)

On Wed, Sep 17, 2014 at 6:39 PM, Zoulci notifications@github.com wrote:

[2014-09-17 18:40] Zoulci commented on #5
Guyzzz anyone know how to get or create own ServerCASigned. if anyone know and have then messege me

[2014-09-17 18:41] Zoulci commented on #5
@drmatrix hey bro is your carrier works ? Tell me ......!!!!

[2014-09-17 18:46] drmatrix commented on #5
I have not try ett

[2014-09-17 18:48] Zoulci commented on #5
give feedback when you try

[2014-09-17 18:49] Zoulci commented on #5
you know how to bypass iphone 5

[2014-09-17 18:54] yunusawess commented on #5
guys if my ipad 2 is on 7.1.1 can i bypass using server side

[2014-09-17 19:00] NazuzStelantis commented on #5
@LJohan y @Zoulci  here I have a server with ServerCASigned Use it and try it, and we contact you by email that we develop herny200497@gmail.com                                                                                                 http://www.mediafire.com/download/d377ibako6y04ax/Server.rar

[2014-09-17 19:03] Zoulci commented on #5
@Exynos5 its very change from my htdocs folder im confused where to place them .. Can you Tell me

[2014-09-17 19:05] NazuzStelantis commented on #5
Place them in htdocs, there are a few that I've managed to remove certificates that are recent, we should try them, but the problem is in the firm "Minacriss", that signature is no longer valid, you must generate a new

[2014-09-17 19:32] NazuzStelantis commented on #5
Use this tool http://www.sslshopper.com/certificate-decoder.html

[2014-09-17 21:45] drmatrix commented on #5
so can we bay a valid certificat ?

[2014-09-18 02:57] CristianLin1 commented on #5
you dont buy a certificate ,  they are NOT static , and YES they actually closed the 2 more "easy to find" exploits of the activation system  since iOS 7.1.2 , it can be done via SSL-RSA  but not something to pull out in 1 or 2 months of work .

[2014-09-18 04:12] lovylove143 commented on #5
@TTMTT Waiting for you

[2014-09-18 11:34] chyouness commented on #5
bypass icloud 97 % localhost

[2014-09-18 11:38] philipp33 commented on #5
@chyouness - nice!

On Thu, Sep 18, 2014 at 1:34 PM, chyouness notifications@github.com wrote:

[2014-09-18 11:48] manguconshrimp commented on #5
I would really appreciate if somebody emails me once the figure out how to make it work, I'm aware that iOS 8 come out yesterday but I'm gonna leave the devices on 7.1.2  but the work around the "deviceservices & deviceactivatiom" never worked for me. Thank you

Sent from my iPhone

[2014-09-18 12:04] drmatrix commented on #5
@chyouness  have u a public IP ?

[2014-09-18 12:12] LJohan commented on #5
Can someone know how to generate serverCASined

[2014-09-18 12:16] chyouness commented on #5
@drmatrix  not yet i just completed 97%

[code]

[2014-09-18 12:17] drmatrix commented on #5
goodjob

[2014-09-18 12:25] chyouness commented on #5
I need help
The last stage for serverCASigned.php
i dont have :
$accountTokenSignature =.......................................
$accountTokenCertificateBase64 = .....................................
$FairPlayKeyData = ........................................................................

?

[2014-09-18 12:26] LJohan commented on #5
Bro im in the same  but i olnly need serveserverCASined

[2014-09-18 12:26] drmatrix commented on #5
e to stuck in error serverCASigned.php line ( 3,4,7 )

[2014-09-18 12:29] philipp33 commented on #5
looks promising!

On Thu, Sep 18, 2014 at 2:17 PM, drmatrix notifications@github.com wrote:

[2014-09-18 12:30] Zoulci commented on #5
i also need ServerCASigned i got error 101 that servercasigned is missing and invalid activation ticket

[2014-09-18 12:34] chyouness commented on #5
look :
https://www.youtube.com/watch?v=TjkuxmJPwEY

[2014-09-18 12:34] LJohan commented on #5
Finally we are in the same page

[2014-09-18 12:54] drmatrix commented on #5
can we build a portable client ssh by JavaScript or other language? like that we can execut it from the browser when we are in ,)

[2014-09-18 13:10] drmatrix commented on #5
you understand what i mean ?
http://korben.info/client-ssh-html5.html

[2014-09-18 14:09] NazuzStelantis commented on #5
Yeah good idea
El 18/09/2014 09:54, "drmatrix" notifications@github.com escribió:

[2014-09-18 14:25] drmatrix commented on #5
thanks bro

[2014-09-18 15:27] Zoulci commented on #5
Anyone Know how to downgrade A5 devices to ios 6 or 5

[2014-09-18 15:39] rainb0wx36 commented on #5
I think there aren't so many possibilities for downgrading. Do you have saved shsh blobs ?

[2014-09-18 15:55] Zoulci commented on #5
no

[2014-09-18 15:56] Zoulci commented on #5
if anyone have iphone 5 global  ios 5 or 6 shsh blobs then tell me

[2014-09-18 15:57] Zoulci commented on #5
even if you have ios 7 plz contact me

[2014-09-18 16:00] NazuzStelantis commented on #5
yes please shsh blobs then tell me please!

[2014-09-18 16:20] lovylove143 commented on #5
i have a public IP let me know for hosting

[2014-09-18 16:23] Zoulci commented on #5
ok

[2014-09-18 17:46] TTMTT commented on #5
good news, i have now 2 method for bypass icluod..
method 1 via (other xml)
method 2 via (cert & key) and i will try to find way how downgrade any devices without shsh.. becoz i have same apple cert & key..

@lovylove143
i'm still working on my program (iCL0udin v1.0) i will send msg to you for testing some devices later..

if i use method 2 my program bypass icloud with network but if you restore

[2014-09-18 17:51] netzpixel commented on #5
C# is easy for me :)

[2014-09-18 17:54] rafaelcarioca7 commented on #5
@TTMTT your second method its bypassing iphone 4s ios 7.1.1?

[2014-09-18 18:22] florindmtr commented on #5
@TTMTT If you want to make it web-based, I can help with php/python/ruby or test iPhone 5 and iPad 2 GSM

[2014-09-18 18:24] chyouness commented on #5
@TTMTT
is work 100 ¨% ???

[2014-09-18 18:35] rainb0wx36 commented on #5
@TTMTT I also can code your program. I have several iPhones with several iOSs here. Maybe you can send me your program ? rainb0w.x36@googlemail.com

[2014-09-18 19:03] TTMTT commented on #5
@rafaelcarioca7
i tested:
(1) iphone 4s 7.1.2
(3) iphone 4 7.1.2 - (1) iphone 4 7.1.1
(1) iphone 5s 7.1.2 via method 1..

i will test later for iphone 4s 7.1.1 and other ios..
info:
method 1 (get info from apple)
method 2 (generate info from my server)

---

@bentheone
ok, what about graphic? i wan't the program like this :
http://www.unlockroot.com/guide/unlockphone/htc4.jpg
or
http://img.informe

[2014-09-18 19:41] lovylove143 commented on #5
@TTMTT Let me know...

[2014-09-18 19:42] netzpixel commented on #5
I think I can do something like the first one.

[2014-09-18 20:04] drmatrix commented on #5
Im DB desginer and android devlopper by what i can help

[2014-09-18 21:26] tr1ckymast3r commented on #5
iphone 5s 7.1.2 via method 1 ... i'm trying with method 1 but stucking with the private and public key by device ... how can u bypass this one ?

[2014-09-18 21:31] chyouness commented on #5
@TTMTT
give me plz chahyounes@gmail.com

[2014-09-18 22:07] TTMTT commented on #5
@trickymast3r
my method 1 :
send variables to apple (other xml not to deviceActivate) and apple show some info like account token and other..

method 2 : itunes send info to my server, my server have apple cert and key .. encode, sign generate new info to show in itunes and activate ..

if apple knew my method 1 not problem .. becoz i have method 2..
just, i need some time for design my program..

[2014-09-18 22:19] drmatrix commented on #5
@TTMTT I have. Iphone 5s Ios 8 and ipad mini. 2 ios 7.1.2

[2014-09-18 22:21] Optigonnn commented on #5
@TTMTT can you please bypass my device now? I've waited 2 months. It's only an iphone 5s that I bought off ebay. :(

[2014-09-18 22:28] drmatrix commented on #5
@TTMTT can u share one tmp ip for help and test email tdriouech@gmail.com

[2014-09-19 02:53] lovylove143 commented on #5
@TTMTT send me first method guide at lovylove143@gmail.com

Sent from my iPod

On 19-Sep-2014, at 3:37 AM, Magd Almuntaser notifications@github.com wrote:

[2014-09-19 05:14] dimabiko commented on #5
@TTMTT
send me any metot dough 5s 7.1.2 please dimabiko@mail.ru

[2014-09-19 05:37] gkroky commented on #5
@magd bro... Can u help me, I have iPhone 5s iOS 7.1.2 , my email (
gkroky@gmail.com )

On 9/19/14, dimabiko notifications@github.com wrote:

[2014-09-19 05:45] DuckiDuck commented on #5
bro, I can try on almost all idevices 4s with 7.1.1, 4 with 7.1.2 iphone  5 and 5s with 7.1.1, 7.1.2 ipad 2-3, send me a metot... can I help! cum3tras@gmail.com

[2014-09-19 06:13] gkroky commented on #5
@magd, I have also ..all devices for test 4/4s/5c/5s iPad,shared what
u have my Id (gkroky@gmail.com)

On 9/19/14, DuckiDuck notifications@github.com wrote:

[2014-09-19 06:50] uzzero commented on #5
@TTMTT  If u need help in develop your UI. Contact me. Im the best u will find ;) //C#

[2014-09-19 07:31] melchor83 commented on #5
@TTMTT  I have an Ipad Air (ios 7.1.2) and an Iphone 5s (ios 7.1.2). If you want I can test your methods.
melchor.plasencia@gmail.com
Regards.

[2014-09-19 07:41] philipp33 commented on #5
@TTMTT  - I am designer - I can design it very quick.
Please contact me on email: djshoei@gmail.com

On Fri, Sep 19, 2014 at 9:31 AM, melchor83 notifications@github.com wrote:

[2014-09-19 08:07] tr1ckymast3r commented on #5
@TTMTT : did u mean ?
method 1: Send Valid ActivationInfo ( other device ) then use albert.apple.com response to device ?

method 2: iTunes send generated ActivationInfo ( device's lockdown generated ) to localhost then backend will use ActivationInfo to generate the response to device ?

I was made one with .PHP and try both of method but it's not work . Device always return "invalid activation i

[2014-09-19 08:35] philipp33 commented on #5
@TTMTT  - check your inbox and spam folder - I sent you designed interface for program ;)

[2014-09-19 10:23] Zoulci commented on #5
@TTMTT i have iphone 5 global when your bypass process complete tell me plz i want to unlock icloud

[2014-09-19 11:03] LJohan commented on #5
@chyouness can you helpmeet to generate serverCASined

[2014-09-19 11:13] Derewith commented on #5
@TTMTT  iphone5 i can test, and i am a web devloper graphic designer and c#, c++ program builder.
If you want any help just contact me. derewith@live.it

[2014-09-19 13:01] LJohan commented on #5
@Derewith do you know php

[2014-09-19 13:02] LJohan commented on #5
someone who know php ??

[2014-09-19 13:03] LJohan commented on #5
i need to fix a line in my server

[2014-09-19 13:07] anditsung commented on #5
What line?                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone on the XL network.

[2014-09-19 13:10] LJohan commented on #5
@anditsung
this
$deviceCertificate=base64_encode(file_get_contents($devicefolder."serverCASigned.crt"));

somehting its wrong but i dont know what i like to know whats missing in this

[2014-09-19 13:12] anditsung commented on #5
I don't see anything wrong with itDo you have this file serverCASigned.crt?                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone on the XL network.

[2014-09-19 13:17] LJohan commented on #5
email me to explain why this line its so important and how to get that file  when we fix that line if works of couser.. luis.j.lithgow@live.com. and yes i have that valid to 2015

[2014-09-19 14:13] drmatrix commented on #5
LJohan mail me too

[2014-09-19 14:18] LJohan commented on #5
Check your email

[2014-09-19 14:26] chyouness commented on #5
any have solution for bypass icloud ?

[2014-09-19 14:27] chyouness commented on #5
![image](https://cloud.githubusercontent.com/assets/8680420/4336678/20884dee-4009-11e4-83f7-619e74f7f473.png)

[2014-09-19 14:30] drmatrix commented on #5
it s the serverCASigned.crt i think r0bf0rdsn0w have the good one but his file need password

[2014-09-19 14:32] chyouness commented on #5
password for winrar ?

[2014-09-19 14:32] LJohan commented on #5
Drmatrix send me rhe link

[2014-09-19 14:33] drmatrix commented on #5
http://r0bf0rdsn0w.ih8sn0w.com/

[2014-09-19 14:34] lovylove143 commented on #5
its a april fool...

[2014-09-19 14:34] netzpixel commented on #5
You know this was a joke? 01 April?

[2014-09-19 14:35] drmatrix commented on #5
bentheone have u try it ?

[2014-09-19 14:36] netzpixel commented on #5
It is a joke. Trust me :)

[2014-09-19 14:37] chyouness commented on #5
@drmatrix
![image](https://cloud.githubusercontent.com/assets/8680420/4336820/764fa726-400a-11e4-8a1b-51172c876996.png)

[2014-09-19 14:37] drmatrix commented on #5
u can read here too
http://forum.gsmhosting.com/vbb/f850/icloud-activation-process-intercepted-successfully-1840513/index3.html

[2014-09-19 14:38] drmatrix commented on #5
chyouness i will

[2014-09-19 14:53] drmatrix commented on #5
that i have pay for it

https://drive.google.com/file/d/0B169oMHiKxGETFQzb2xlUFFJS0k/edit?usp=sharing

[2014-09-19 16:55] juanluis3030 commented on #5
this tool work?

[2014-09-19 17:15] lovylove143 commented on #5
Let me try...

[2014-09-19 18:21] TTMTT commented on #5
@philipp33
ohh, thank you bro.. your design is beautiful .. but i need the color (red)
i will send logo to you ..

---

@trickymast3r
method 1 : itunes send info to my server ..  my server send this info and some var to apple but not to deviceActivate (to other url - exploit) and the activaion info show in my server for unlock

method 2 : yes, itunes send info to my server.. my server generate new

[2014-09-19 18:31] Zoulci commented on #5
@TTMTT oh !! yes waiting for the tool :+1:

[2014-09-19 18:39] drmatrix commented on #5
@TTMTT :+1:
the UI interface will manage the iDevice in which mode? DFU Mode or normal mode (screen  autontification)

[2014-09-19 19:21] philipp33 commented on #5
@TTMTT - wow, I am really happy you like it!

sure, send me logotype and I'll change all to RED colour - piece of cake ;)

so we finally get this thing working and unlock them ;)

[2014-09-19 19:25] uzzero commented on #5
@TTMTT look into your Email folder ;D

[2014-09-19 19:49] athfalny commented on #5
@TTMTT i'll be wait too

[2014-09-19 19:54] TTMTT commented on #5
@philipp33 @uzzero
I sent a logo to ur email .. ^_^

---

@drmatrix
UI interface will manage the idevice in normal mode .. just show the iDevice name & version IOS

[2014-09-19 20:01] drmatrix commented on #5
@TTMTT
ios still new world for me :) but im reading and searshing

[2014-09-19 20:40] athfalny commented on #5
hey guys any new here ?

[2014-09-19 20:41] chyouness commented on #5
@TTMTT me too
:) :+1:

[2014-09-20 08:19] Zoulci commented on #5
Any News ???

[2014-09-20 09:55] albastrel commented on #5
News?

[2014-09-20 10:42] Zoulci commented on #5
Guyzz Anyone Knows What is    """""Authentication Token"""""
if anyone knows explain to me please!!!

[2014-09-20 12:45] lovylove143 commented on #5
@TTMTT Bro Any update today???

[2014-09-20 13:22] Derewith commented on #5
@TTMTT i designed an UI red contact me ( derewith@live.it )

[2014-09-20 14:58] philipp33 commented on #5
@Derewith  - I already designed it.. :)

[2014-09-20 20:43] TTMTT commented on #5
## Ohh my god, i don't believe that.. I did it (downgrade to any ios)

https://twitter.com/magd_ttmtt/status/513427135969501184

the good news, yesterday i try use the (apple cert & key) and generate new shsh from my server and get the base from https://www.ineal.me/tss

i just test downgrade my iphone 4-7.1.2 to 5.1.1 (but itunes must lower)
and test downgrade again from 7.1.2 to 6.1.3  (but itun

[2014-09-20 20:58] drmatrix commented on #5
@TTMTT
then I can use any of that SHSH iphone 5s to downgrade the mine

it s revolution reaaaaaaaaaaaalyyyyyyy .)

[2014-09-20 20:59] enohpidoulci commented on #5
Emmm

Sent from my iPhone

[2014-09-20 20:59] enohpidoulci commented on #5
Waro

Sent from my iPhone

[2014-09-20 20:59] drmatrix commented on #5
@TTMTT
plz can you write one small tuto ?

[2014-09-20 21:03] enohpidoulci commented on #5
Right now

Sent from my iPhone

[2014-09-20 21:04] enohpidoulci commented on #5
Iphoneicloud1 is my twitter join me

Sent from my iPhone

[2014-09-20 21:08] drmatrix commented on #5
ok

[2014-09-20 21:26] drmatrix commented on #5
@enohpidoulci
you want help me or sell to me ur prodect ?

[2014-09-20 21:45] TTMTT commented on #5
@drmatrix
no you don't need any shsh ..
the shsh just generate on my server for itunes..
gs.apple.com for restore & downgrade
albert.apple.com for activation & recertify

i will try finish icl0udin and downgrade as soon as possible.. becoz the bypass and downgrade is same server and trick

[2014-09-20 21:47] drmatrix commented on #5
@TTMTT
thanks bro i will try ur method now

[2014-09-20 21:58] drmatrix commented on #5
i use itunes 11.1.1
i get the error 3194

[2014-09-20 22:20] TTMTT commented on #5
@drmatrix
no i mean the downgrade and bypass same server not (same files)
gs.
albert.
i told you :

## the good news, yesterday i try use the (apple cert & key) and generate new shsh from my server

## and get the base from https://www.ineal.me/tss

my server generate shsh like this :
http://api.ineal.me/tss/request.plist/n92ap/11B651

than my server change some var in xml (shsh) with apple cert &

[2014-09-20 22:22] Optigonnn commented on #5
@TTMTT how long until i can test it :D, now?

[2014-09-20 22:23] drmatrix commented on #5
@TTMTT
so it s no chance to do it in my localhost ,(

[2014-09-20 22:26] TTMTT commented on #5
@Optigonnn
Very Very soon.. ^_^

[2014-09-20 22:30] Optigonnn commented on #5
@TTMTT can you please give me how long in time. :D so I know how long to wait for.

[2014-09-20 22:41] drmatrix commented on #5
@TTMTT very gooooooood job i start to understand litt

[2014-09-20 23:32] TTMTT commented on #5
@philipp33
wow man, your design is greet..
i love the red v3 & v2
the button (Unlock) and (Downgrade)
becoz the bypass & downgrade on same server & trick

[2014-09-20 23:49] philipp33 commented on #5
@TTMTT  - hey mate :+1:  - this red one is mad, right, hehe :) - I will change it to Downgrade - but how will we select the version - do I need to do another drop down?

can't wait for software :)

[2014-09-20 23:57] drmatrix commented on #5
@TTMTT
this RESTApi its MAGIC

[2014-09-21 00:01] TTMTT commented on #5
@philipp33
ohh, i forget you must select the version ___
ok hmm, can you add tab for downgrade & unlock or i don't know .. your free .. ^_^

[2014-09-21 02:11] lovylove143 commented on #5
@philipp33
Also link to tutorial. or embedded tutorial video

@TTMTT
Thanks for your efforts.
Can provide the detail on which device and IOS version would be compatible.

[2014-09-21 02:19] w0rmIN commented on #5
TTMTT ping me.

[2014-09-21 02:24] w0rmIN commented on #5
_ttp://siph0n.net/dumps/crime.li/dbs/apple_data.sql some db from apple server

[2014-09-21 02:32] rainer2555 commented on #5
@TTMTT
Can I test it with iphone 5s ios 7.1.2 ..........

[2014-09-21 03:28] athfalny commented on #5
Hi guys how to delete find my in jailbroken device

[2014-09-21 03:30] athfalny commented on #5
I mean delete find my iphone

[2014-09-21 03:31] gkroky commented on #5
@magd bro, u doing great, when u complete I hope u will help us all

On 9/21/14, drmatrix notifications@github.com wrote:

[2014-09-21 09:21] albastrel commented on #5
Imei Change Iphone!

1 - http://s30.postimg.org/66r1v5fpt/image.jpg
2 - http://s30.postimg.org/ctdpobxe9/image.jpg
3 - http://s30.postimg.org/mryoat6tt/image.jpg
4 - http://s30.postimg.org/eimswed3l/image.jpg
5 - http://s30.postimg.org/nlba3fcup/image.jpg
6 - http://s30.postimg.org/40wr0nc9d/image.jpg
7 - http://s30.postimg.org/eeszg57m9/image.jpg
8 - http://s30.postimg.org/nt3idod75/image.jpg
9 -

[2014-09-21 09:54] albastrel commented on #5
@TTMTT any news with signal when u bypass? SIM signal?

[2014-09-21 10:35] venom2seby commented on #5
any progress guys with the tool is gone work for iphone 5s, ipad 2, i try it everything on net nothing working

[2014-09-21 13:18] lovylove143 commented on #5
@TTMTT Please provide beta testing app

[2014-09-21 14:46] rainer2555 commented on #5
Can anyone send me Server Files and Certificates to test with iphone 5s ios 7.1.2
Thanks

[2014-09-21 20:24] JiMiGj commented on #5
Ljohan, why don't you have a look at doucli one, and see if you can modify it, download the doucli one

_ttp://idisassembler.com/source-servers-bypass-icloud-bypas-for-developers/

[2014-09-21 20:26] LJohan commented on #5
@jimigj let me check i will try

[2014-09-21 21:11] LJohan commented on #5
@JiMiGj those file are old i have it long time ago. the only  file that loks like ptobably should work is : isrv_35

[2014-09-21 21:13] JiMiGj commented on #5
LJohan is the isrv_35 different from the one that you have, i mean are fiels that you need in there?

[2014-09-21 21:15] LJohan commented on #5
@jimigj i check one by one and the file are the same

[2014-09-21 21:35] drmatrix commented on #5
@TTMTT
how can u generate the .shsh from buildmanifest plist ? email me tdriouech@gmail.com

[2014-09-21 23:27] TTMTT commented on #5
@drmatrix
look,
when you restore your iphone you see the itunes send request gs.apple.com 2 times..
the first time you see (start BBTicket) and secound time (start APTicket & BBTicket)..
that ServerVersion 2.1.0
the response from apple first time (start LLB) and secound time (start BBTicket)
all data response is (Apple Secure Boot Certification)
but the (BBTicket) is ((((private key)))) and the (B

[2014-09-21 23:57] drmatrix commented on #5
Ok boss i will try

[2014-09-22 04:38] minilic commented on #5
I tried your server @philipp33 , but only bypass itunes bro:/

[2014-09-22 06:10] philipp33 commented on #5
@minilic - yes, that server is from gadgetwide and it only bypasses itunes :(

[2014-09-22 08:57] venom2seby commented on #5
be careful guys if you paying for surveys to get this kind of program or code for registration is only just a scam in youtube if you look very well you gone see is just a picture the program   (https://www.youtube.com/watch?v=EiXmKdSrMB8)

[2014-09-22 09:12] insestito commented on #5
Any news???
@TTMTT

[2014-09-22 09:17] trapcode commented on #5
@Zoulci would you provide me new link for iPhone 4 carrier fix ?

[2014-09-22 10:12] lovylove143 commented on #5
@TTMTT You can take Teamviewer of my mac and do all the testing for iphone 4s IOS 7.1.2 icloud lock

[2014-09-22 12:10] Zoulci commented on #5
@trapcode give me your email i will send you ..

[2014-09-22 13:20] DuckiDuck commented on #5
@Zoulci I can receive guidance for iphone 4 fix carrier? cum3tras@gmail.com

[2014-09-22 14:10] Zoulci commented on #5
@DuckiDuck @trapcode i will also give u tutorial file..read and do same as written...

@DuckiDuck Check your Email

@trapcode Give me your email .

Give Feedbak after use carrier fix at my email

[2014-09-22 14:17] gsminfor commented on #5
@Zoulci could you send me also guidance for iphone 4 fix carrier? nandoshadowcat@gmail.com

[2014-09-22 14:20] Zoulci commented on #5
@gsminfor ok wait for two minutes i will send you

[2014-09-22 14:23] Zoulci commented on #5
@gsminfor Check Your Email...

[2014-09-22 14:23] jas0n2 commented on #5
@Zoulci can you send it to me at ceaserjayson@gmail.com

[2014-09-22 14:24] Zoulci commented on #5
@jas0n2 ok wait for two minutes

[2014-09-22 14:25] jas0n2 commented on #5
ok

[2014-09-22 14:26] Zoulci commented on #5
@jas0n2 Check Your Email...and give feedback

[2014-09-22 14:30] LJohan commented on #5
@zoulci  bro send it to me i want to make some test Luis.j.lithgow@live.com

[2014-09-22 14:32] Zoulci commented on #5
@LJohan Check Your Email....

[2014-09-22 14:56] gsminfor commented on #5
@Zoulci these files are set to GSM or CDMA carrier?

[2014-09-22 15:26] toxatow commented on #5
@Zoulci can you please send to me too fix for iphone 4 - toxatow@yandex.ru

[2014-09-22 15:28] rainb0wx36 commented on #5
@Zoulci
Can you also send it to me please ?
rainb0w.x36@googlemail.com

[2014-09-22 15:31] albastrel commented on #5
@Zoulci can u send it to me ? pls ? dragutzdraquasta@yahoo.com

[2014-09-22 15:35] lovylove143 commented on #5
iPhone 4S Please

@TTMTT Any update bro... Testing

[2014-09-22 15:58] solie commented on #5
@Zoulci send it to me also, pls, sol642@gmail.com, I have no carrier iPhone 4...

[2014-09-22 16:18] XeNiRoX commented on #5
@Zoulci i need carrioer fix for iPhone 5 plz. thx, here is my e-mail : xenirox@gmail.com

[2014-09-22 16:25] trapcode commented on #5
@Zoulci please send me badtrapcode@gmail.com thanks before

[2014-09-22 16:57] Zoulci commented on #5
@gsminfor only gsm

[2014-09-22 17:04] Zoulci commented on #5
@toxatow @rainb0wx36 @albastrel @solie @trapcode you guyz i will send you wait ....

@lovylove143 @xenirox Guyzz its not for 4S and 5 or 5S ..its only for iPhone 4 ..

[2014-09-22 17:11] Zoulci commented on #5
Guyz Check your mails...

[2014-09-22 17:16] trapcode commented on #5
@Zoulci thank you for the files, i'm testing it now, will leave feedback for the result soon

[2014-09-22 17:18] Zoulci commented on #5
@trapcode ok

[2014-09-22 17:29] rmmlbx commented on #5
@Zoulci let me try too rm_mlbx@yahoo.com
thanks

[2014-09-22 17:30] juanluis3030 commented on #5
@Zoulci  you can send me the files please elnikido3030@hotmail.com

[2014-09-22 17:41] juanluis3030 commented on #5
@Zoulci please send me elnikido3030@gmail.com thanks

[2014-09-22 17:46] Zoulci commented on #5
ok

[2014-09-22 17:48] rmmlbx commented on #5
any report of success?

[2014-09-22 17:50] Zoulci commented on #5
@rmmlbx yes its work for me ...

[2014-09-22 17:52] Zoulci commented on #5
Check Your Mails...

[2014-09-22 18:12] MassiCsoza commented on #5
please send me it to me mcastillosoza@gmail.com thanks

[2014-09-22 18:12] gkroky commented on #5
@ zoulci please send me gkroky@gmail.com elnikido3030@gmail.com thanks

On Tue, Sep 23, 2014 at 12:06 AM, Denis S. Bryzgalov <
notifications@github.com> wrote:

[2014-09-22 18:14] jhonyvyrus commented on #5
Can you sent me the file this is my mail jhonyvyrus@yahoo.com thencs

Sent from my iPhone

[2014-09-22 18:16] davidkmenta commented on #5
@Zoulci david.kmenta@gmail.com, thanks!

[2014-09-22 18:22] CRACKBOY commented on #5
@Zoulci slim.habli@esprit.tn iPhone 4 GSM 3,2 need carrier fix thx

Le lundi 22 septembre 2014, David Kmenta notifications@github.com a
écrit :

##

_cordially__,_
_Slim HABLI._
_Computer networks expert_
- (Certificated CCNA 1, 2, 3 & 4)Future Engineer in IT Architecture and
  Cloud Computing (ArcTIC)*

_esprit_►
_Address: technology Center "El Ghazala" – 2083 Ariana -- Tunisia_
_Web site: www.es

[2014-09-22 18:36] Zoulci commented on #5
Guyzz Check Your Mails....

[2014-09-22 18:36] gkroky commented on #5
i got it ...thanks bro

On Tue, Sep 23, 2014 at 12:36 AM, Zoulci notifications@github.com wrote:

[2014-09-22 18:38] Zoulci commented on #5
@gkroky Your Welcome...

[2014-09-22 18:38] toxatow commented on #5
how to edit .plist files?? i can see there only some symbols

[2014-09-22 18:39] toxatow commented on #5
p.s- i use ssh_rd + winscp to exploit my iphone 4

[2014-09-22 18:39] davidkmenta commented on #5
@Zoulci  I got it too, thanks a lot! "No cdma" in filename means it's not working with CDMA iPhone or it's only for CDMA iPhone? :)

[2014-09-22 18:40] Zoulci commented on #5
@toxatow Do as written in README.txt file

[2014-09-22 18:41] Zoulci commented on #5
@davidkmenta it means its not for CDMA

[2014-09-22 18:41] toxatow commented on #5
lol how iFile ?? i don't have access to iphone

[2014-09-22 18:42] Zoulci commented on #5
@toxatow first you do bypass your phone

[2014-09-22 18:45] toxatow commented on #5
only bypass i can - is delete setup.app xD any other solution?

[2014-09-22 18:51] trapcode commented on #5
@toxatow use iPhone 4 hacktivate tool All iOS by smolk, browse the folder find script.txt then remove this line: rm /mnt1/Applications/Setup.app

[2014-09-22 19:00] davidkmenta commented on #5
@trapcode and what if I haven't got "iPhone 4 hacktivate tool All iOS by smolk"? :(

[2014-09-22 19:03] JiMiGj commented on #5
Zoulci can i also please have this at jimigj_@hotmail.co.uk  thanks

[2014-09-22 19:08] trapcode commented on #5
@davidkmenta so maybe you don't even know the word "google" ever exist

[2014-09-22 19:11] davidkmenta commented on #5
and also I'm little confused about other files... there are a lot of files that aren't described in readme.txt... for example whole GSM folder, activation_records folder, *.pem files or Preferences.app...
@trapcode I do :) but at 1st it's paid app and 2nd (and that is important) it's for Windows only, but I've got OSX.. any idea? :)

[2014-09-22 19:13] rmmlbx commented on #5
@Zoulci still got "No Service" iphone 4 gsm 7.1.1

[2014-09-22 19:30] toxatow commented on #5
no service... and P.S - i make that without any bypass. Just copied all that files in my iPhone (ssh_rd+winscp) then edit data_ark . And after that all from Activation Screen i got bypassed iphone without signal. LOL that not carrier fix this is just bypass files.

[2014-09-22 19:30] trapcode commented on #5
maybe same method *ttp://www.scribd.com/doc/237361752/IDevice-Carrier-FIX-by-Misael

[2014-09-22 19:33] LJohan commented on #5
I think you guys are doing something wrong . because just whit rename setup.app just whit that your are bypassed and then the other files are for carrier fix

[2014-09-22 20:02] chyouness commented on #5
any solution for bypass ?

[2014-09-22 20:22] insestito commented on #5
i have a theory....
supposedly we can bypass with this bug(not in ios 7.1.2): https://www.youtube.com/watch?v=GkAUx2k50eA
but this not work in ios 7.1.2,(WE NEED KNOW WHAT IOS WORK THIS BUG).

in a post above on this page there is a user who says he has found how to downgrade any ios.
So, if we have a downgrade with a ios with the youtube bug, we can bypass the phone...

someone can try it????
 :)

[2014-09-22 21:21] albastrel commented on #5
@Zoulci iphone 4 no bypass icloud 7.1.2 write in the phone Update Completed > Your iphone bla bla bla > Continue and No Service! no bypass icloud.

[2014-09-22 21:54] Optigonnn commented on #5
I have a Dedicated server 16GB RAM DDoS protected, I will give it to anyone that can bypass my iPhone 5s. It expires on the 17th of October.

[2014-09-22 21:58] insestito commented on #5
@optigonnn can ypu share it? Thanks bro ;)

[2014-09-22 21:59] Optigonnn commented on #5
@insestito only to the person that can give me iCloud bypass.

[2014-09-22 22:01] insestito commented on #5
Sorry, i readed bad you message :p

[2014-09-22 22:13] minilic commented on #5
What about doulci, yesterday they posted about register ips , and now nothing...

[2014-09-22 22:26] drmatrix commented on #5
https://www.youtube.com/watch?v=tpO-XkLIkZY

http://theiphonewiki.com/wiki/Activation

http://nto.github.io/AirPlay.html#introduction

more docs we must read )

[2014-09-22 23:14] chyouness commented on #5
Lol @drmatrix you have documents ?

[2014-09-22 23:21] drmatrix commented on #5
GOOGLE have everything  but if i found something can help i will share it ) "all its about icloud activation"

[2014-09-22 23:25] drmatrix commented on #5
chyouness have try http://www.telerik.com/fiddler ? or u use somthing else ?

[2014-09-22 23:34] minilic commented on #5
drmatrix can u help me?

[2014-09-22 23:35] drmatrix commented on #5
minilic if i can why not

[2014-09-22 23:37] minilic commented on #5
what's your email? or other chat

[2014-09-22 23:39] drmatrix commented on #5
tdriouech@gmail.com

[2014-09-23 12:31] Zoulci commented on #5
Guyzz it works fine for me ...this is not my files ..my friend give me that

[2014-09-23 12:37] drmatrix commented on #5
Zoulci what works fine ?

[2014-09-23 12:50] insestito commented on #5
@Zoulci but what iDevice?? Can you share it? thanks

[2014-09-23 12:51] lovylove143 commented on #5
Pls only A5+ device discussion here... People need bypass for that...

[2014-09-23 13:48] caosol commented on #5
any files to bypass IPad 2-3-4-Air-mini??o 3G version?

[2014-09-23 16:10] chyouness commented on #5
@drmatrix  yes
\deviceservices\stylesheets
auth_styles
styles

#text-deviceInfoHolder {
margin-top: 10px;
}

#text-activationInfoComplete{
margin-top: 100px;
}

#message-info{
margin-top: 200px;
font-size:9px;
background-color: #eee;
}

#form-submit-buttons-right{
margin-top:10px;
width: auto;
text-align: center;
float: right;
}

#form-submit-buttons-left{
margin-top:8px;
width: 10;
text-align: ce

[2014-09-23 18:43] drmatrix commented on #5
@chyouness sent to u a email

[2014-09-23 18:45] chyouness commented on #5
@drmatrix give me your mail

[2014-09-23 18:46] insestito commented on #5
Any news for non iPhone 4 devices ??

[2014-09-23 18:51] drmatrix commented on #5
@chyouness tdriouech@gmail.com

[2014-09-23 19:05] enohpidoulci commented on #5
ok now tell me u r tester icloud bypass or just working on icloud m from
pakistan

On Tue, Sep 23, 2014 at 11:51 PM, drmatrix notifications@github.com wrote:

[2014-09-23 19:11] drmatrix commented on #5
Working :)

[2014-09-23 19:12] enohpidoulci commented on #5
when finish work tell i will be very glad :P

On Wed, Sep 24, 2014 at 12:11 AM, drmatrix notifications@github.com wrote:

[2014-09-23 19:13] enohpidoulci commented on #5
why dnt u guys give me feed back on www.ruleonplanet.blogspot.com

On Wed, Sep 24, 2014 at 12:12 AM, saleem icloud activation <
ahsanalisaroba@gmail.com> wrote:

[2014-09-23 19:13] enohpidoulci commented on #5
i m giving solution in 40 GBP

On Wed, Sep 24, 2014 at 12:13 AM, saleem icloud activation <
ahsanalisaroba@gmail.com> wrote:

[2014-09-23 19:25] jhonyvyrus commented on #5
Hy bro good think is now i conect wuith itunes no problem this is big progres for me GSM NOT WORCK BUT I AM HAPY God job continue
At the end you wuill succsed
Thencs
Sent from my iPhone

[2014-09-23 19:30] branchd77 commented on #5
guys I am here to help. I have Ipad 2 wfi ready to test on. I am a 10+ web developer and software engineer and after looking at your progress I am ready to jump in on this project and do what I can. can someone please send me the latest build/info to my email branchd77@gmail.com

[2014-09-23 19:46] enohpidoulci commented on #5
i m developer from 2001 u can chat with me n order for my service in just
10$ at www.doulci.co.uk

On Wed, Sep 24, 2014 at 12:30 AM, branchd77 notifications@github.com
wrote:

[2014-09-23 19:56] insestito commented on #5
@enohpidoulci WE SHARE FREE! hmm

[2014-09-23 20:59] Taruga commented on #5
@enohpidoulci, I can pay $10 and then I'll see it won´t work, and then I will request a refund and get my money back and your paypal account will be one step closer to be locked. Is that what you want ?

[2014-09-23 21:21] TTMTT commented on #5
@enohpidoulci
Soon, i will put my program (FREE).. now i'm working for UI..

---

## Bypass results:

Iphone 5s (8.0): Ok - but i tested just 1 device
Iphone 5s (7.1.2): Ok
Iphone 5s (7.1.1): Ok - but i tested just 1 device

Iphone 5c (7.1.1): Ok

Iphone 5 (7.1.2): Ok - but i tested just 1 device

Iphone 4s (7.1.2): Ok
Iphone 4s (7.1.1): Ok
Iphone 4s (7.1): Ok

Iphone 4 CDMA (7.1.2): Ok
Iphone 4 C

[2014-09-23 21:23] jas0n2 commented on #5
can i test i have ipad 2 gsm

[2014-09-23 21:30] slav4o commented on #5
@TTMTT  i have two iphones, iphone 5 & 5s locked and can provide it for testing also

[2014-09-23 21:30] gsminfor commented on #5
@TTMTT I have an iPod touch (5th Gen) will be your program work for him?

[2014-09-23 21:35] minilic commented on #5
I can help u to test iphone 5 7.1.1

[2014-09-23 21:37] TTMTT commented on #5
Hey guys,
who can design iCL0udin website (professional)?
http://www.icloudin.net

[2014-09-23 21:39] k-darko7 commented on #5
@TTMTT I have an iphone 5s 7.1.1 to test. Can you share your work ?
with respect, Darko.

[2014-09-23 21:44] jas0n2 commented on #5
@TTMTT i can help with the website design

[2014-09-23 21:46] TTMTT commented on #5
@slav4o
what's your ios version?

@gsminfor
i haven't testing ipod touch yet, give me your email..

@minilic
do you have iphone 5 (7.1.1)? not 5s or 5c.. give me your email..

@k-darko7
i have tested iphone 5s, i will testing again but not now..

@jas0n2
if you a professional design, what's your email?

[2014-09-23 21:46] jas0n2 commented on #5
ceaserjayson@gmail.com

[2014-09-23 21:47] JiMiGj commented on #5
minilic if you need iphone 5 , if no sucess with jas0n I also have 2, regards.

[2014-09-23 21:47] minilic commented on #5
Yes iPhone 5 7.1.1. fernandogrro14@gmail.com

[2014-09-23 21:48] erdoganarslan58 commented on #5
@Zoulci  iphone 4s ios 8 .. bro hi. send it to me i want to make some test mesutarsln@gmail.com thanx !

[2014-09-23 21:48] gsminfor commented on #5
@TTMTT  email nandoshadowcat@gmail.com

[2014-09-23 21:49] LJohan commented on #5
Can i tes in iphone 5 5s 5c ipad air  i have all of then to test

[2014-09-23 21:51] TTMTT commented on #5
@LJohan
i have your email, i will send msg later for testing ipad air.. but what's ios version?

[2014-09-23 21:52] LJohan commented on #5
7.1.1

[2014-09-23 21:52] k-darko7 commented on #5
please send me too on darko.kl26@gmail.com .

[2014-09-23 21:53] slav4o commented on #5
@TTMTT  iphone 5 has 7.1.1 & 5s has 7.1.2
regards
slav4o

[2014-09-23 21:54] jas0n2 commented on #5
@TTMTT  my email is ceaserjayson@gmail.com
i have ipad 2 gsm ios 7.1.2

[2014-09-23 21:57] erdoganarslan58 commented on #5
i have iphone 4s ios 8.0 ..bro hi. send it to me i want to make some test mesutarsln@gmail.com thanx ! @TTMTT

[2014-09-23 22:07] melchor83 commented on #5
@TTMTT I have an iPad air ios 7.1.2 for test. melchor.plasencia@gmail.com

[2014-09-23 22:14] Taruga commented on #5
@TTMTT I have iPhone 5 with iOS 7.1.2

[2014-09-23 22:16] TTMTT commented on #5
@LJohan
ok, thank you..

@slav4o
ok, what's your email? i will send msg later for testing iphone 5 (7.1.1)

@mesutarslan
Thank you man, i need testing in your iphone 4s (8.0), i will send msg later for testing ..

@melchor83
Good, i will testing your ipad air (7.1.2) & (7.1.1 @LJohan )

@Taruga
Thank you, i tested iphone 5 (7.1.2), but i will send msg later when i testing some other device

[2014-09-23 22:18] jas0n2 commented on #5
@TTMTT wat of my ipad 2 gsm

[2014-09-23 22:19] Derewith commented on #5
@TTMTT can u contact me for the UI design or for the website? or for testing my iphone 5 icloud locked ios 7.1.2 ? ( derewith@live.it )

[2014-09-23 22:21] Optigonnn commented on #5
@TTMTT My email is mgofmc@gmail.com and I have an iPhone 5s, please let me test. thanks.

[2014-09-23 22:22] Trickmendous commented on #5
@TTMTT
I have a iPhone 5 with 7.12. Can I be a part of the test program please? Will post results ASAP.
Email is trick_wilson@yahoo.com.

[2014-09-23 22:30] j0hnny5 commented on #5
@TTMTT i would like to test my ipad air 64gb running ios 7.1.2, if you would like i can upgrade to ios 8.0
my email is j0hnny_5@yahoo.com, i will report back to you immediatly.

[2014-09-23 22:32] dotcircle commented on #5
IPhone 5s 7.1.2 here.. And capable of designing a website..

[2014-09-23 22:44] TTMTT commented on #5
@jas0n2
i will testing your ipad 2 later, i need your help for design iCL0udin website..
see your email..

@Derewith
Thank you man, i send msg to you..

@j0hnny5
wow, thank you man, i will send msg later for testing ipad (Downgarde & restore & Icloud Bypass)..

[2014-09-23 22:45] TTMTT commented on #5
@dotcircle
give me your email..

[2014-09-23 22:52] Optigonnn commented on #5
@TTMTT what about me?

[2014-09-23 22:59] bigdil19fr commented on #5
@Zoulci  Please help me for my ifone 5 ; anime19fr@yahoo.fr
thanks

[2014-09-23 23:30] meccabolix commented on #5
i have an ipad 2 if you need me to test :)

my email is meccabolix@hotmail.co.uk

[2014-09-23 23:34] Fredmiiku commented on #5
I have an Iphone 5 ios 7.1.2 A1428. Do you need for test ?

[2014-09-23 23:36] DuckiDuck commented on #5
bro I have 5 with 7.0.6, 4s with 7.1.2, ipad2 with 7.1.1,... ready for test :) cum3tras@gmail.com

[2014-09-23 23:36] Fredmiiku commented on #5
My email fredmiiku@gmail.com

[2014-09-23 23:51] hajkac63 commented on #5
@TTMTT   i have i5s  i want to try . my email : kacemhajaji@outlook.com   Best regards

[2014-09-24 00:02] iwanfarhan commented on #5
@TTMTT please tool for My phone i5 ios 7.1 My Email : permatanil4m@gmail.com

[2014-09-24 00:26] eddiees commented on #5
@TTMTT I have bypassed Iphone 5 on IOS 7.0.2, need just carrier fix can you help please?
my email: eddiee.edis@gmail.com

[2014-09-24 00:48] caosol commented on #5
@TTMTT i have all device to test IPad 3-4-Air 3G-4G IPhone 4s-5-5c-5s...caosols@gmail.com

[2014-09-24 00:54] albastrel commented on #5
@TTMTT dragutzdraquasta@yahoo.com i5 7.1.1 and 7.1.2, i4s 7.1, i4 (1@5.1.1.or.7.1.2)

[2014-09-24 00:59] icloudin commented on #5
I would like to test, @TTMTT I got ipad air wifi only, hope you help all of icloud world, unlike Shitting Doulci team, they just want to make fucking money AND FAKE bypass.

[2014-09-24 01:14] willgabriel commented on #5
I have iphone 5 version 7.1, my e-mail williamgabriel85@bol.com.br

[2014-09-24 01:22] gsminfor commented on #5
@TTMTT  waiting for your contact to test iPod touch (Gen 5) ... email nandoshadowcat@gmail.com thanks

[2014-09-24 02:34] marko6x commented on #5
@TTMTT I have an iphone 5 7.1.2 you can test on your server email me at marko6x@gmail.com

[2014-09-24 03:04] Apfelnerd commented on #5
ihave iPhone 5 7.1.2 not blacklisted not remotewiped or lost. apfelnerd@gmail.com will help

[2014-09-24 03:36] GMan1201 commented on #5
Hey, I have an iPhone 5 iOS 7.1.2, waiting for test: my mail boota127@gmail.com. And I'm a web designer, so I'm reporting for duty.

[2014-09-24 04:04] chezG commented on #5
@TTMTT  I have a iphone 5 with 7.1.2 and one with 7.1.1 can you send me the tool for testing, I want to update  it to iOS 8  after  unlock to find out what happens..... thanks

[2014-09-24 04:24] Trickmendous commented on #5
Please include me in beta testing.

On Wednesday, September 24, 2014 12:04 AM, chezG notifications@github.com wrote:

@TTMTT I have a iphone 5 with 7.1.2 and one with 7.1.1 can you send me the tool for testing, I want to update  it to iOS 8  after  unlock to find out what happens..... thanks
—
Reply to this email directly or view it on GitHub.

[2014-09-24 04:28] gkroky commented on #5
@mad al...i have iphone 5s ios 7.1.2 can u share ur work ?

On Wed, Sep 24, 2014 at 10:04 AM, chezG notifications@github.com wrote:

[2014-09-24 04:31] Trickmendous commented on #5
@TTMTT
Hey bro, Is there any way to get tool for testing. I have iPhone 5 with 7.1.2.

[2014-09-24 05:25] lovylove143 commented on #5
@TTMTT iPhone 4S IOS 7.1.2

[2014-09-24 05:37] ghost commented on #5
@TTMTT please send me to test iPad mini 7,1,2 gsm davidrei2000@yahoo.co.uk tanks m8

[2014-09-24 06:06] enohpidoulci commented on #5
dnt waste ur money to scammers just use ur mind and contact me in only 10$

On Wed, Sep 24, 2014 at 10:37 AM, danocas notifications@github.com wrote:

[2014-09-24 06:06] enohpidoulci commented on #5
its www.doulci.co.uk/order

On Wed, Sep 24, 2014 at 11:06 AM, saleem icloud activation <
ahsanalisaroba@gmail.com> wrote:

[2014-09-24 06:07] enohpidoulci commented on #5
simply go to my blog its www.ruleonplanet.blogspot.com
www.doulci.co.uk/order

On Wed, Sep 24, 2014 at 2:39 AM, k-darko7 notifications@github.com wrote:

[2014-09-24 06:44] lovylove143 commented on #5
@enohpidoulci Bypass my device and you get 10$... we can't pay in advance...

[2014-09-24 06:46] lovylove143 commented on #5
Guys don't trust this guy @enohpidoulci  until he bypass your device... And pls don't pay a single $ in advance.... 1st Solution then payment

[2014-09-24 06:56] lovylove143 commented on #5
@enohpidoulci Do u want to scam and earn 100$ or You want to help and earn 1000$ Choice is your @enohpidoulci

[2014-09-24 07:01] insestito commented on #5
I have iphone 5S 16gb 7.1.2 Full ulocked carrier. Spanish iphone(european). My mail if you want one tester: christian_truz@hotmail.com

[2014-09-24 07:28] philipp33 commented on #5
Nice one @TTMTT  !
I have iPhone 5c with iOS 7.1.2 for test.

On Tue, Sep 23, 2014 at 11:21 PM, Magd Almuntaser notifications@github.com
wrote:

[2014-09-24 07:48] CRACKBOY commented on #5
@Magd Almuntaser what the phylosophie of your bypass haw you bypass without
the apple's private key

2014-09-24 9:28 GMT+02:00 philipp33 notifications@github.com:

##

_cordially__,_
_Slim HABLI._
_Computer networks expert_
- (Certificated CCNA 1, 2, 3 & 4)Future Engineer in IT Architecture and
  Cloud Computing (ArcTIC)*

_esprit_►
_Address: technology Center "El Ghazala" – 2083 Ariana -- Tunisia

[2014-09-24 07:53] sniperegy commented on #5
@TTMTT  I have iphone 5S  Ksa

Gr7ne@Yahoo.Com

[2014-09-24 08:06] krispychikin commented on #5
@TTMTT i got iphone 5 7.1.2 at your disposal. just say the word. khalidtermizi@gmail.com

[2014-09-24 08:24] badrsony commented on #5
please share with us all . we have all work at the same projet

[2014-09-24 08:54] Zoulci commented on #5
@TTMTT hi bro i have iPhone 5 global icloud locked can you help me to unlock it ???
When its ready tell me.....

He is fake guyz dont pay him...   @enohpidoulci

[2014-09-24 08:59] krispychikin commented on #5
has anyone seen r0bf0rdsn0w's file? have any of u figured out the encryption key to zip file?
http://r0bf0rdsn0w.ih8sn0w.com/

[2014-09-24 09:04] insestito commented on #5
@krispychikin the key of the zip file is in leaked in google...
search

[2014-09-24 09:06] TTMTT commented on #5
@CRACKBOY
i told that (old post):
((
method 1 via (other xml)
method 2 via (cert & key) and i will try to find way how downgrade any devices without shsh.. becoz i have same apple cert & key..
))

---

The method 1 by (other xml not to deviceActivation) you can call it exploit..

---

The method 2 by (apple certification & privat key) .. but that's not enough you must add a string like a password

[2014-09-24 09:10] TTMTT commented on #5
@sniperegy
do you have iphone 5s KSA?
I need testing your mobile netowk..
هل لديك ايفون 5 سعودي؟
انا بحاجة لتجربة شبكة هاتفك..

[2014-09-24 09:11] eddiees commented on #5
Ok iphone 5 on IOS 7.0.2  here..

[2014-09-24 09:12] eddiees commented on #5
Bypassed just network fix needed

[2014-09-24 09:12] Taruga commented on #5
@TTMTT What´s the ETA  for your tool ? We're waiting without sleeping and eating and sh*ting.... ;)

[2014-09-24 09:17] Optigonnn commented on #5
@eddiees @TTMTT can I test I have iPhone 5s thanks.

[2014-09-24 09:22] TTMTT commented on #5
@Taruga
hahaha me too,  i do my best.. you can sleeping..
i will tell everybody when i finish my program UI ..

i'm working hard in my program becouz i have a little info for C++ ___

[2014-09-24 09:29] jhonyvyrus commented on #5
Iphone 5s 32gb neverlock
If helps jhonyvyrus@yahoo.com

Sent from my iPhone

[2014-09-24 09:32] athfalny commented on #5
@TTMTT is this solution really for free?

[2014-09-24 09:48] Taruga commented on #5
@athfalny Yes, he said it would be free. But I would gladly give him a donation for his work if this solution comes to reality and fixes my iPhone

[2014-09-24 09:53] TTMTT commented on #5
@athfalny
yes my friend, I know that.. there are a lot of people will reap a lot of money by my program..
but i don't care.. i just love decode & nulled..
i have a story in 2006 to 2009, previously I became famous in decode & nulled scripts in my country (Middle East).. but i leave this in 2009 because lebanese channel named (NEW TV) collaboration with the internet security to try arrest me..

but

[2014-09-24 09:54] chezG commented on #5
@TTMTT email adress gdnc09@hotmail.com thx.

[2014-09-24 09:59] meccabolix commented on #5
@TTMTT You are a great human being, i wish there were more people like you in the world, helping people for the sake of helping people .... and the thrill of hacking :D

[2014-09-24 10:05] netzpixel commented on #5
@TTMTT you have my mail since ... long ago. Got nothing so far from you.

[2014-09-24 10:13] Zoulci commented on #5
@TTMTT Hi i have iPhone 5 (Global) iCloud Lock
IOS 7.1.2  can you plz help me to bypass....???

[2014-09-24 10:16] Zoulci commented on #5
@TTMTT When tool is ready plz tell me ...i will tell you my email ...kindly send me the tool..thanks

[2014-09-24 10:35] rainb0wx36 commented on #5
@TTMTT
hey I also want to beta test your software.
I have several iPhones with several iOS versions here. So it would be very nice. Thanks.
rainb0w.x36@googlemail.com

[2014-09-24 10:39] DuckiDuck commented on #5
me too man! cum3tras@gmail.com

[2014-09-24 10:40] philipp33 commented on #5
@TTMTT  - did you get my last emails about UI design export? Not getting any replies on these..

[2014-09-24 11:51] athfalny commented on #5
@TTMTT if so jazakumulloh may Allah bless u and help u way

[2014-09-24 12:40] rainer2555 commented on #5
@TTMTT  I have 5s ios 7.1.2 to test  fassaadid@windowslive.com

[2014-09-24 12:49] enohpidoulci commented on #5
visit www.ruleonplanet.blogspot.com for icloud bypass in 10$

On Wed, Sep 24, 2014 at 5:40 PM, rainer2555 notifications@github.com
wrote:

[2014-09-24 12:51] rainer2555 commented on #5
@enohpidoulci 100 % scammmm :D

[2014-09-24 14:10] albastrel commented on #5
w8 @TTMTT icl0udin is FREE bypass

[2014-09-24 14:13] jhonyvyrus commented on #5
Can someone mail me this bypass at jhonyvyrus@yahoo.com thencs in advance

Sent from my iPhone

[2014-09-24 14:26] lovylove143 commented on #5
@TTMTT i can email and follow up all the testing from all this below contacts. Please let me know. Will give you complete report so that u can solve the issue efficiently..

 jhonyvyrus@yahoo.com
cum3tras@gmail.com
rainb0w.x36@googlemail.com
gdnc09@hotmail.com
khalidtermizi@gmail.com
Gr7ne@Yahoo.Com
christian_truz@hotmail.com
davidrei2000@yahoo.co.uk
boota127@gmail.com
apfelnerd@gmail.com
marko6x@

[2014-09-24 14:29] Zoulci commented on #5
@lovylove143 bro you didn't write my email..   ahmad.asif56@yahoo.com

[2014-09-24 14:33] lovylove143 commented on #5
@Zoulci added your

[2014-09-24 14:37] Taruga commented on #5
itaruga@gmail.com Waiting for some bypass fun....

[2014-09-24 14:38] gkroky commented on #5
I have 5s ios 7.1.2 to beta test gkroky@gmail.com

bro you didn't write my email

On 9/24/14, lovylove143 notifications@github.com wrote:

[2014-09-24 14:46] Zoulci commented on #5
@lovylove143 Thanks bro..

[2014-09-24 14:47] athfalny commented on #5
I believe the main issue opened here is to share their experience about bypassing ..when ithadepro invite carcabot with private chat ..carcabot said to open disscuss here so anyone joined in these opened issue can help each other for bypassing problem

[2014-09-24 14:53] juanluis3030 commented on #5
please send me the software I want to try elnikido3030@hotmail.com

[2014-09-24 14:54] hichamiss commented on #5
if you want I can test it with: IPAD 4 WIFI  7.1.2 : hicham_hh@hotmail.fr

[2014-09-24 14:56] L3xTRoNz commented on #5
Send me the bypass to l3xtronz@gmail.com please. I have a iPhone 5

[2014-09-24 15:38] kataklyist commented on #5
I would like to test your program. I currently have an iphone 5 running ios 7.1.1
tobias.s213@yahoo.com

[2014-09-24 15:42] lovylove143 commented on #5
@TTMTT
Updated all email upto now...

[2014-09-24 15:51] willgabriel commented on #5
please correct my email williamgabriel85@bol.com.br, thanks!

ios7.1 iphone 5 GSM

[2014-09-24 15:56] satya14may commented on #5
I am a little late but please include my email satya14may@gmail.com too in the list. Iphone 5 ios 7.1.2

[2014-09-24 15:56] sniperegy commented on #5
@TTMTT  عندى اجهزهكتير
وشغال بمحل صيانه بالرياض

[2014-09-24 16:01] sven630 commented on #5
I want to test on iPhone 5 with 7.1 ios send me ogoru@mail.ru
thanks

[2014-09-24 16:15] athfalny commented on #5
Guys do anyone know what itunes doing when it ready to receive the activation from apple?

[2014-09-24 16:56] enohpidoulci commented on #5
Ok just pay 2.5$ i will guide every one till bypass now

Sent from my iPhone

[2014-09-24 16:58] enohpidoulci commented on #5
GBP 45 only

Sent from my iPhone

[2014-09-24 17:05] rmmlbx commented on #5
@TTMTT  please include my email too rm_mlbx@yahoo.com
Thanks
Ups my bad, already on @lovylove143 list

[2014-09-24 17:07] JiMiGj commented on #5
enohpidoulci , are you saying you can bypass my phone for 2.5$ ? regards.

[2014-09-24 17:18] Zoulci commented on #5
@JiMiGj hey bro i tell you one thing that dont trust @enohpidoulci He is fake ...

[2014-09-24 17:18] nunovexia commented on #5
@TTMMTT please include my email too  nuno_vexia@yahoo.co.id  i have iphone 5 ios 7.1 ,,,best regards from indonesia,,,thanks b4

[2014-09-24 17:25] JiMiGj commented on #5
thank you Zoulci

[2014-09-24 17:30] drmatrix commented on #5
i think if we must pay someone, it the one how do effort and try to make it easy for everyone
@TTMTT you can add donate botton you merit that realy

[2014-09-24 17:38] nunovexia commented on #5
@Zoulci could u please send me the instruction to nuno_vexia@yahoo.co.id,,,how to bypass icloud n fix carrier on iphone 4 ,my friends really really need it,,,   ill apreciate it,,,   thanks b4 ,,

[2014-09-24 17:51] Zoulci commented on #5
@nunovexia ok wait i will send you..

[2014-09-24 17:54] jhonyvyrus commented on #5
Can i have to thencs mi email is jhonyvyrus@yahoo.com

Sent from my iPhone

[2014-09-24 18:06] Zoulci commented on #5
@nunovexia i will send you soon...i am going to sleep ..when i wake up .first thing is to email you bypass and carrier fix.ok so feel relax...

[2014-09-24 18:33] oncomangus commented on #5
test for me bro.... oncomangus13@yahoo.com #salam

[2014-09-24 18:33] sniperegy commented on #5
2.5$ ??

[2014-09-24 18:35] JiMiGj commented on #5
sniperegy don't do it, i just send that poor cunt 2.5 he is fake, he probably doesn't have food to eat, so I gave him that money for food :)

[2014-09-24 18:35] rainer2555 commented on #5
:D

[2014-09-24 18:40] oncomangus commented on #5
Really...?
If you give me test 1
insya allah
i believe u forever
cause
i hate scammer

On Thursday, September 25, 2014 1:33 AM, sniperegy notifications@github.com wrote:

2.5$ ??
—
Reply to this email directly or view it on GitHub.

[2014-09-24 18:44] JiMiGj commented on #5
ah, his paypal it's going on to limitation now, bye bye fucker,

[2014-09-24 18:44] oncomangus commented on #5
Tragic culture

On Thursday, September 25, 2014 1:37 AM, oncom angus oncomangus13@yahoo.com wrote:

Really...?
If you give me test 1
insya allah
i believe u forever
cause
i hate scammer

On Thursday, September 25, 2014 1:33 AM, sniperegy notifications@github.com wrote:

2.5$ ??
—
Reply to this email directly or view it on GitHub.

[2014-09-24 18:46] JiMiGj commented on #5
oncomangus please call paypal and tell them that this guy is asking for moeny with no proof of his service, so now they will limit his paypal, until he proves what he provides :) dirty cunt asked for it. limitations baby

[2014-09-24 18:49] JiMiGj commented on #5
enohpidoulci   ---> you dirty cunt. read the word reversed 24 Sep 2014  Payment for Ahsan36@gmail. Com   Reversed PayPal reversed this payment and returned the money to your PayPal account.PayPal reversed this payment and returned the money to your PayPal account.     Details    -$2.50 USD

now since you can't prove to us that you can realy do something for the money that you asked, now let's see

[2014-09-24 18:51] oncomangus commented on #5
oh shit

fuck off scammer......

On Thursday, September 25, 2014 1:46 AM, JiMiGj notifications@github.com wrote:

oncomangus please call paypal and tell them that this guy is asking for moeny with no proof of his service, so now they will limit his paypal, until he proves what he provides :) dirty cunt asked for it. limitations baby
—
Reply to this email directly or view it on GitHub.

[2014-09-24 18:55] Taruga commented on #5
I already told Paypal to lock his account 6 hours ago...

[2014-09-24 19:24] Zoulci commented on #5
Guyz i already told you @enohpidoulci is fake..

[2014-09-24 19:44] dekd commented on #5
Not this deluded scammer again 'enohpidoulci '
AKA https://twitter.com/evs_lee34
AKA https://twitter.com/AppleGirl1509
AKA http://www.doulci.co.uk/order/
AKA http://icloudunlock.co.uk/
and this is funny - http://www.twitlonger.com/show/n_1s50n1l
http://www.twitlonger.com/show/n_1s6bj54

[2014-09-24 20:19] Taruga commented on #5
Some Apple Internal iPhone tools to play with & explore

[2014-09-24 20:20] Taruga commented on #5
http://planetkill3r.tk/RestoreTools.pkg

[2014-09-24 20:27] oncomangus commented on #5
how to use it tools.....

On Thursday, September 25, 2014 3:20 AM, Taruga notifications@github.com wrote:

http://planetkill3r.tk/RestoreTools.pkg
—
Reply to this email directly or view it on GitHub.

[2014-09-24 20:33] Taruga commented on #5
It´s for OSX only

[2014-09-24 20:36] LJohan commented on #5
Listen every buddy  this tool
http://planetkill3r.tk/RestoreTools.pkg

This tool its bullshit and im gonna tell you why..
Thats because this tool only work in apples building or apple network the only thing you can use is to get some info and thats it

[2014-09-24 20:37] JiMiGj commented on #5
is here any sort of moderator to fuck oof those scammers who trie and play with us?

[2014-09-24 20:40] oncomangus commented on #5
for win 7 u have bro

On Thursday, September 25, 2014 3:34 AM, Taruga notifications@github.com wrote:

It´s for OSX only
—
Reply to this email directly or view it on GitHub.

[2014-09-24 20:41] erdoganarslan58 commented on #5
@Zoulci  Hi. Please include my email too mesutarsln@gmail.com . i have iphone 4s ios 8.0.. thanx !

[2014-09-24 20:42] LJohan commented on #5
I test this tool one month ago i illready know its for mac only but no gonna work you have to be in apple building or apple network

[2014-09-24 20:44] Taruga commented on #5
@LJohan It´s not bullshit, there are several tools inside. Some can be very useful, and some can be of no use... This is a screenshot of the PurpleSniff tool: https://dl.dropboxusercontent.com/u/507021/Screen%20Shot%202014-09-24%20at%2021.42.36.png

[2014-09-24 20:47] LJohan commented on #5
My friend thats the only you can use just that one but tray to use  purplefat or purple restore

[2014-09-24 20:53] Taruga commented on #5
@LJohan can you understand what I said ?  Let me repeat myself: "Some Apple Internal iPhone tools to play with & explore" - I didn't say nothing more than that, I didn't say it was an iCloud bypass, it´s just some Apple Internal tools that can be of some use for someone. There are also some command line tools you can use.

[2014-09-24 21:56] TTMTT commented on #5
@philipp33
Hi, yes i see your msg.. now i'm working for codeing my program in C++ you can send the program UI to my email ..

@lovylove143
Thank you man, i have all email in txt.. :+1:

@sniperegy
ان شاء الله اساعدك بس اخلص من برمجة شكل البرنامج علشان تقدروا تستخدموه بشكل أفضل
Sorry guys about arabic language

@athfalny
Thank you, and jazakomallah for your doa'a ..

[2014-09-24 22:02] jas0n2 commented on #5
@TTMTT  i am almost done with the website can u send me the logo

[2014-09-24 22:37] hajkac63 commented on #5
áßã ÌÒíá ÇáÔßÑ

Date: Wed, 24 Sep 2014 14:56:28 -0700
From: notifications@github.com
To: iCloud-Bypass@noreply.github.com
CC: kacemhajaji@outlook.com
Subject: Re: [iCloud-Bypass] contact me (#5)

@philipp33

Hi, yes i see your msg.. now i'm working for codeing my program in C++ you can send the program UI to my email ..

@lovylove143

Thank you man, i have all email in txt..

@sniperegy

Çä ÔÇÁ Çá

[2014-09-24 23:12] TTMTT commented on #5
@jas0n2
I sent a logo to you ..

@hajkac63
شكراً لك، سأعمل بأقصى ما أستطيع

[2014-09-24 23:29] drmatrix commented on #5
@TTMTT
بارك الله فيك على مجهوداتك

[2014-09-24 23:30] erdoganarslan58 commented on #5
Hi guys... doulci team ios 8 icloud activation done ! http://www.youtube.com/watch?v=e6-3SiRCVZA#t=16

[2014-09-24 23:43] TTMTT commented on #5
@drmatrix
WTF? we are all arab here? hahahaha..
Thank you man.. i will do my best ..

[2014-09-24 23:47] kingjoe206 commented on #5
@TTMTT
Like most people here, I appreciate your work.  I have an iPhone 5 7.1.2, 4s 6.1.3 (not icloud locked), iPad2 7.1.2, and iPhone 4 6.1.3 (not icloud locked).  If I can help with beta testing email me kingjoe206@gmail.com  thanks.

مثل معظم الناس هنا ، وأنا أقدر عملكم. لدي اي فون 5 7.1.2 ، 6.1.3 4S ( لا icloud مغلق) ، على iPad2 7.1.2 ، 6.1.3 و iPhone 4 ( لا icloud مقفل ) . إذا كنت يمكن أن تسا

[2014-09-24 23:52] Taruga commented on #5
@mesutarslan done but not good news for us. The video has this comment: "This is only a test for those who say that I have nothing, I will not launch my software so ungrateful and exploited there. End of History"

[2014-09-25 00:05] drmatrix commented on #5
we are from different country and culture , we speak different language but the purpose is same

[2014-09-25 00:08] neox09 commented on #5
@TTMTT i have iphone 5s 7.1.2 ready to test please include my mail eloriginaldjneox@hotmail.com thank you for all

[2014-09-25 00:12] TTMTT commented on #5
@kingjoe206
hahaha, thank you man..  i have your email.. i will send msg later..
becouse i testing some other devices & codeing my program via C++

some people have a hard work with me for icloudin UI & website.. thank you everybody..

@Taruga
no problem, i will put video for bypass 8.0, 7.1.2 & 7.1.1
and downgrade .. :+1:

@drmatrix
aha, i know your country .. PK, IN or IR

[2014-09-25 00:21] drmatrix commented on #5
@TTMTT
Im from norway but originaly morrocain u are from Yamen rigth?

[2014-09-25 00:23] iwanfarhan commented on #5
@TTMTT My phone iphone 5 ios 7.1 global My Email permatanil4m@gmail.com tanks

[2014-09-25 00:24] solie commented on #5
Haha, I'm ID, but syukran katsiira bro @TTMTT , jazakumullah ahsanal jaza

[2014-09-25 00:25] leithalyeye commented on #5
hey @TTMTT , i have an ipgone iphone 5s ios 7.1.2, im waiting to attempt a bypass and post results. send me details etc, to Mleith95@hotmai.co.uk

[2014-09-25 00:29] leithalyeye commented on #5
*iphone... ffs ahaha! ye i agree you should put a donate button on your site when you have one! i'd definitely pay!

[2014-09-25 01:02] TTMTT commented on #5
@drmatrix

## yes, i'm from yemen.. we have a (WAR with qa'adah - osama bin ladin army AND shia'a - iran army AND my country army) here but i don't care about that ..

@solie
hahaha, jazakumullah & syukran..

[2014-09-25 01:11] leithalyeye commented on #5
bruh, whats that about?!?! i am just wanting to test your software and post my results (+ donate cause i want to!!!! ben waiting a while)!thanks,
Matthew L

Date: Wed, 24 Sep 2014 18:02:48 -0700
From: notifications@github.com
To: iCloud-Bypass@noreply.github.com
CC: leithal_yeye@hotmail.co.uk
Subject: Re: [iCloud-Bypass] contact me (#5)

@drmatrix

yes, i'm from yemen.. we have a (WAR with qa'adah

[2014-09-25 01:12] drmatrix commented on #5
@TTMTT
I know my brother, I think that the conflicts in the world never going to stop but we can make a difference with the worst conditions, a big thank you for your efforts

[2014-09-25 01:15] leithalyeye commented on #5
@TTMTT haha sorry im not trying to be fucking weird, i just wanna help ahahaha. im no asshole!!!

[2014-09-25 01:31] leithalyeye commented on #5
i hate what's going on in the world. why cant mankind live in total peace. i totally support all the peace groups in this battle for world peace!

Date: Wed, 24 Sep 2014 18:12:51 -0700
From: notifications@github.com
To: iCloud-Bypass@noreply.github.com
CC: leithal_yeye@hotmail.co.uk
Subject: Re: [iCloud-Bypass] contact me (#5)

@TTMTT

I know my brother, I think that the conflicts in the world nev

[2014-09-25 01:43] TTMTT commented on #5
@ leithalyeye
no problem my bro, i will send msg to you later for testing you iphone, becouse i codeing my program (C++)
we love the peace.. but always peace doesn't come until after the war..

@drmatrix
Thank you bro.

[2014-09-25 01:50] leithalyeye commented on #5
sure bro, don't worry! i'm not creating anarchy or anything, you help the people so im on your side!
you do a service to the people!-Matthew L

Date: Wed, 24 Sep 2014 18:43:54 -0700
From: notifications@github.com
To: iCloud-Bypass@noreply.github.com
CC: leithal_yeye@hotmail.co.uk
Subject: Re: [iCloud-Bypass] contact me (#5)

@ leithalyeye

no problem my bro, i will send msg to you later for testin

[2014-09-25 03:53] lovylove143 commented on #5
@TTMTT
All Emails up till now
lovylove143@gmail.com 4s 7.1.2 , 8
 jhonyvyrus@yahoo.com
cum3tras@gmail.com
rainb0w.x36@googlemail.com
gdnc09@hotmail.com
khalidtermizi@gmail.com
Gr7ne@Yahoo.Com
christian_truz@hotmail.com
davidrei2000@yahoo.co.uk
boota127@gmail.com
apfelnerd@gmail.com
marko6x@gmail.com
nandoshadowcat@gmail.com
williamgabriel85@bol.com
dragutzdraquasta@yahoo.com
caosols@gmail.com
eddi

[2014-09-25 03:55] lovylove143 commented on #5
Bypass for A4 device iPhone 4 - Enjoy guys
https://mega.co.nz/#!tEw02bAY!ftdnyugI0grM_r5OEKgrcCSmY23uMiCrJqaDcEFIGlM

[2014-09-25 04:03] rainer2555 commented on #5
@lovylove143 me to fassaadid@windowslive.com

[2014-09-25 04:12] mxrtuf commented on #5
me too my mail murgiles@me.com
El 24/09/2014, a las 22:53, lovylove143 notifications@github.com escribió:

[2014-09-25 07:26] philipp33 commented on #5
@jas0n2  - I can send you updated logo that I did in UI. You can send me an email to djshoei@gmail.com and I'll send you some cool background that you might want to use to go well with the UI :)

@TTMTT  - Will send you UI in exported way

[2014-09-25 08:00] badrsony commented on #5
@TTMTT
ارجوك عدم نسيان اخوانك في المغرب نحتاج ايضا البرنامج وشكرا جزيلا

[2014-09-25 08:04] badrsony commented on #5
se45850@gmail.com

[2014-09-25 08:35] TTMTT commented on #5
@badrsony
ماراح انساكم لا تقلق

@philipp33
Thank you bro, i sent him a new logo..

[2014-09-25 08:44] XeNiRoX commented on #5
@Zoulci I've got an iPhone 4, please share the solution : xenirox@gmail.com

Thx in advance.

[2014-09-25 08:51] klajdiboy commented on #5
hi, i would really like to take part in the beta testing, i have iphone 5s 7.1.2, klajdi7@hotmail.co.uk
thank you to all the guys who are working hard to create this tool, we all appreciate your efforts!

[2014-09-25 08:58] badrsony commented on #5
thank's brother

[2014-09-25 09:04] albastrel commented on #5
@lovylove143 error - Unhandled exception has occurred in your application. If you click Continue, the application will ignore this error and attempt to continue bla bla bla.... is not work

[2014-09-25 09:48] netzpixel commented on #5
@lovylove143 share your code, I can help you.

[2014-09-25 11:18] insestito commented on #5
@TTMTT  what % are you software?

[2014-09-25 11:41] whitelion121 commented on #5
Hi Im looking to become a beta tester ive a iphone 5c running 7.1.1 with icloud lock email is davidhourihan@btinternet.com you can send any software which u would like beta testing to email here. Any information which u require back i will email to you

Thanks

[2014-09-25 12:28] insestito commented on #5
Look this!!! What is ???? http://pastebin.com/HFDxRQ2j

[2014-09-25 12:31] LJohan commented on #5
That its a certificate

[2014-09-25 12:33] jhonyvyrus commented on #5
No this is nothink is  from krocko a smart kid but must learn how this worck

Sent from my iPhone

[2014-09-25 13:55] dimabiko commented on #5
@TTMTT
help me dimabiko@mail.ru 5s 7.1.2

[2014-09-25 14:26] Zoulci commented on #5
@xenirox ok i will send to you..

[2014-09-25 15:58] Zoulci commented on #5
@nunovexia @xenirox Check Your Mails...

[2014-09-25 16:00] Zoulci commented on #5
Guyzzz Here's The iCloud Bypass For A4 Devices Upto 7.1.2

https://www.dropbox.com/sh/0rxiufjlw39capc/AAAeqNRUJKS_2GZve00kFKiza?dl=0

Download & Enjoy !!!

[2014-09-25 16:40] yunusawess commented on #5
assalamu aleikum please @TTMTT i want to be a beta tester i got an ipad 2 ios 7.1.1
and iphone 5s 7.1.2

[2014-09-25 16:47] Rendy1101 commented on #5
TTMTT, I would like a beta tester for ipad3,3 ios 7.1.2 and ios 8.0, iphone 4s ios 7.1.2 and ios 8.0
send to:
adityas_studio@yahoo.co.id

Rendy

[2014-09-25 16:57] ghost commented on #5
zoulci send me plzzz davidrei2000@yahoo.co.uk

[2014-09-25 17:04] Zoulci commented on #5
@danocas you can download from this link https://www.dropbox.com/sh/0rxiufjlw39capc/AAAeqNRUJKS_2GZve00kFKiza?dl=0

[2014-09-25 17:55] NazuzStelantis commented on #5
@Zoulci Might I have to pass the file to fix carrier bro?

[2014-09-25 17:57] NazuzStelantis commented on #5
@TTMTT  Could be your tool tester? I have an iPhone with iOS 7.1 5S ready to test, send me an email!

[2014-09-25 18:00] yunusawess commented on #5
my email yunus.awess@gmail.com

[2014-09-25 18:02] Maaawww commented on #5
Hernán Ezequiel AKA Exynos5 had a twitter accound called "idevpass" and he always said he got a bypass. What a fuckin scammer bro get out of here you only wanna get money or followers and u know nothing

[2014-09-25 18:04] NazuzStelantis commented on #5
Wtf?

[2014-09-25 18:11] Maaawww commented on #5
What a fuckin scammer you bitch
![image](https://cloud.githubusercontent.com/assets/7947166/4409650/5cae2566-44df-11e4-85d8-28f02bcf55bb.jpg)

[2014-09-25 18:12] LJohan commented on #5
@maaawww finally men thank you i knew allready i did not say anything because i did not want to be rude or bad person but yes that guy have a twiiter acount "idevpass" and he claim to have a server . the funny thing after i give him some info and important research about bypass he unfolow me.

[2014-09-25 18:16] NazuzStelantis commented on #5
The funny thing is that you say this kind of crap, obtained bypass the iPhone 4s and helped many people with their iPhones 4S, do not understand the comment @maaawww: v

[2014-09-25 18:20] NazuzStelantis commented on #5
Why do you say it is con? Have you ever asked for money in exchange for something? I do not conosco is he did after bypass iPhone 4S could not but something must be done. Stop talking nonsense we're here to help all @Maaawww

[2014-09-25 18:22] LJohan commented on #5
@Maaawww send me a email i have something important for you

[2014-09-25 18:23] NazuzStelantis commented on #5
@TTMTT send me a email if you write me email and I note your email

[2014-09-25 19:25] juanluis3030 commented on #5
Friend're right we're here to help

[2014-09-25 19:59] insestito commented on #5
@Exynos5 Si dices que tienes el Bypass para varios iDevices que no son el 4, compartelo, no?

[2014-09-25 21:52] albastrel commented on #5
@TTMTT any news? :S

[2014-09-25 22:04] TTMTT commented on #5
@albastrel
yes, i found the method 3 for bypass but i don't know if this method is working done or not..
and my program (76%)..

[2014-09-25 22:21] willgabriel commented on #5
oh yeah, great job, needing a test, I'm here ios 7.1, congratulations, hug from Brazil.

[2014-09-25 22:25] jas0n2 commented on #5
@TTMTT  pls check email

[2014-09-25 22:33] drmatrix commented on #5
@TTMTT
it is based on what method 3
i m still lost with the method 2 ,)

[2014-09-25 22:43] TTMTT commented on #5
@drmatrix
method 3 via file (ELF) in iphone..

[2014-09-25 22:50] drmatrix commented on #5
about the method 2 that it s the two f...... files .

index.php

[code]

and  serverCASigned.php

[code]

[2014-09-25 22:51] drmatrix commented on #5
what it s the change we must do ?????????????????????????????????????????????

[2014-09-25 22:53] drmatrix commented on #5
i have find some shared certificate and i wanna try

[2014-09-25 22:55] drmatrix commented on #5
@TTMTT
if u have time for explaining i know u are soo busy about the project

[2014-09-25 23:07] TTMTT commented on #5
@drmatrix
i build my own server..
but same your project.. i don't use serverCASigned i just use cert & private key and some string like a password for sign..

[2014-09-25 23:11] drmatrix commented on #5
@TTMTT
thanks bro , i will not give up ,)
about serverCASigned u can separate it from index by includ or adding the code directly in same php file but it s same
i will  need ur help about one ANDROID app after

[2014-09-25 23:33] TTMTT commented on #5
@drmatrix
but if you a hint:
((Imagine that you are iTunes)) I know that, there is no one understands me, oh my god..

[2014-09-25 23:35] chyouness commented on #5
any new?

[2014-09-25 23:38] drmatrix commented on #5
@TTMTT
ok im itunes i will read info from the phone i will ask apple server if the info thy are correct , i get answer from apple , i check certificate be cause i need security if everything is right i unlock the activation

that what i can thing if im one iTunes  ,)

but i want hear ur story @TTMTT .)

[2014-09-25 23:40] chyouness commented on #5
هل وجدتم الحل

[2014-09-25 23:46] TTMTT commented on #5
@drmatrix
yes yes, that what i mean.. now use your mind ..
give me your email or this my email.. i will tell you some hint
ttmtt-team@hotmail.com

@chyouness
نعم لقد وجدت طريقة ثالثه لتخطي الايكلود
الان لدي 3 طرق
yes i found a new method to bypass icloud..
now i have 3 method..
iCL0udin -> 76%

[2014-09-25 23:48] drmatrix commented on #5
@TTMTT
tdriouech@gmail.com

[2014-09-25 23:54] gsminfor commented on #5
@TTMTT wanted to know if your program will work with ipod 5? thank you for your hard work we are waiting for your tool ")

[2014-09-25 23:55] LJohan commented on #5
Finally some one in the same page as me serverCAcert. I been talking about that a long time ago. @ttmtt can you email me to talk in privet also you @drmatrix well i think you have my email allready but just in case luis.j.lithgow@live.com

[2014-09-25 23:58] drmatrix commented on #5
the idea that we must lie to itunes  ;)

[2014-09-26 00:00] TTMTT commented on #5
@drmatrix
no.. see my msg to understand me..

@LJohan
No problem but wait..

[2014-09-26 00:02] drmatrix commented on #5
@TTMTT
yes bro message passed

[2014-09-26 00:35] Ryahuman commented on #5
have a method of bypass with local server? but the certificates, you have a fairplay valid?

Att,
TheLordin

[2014-09-26 00:58] drmatrix commented on #5
@LJohan @chyouness
can we start from here
http://theiphonewiki.com/wiki/Activation
http://www.freepatentsonline.com/20090061934.pdf

i want understand that

Activation is handled by https://albert.apple.com/deviceservices/deviceActivation

iTunes generates an Activation Token and sends it to Apple's activation server. Once the Activation Token is validated, the server will generate a WildcardTicke

[2014-09-26 02:42] orange3th commented on #5
@TTMTT 4s 7.1.2 can i try on to your server? email me farid.akasputra@gmail.com thanx

[2014-09-26 03:33] RickyVonc commented on #5
i can actually generate my own serverCAsigned with isrv_35
but the generated fairPlayCertChain is expired, sorry for my bad english

[2014-09-26 03:41] orange3th commented on #5
@RickyVonc can u send me that file farid.akasputra@gmail.com

[2014-09-26 04:17] RickyVonc commented on #5
here go:
inside deviceservices\tools we have a crypt folder
copy and paste inside \deviceservices\certs\generator and rename to crypto
inside deviceservices\certs\generator we got generate-server-ca-signed  edit with notepad ++
in my case SET OPENSSL_CONF=C:\xampp\apache\conf\openssl.cnf // path to openssl.cnf
PATH=%PATH%;C:\xampp\apache\bin // path to openssl.exe
copy your cert-request.csr inside

[2014-09-26 04:20] dauvin commented on #5
@TTMTT have ipad air wifi  7.1.2 and iphone 5s 7.0.6..would love to offer my service as a beta tester for your iCL0udin v1.0 software..

dauvin_1@hotmail.com

[2014-09-26 04:59] orange3th commented on #5
@RickyVonc i just create 2 folder in htdocs i didnt have file for htdocs fully, i just use xampp htdocs. first time got itune can't complete the activation. but in itune appear welcome to your new idevice. sorry for bad engglish :dancers:

[2014-09-26 05:10] gkroky commented on #5
@Rickyvonc bro can u share file what u have if successed with those
file, i have iphone 5s ios 7.1.2, i tryed with odl doulci server but
it only bypass itunes, sound like u know something hope u will share ,
thanks

On 9/26/14, RickyVonc notifications@github.com wrote:

[2014-09-26 05:13] RickyVonc commented on #5
http://www77.zippyshare.com/v/16952507/file.html
conect your idevice, go to C:\xampp\htdocs\deviceservices\devices
search your device name folder = serial number,
copy cert-request,csr inside \deviceservices\certs\generator
run generate-server-ca-signed,

[2014-09-26 05:21] Optigonnn commented on #5
@RickyVonc did you bypass the icloud? Can you give a tutorial?

[2014-09-26 05:21] drmatrix commented on #5
@RickyVonc

same thing for fairPlayCertChain ======= Valid To: March 31, 2012

Certificate Information:
Common Name: iPhone.
Organization: Apple Inc.
Organization Unit: Apple FairPlay
Country: US
Valid From: April 2, 2007
Valid To: March 31, 2012
Issuer: Apple FairPlay Certification Authority, Apple Inc.
Key Size: 1024 bit

[2014-09-26 05:23] RickyVonc commented on #5
yes, the same problem

[2014-09-26 05:27] drmatrix commented on #5
i think certificate minacriss is expired

$privkey = array(file_get_contents('certs/original/iPhoneDeviceCA_private.key'),"minacriss");

[2014-09-26 05:30] orange3th commented on #5
Notice: Undefined index: AppleSerialNumber in C:\xampp\htdocs\deviceservices\deviceActivation\serverCASigned.php on line 4

Notice: Undefined index: guid in C:\xampp\htdocs\deviceservices\deviceActivation\serverCASigned.php on line 5

Notice: Undefined index: activation-info in C:\xampp\htdocs\deviceservices\deviceActivation\serverCASigned.php on line 6
Activation info not found!
Please help me wi

[2014-09-26 05:33] RickyVonc commented on #5
yes but inside deviceservices folder, all cert are valid, except the generated

[2014-09-26 05:36] drmatrix commented on #5
u can check here  Certificate and a Private Key

https://www.sslshopper.com/certificate-key-matcher.html

[2014-09-26 06:34] athfalny commented on #5
@drmatrix can you tell me how to trick the itunes ?

[2014-09-26 06:51] drmatrix commented on #5
@athfalny
that mean redirect the activation from apple server to other server

[2014-09-26 07:29] TTMTT commented on #5
@drmatrix
You must focus on this point (your post):
The device gets the WildcardTicket and ((checks if the signature matches))

[2014-09-26 07:39] jas0n2 commented on #5
@TTMTT  have u seen the websites prewiew

[2014-09-26 07:45] chyouness commented on #5
@TTMTT  السلام عليكم اخي أنا أريد فتح أيفوني فقط ونسيان شيء اسمه الأيكلود هل لا اريتني الطريقة وجزاك الله خير أعمالك

[2014-09-26 07:50] chyouness commented on #5
![image](https://cloud.githubusercontent.com/assets/8680420/4417283/b23afb40-4551-11e4-846b-b20c99a72252.png)

[2014-09-26 07:52] ghost commented on #5
U.u

[2014-09-26 07:52] albastrel commented on #5
@chyouness public cert :D ?

[2014-09-26 07:57] albastrel commented on #5
@TTMTT 1)BOOT.ELF
2) HDLOader 0.7c
3) hdld_svr.elf
4) execftp.elf ?

[2014-09-26 07:59] chyouness commented on #5
-----BEGIN CERTIFICATE-----
MIICvzCCAiigAwIBAgIBBjANBgkqhkiG9w0BAQUFADB1MQswCQYDVQQGEwJVUzEL
MAkGA1UECAwCQ0ExEjAQBgNVBAcMCUN1cGVydGlubzETMBEGA1UECgwKQXBwbGUg
SW5jLjEPMA0GA1UECwwGaVBob25lMR8wHQYDVQQDDBZBcHBsZSBpUGhvbmUgRGV2
aWNlIENBMB4XDTE0MDkyMDE4MTcwOVoXDTE1MDkyMDE4MTcwOVowgYMxLTArBgNV
BAMTJEM1NkRFNEE5LTlCREMtNDI1OC1BQjgzLTEyNDU2NkNGQTBFRTELMAkGA1UE
BhMCVVMxCzAJBgNVBAgTAkNBMRIwEAYDVQQHEwlDdXBlcnR

[2014-09-26 08:01] athfalny commented on #5
@drmatrix and @TTMTT ..  i'm sorry for my less of knowledge about programming and coding "( the signature matches )" <<< << this point will be the itunes job right?

[2014-09-26 08:03] chyouness commented on #5
https://www.youtube.com/watch?v=e6-3SiRCVZA

[2014-09-26 08:23] drmatrix commented on #5
@TTMTT
i have the Lockdown\activation_records saved from one other bypassed iphone, i can use that ?

and how i can get the fairPlayCertChain from FairPlayKeyData ?????

[2014-09-26 08:29] albastrel commented on #5
@TTMTT can u send me the cert file ? email me dragutzdraquasta@yahoo.com

[2014-09-26 08:31] albastrel commented on #5
@drmatrix no is not possible, lockdown is for one idevice... guess - i have one example : 2 months ago I had an iphone 5 with Find My iPhone enabled and I broke the 4-digit code and I entered it ... I did jailbreak and installed SSH, ok now I cut mine lockdown and download lockdown got from minacriss and it ve put in place the other and so I gave when I restart I went into setup, ssh is active now

[2014-09-26 08:46] drmatrix commented on #5
albastrel
accurat me i mean how we can simulat it
ofcorce it unique for one phone with unique baseband information like IMEI, ICCID, IMSI

[2014-09-26 08:51] albastrel commented on #5
just know myself, but it was worth trying ... why? for a while all the talk about doulci, minacriss and team etc. this team activated the iphone from server doulci all people ... and how? is unique for one phone with unique baseband information like IMEI, ICCID, IMSI ... is logic? look - 1. http://s9.postimg.org/mjd02u6wv/4s_mina.jpg - 4s, 2. http://s9.postimg.org/cnbx3714v/5_doulci.jpg - 5, 3. ht

[2014-09-26 08:53] drmatrix commented on #5
albastrel u can read here
http://theiphonewiki.com/wiki/WildcardTicket

[2014-09-26 08:54] albastrel commented on #5
ok i read

[2014-09-26 08:55] drmatrix commented on #5
i think the server can manage all requests

iTunes generates an Activation Token and sends it to Apple's activation server. Once the Activation Token is validated, the server will generate a WildcardTicket and signs it with Apple's private key. iTunes then calls AMDeviceActivate with the WildcardTicket; The device gets the WildcardTicket and checks if the signature matches. If it does, it get past

[2014-09-26 08:56] DuckiDuck commented on #5
check your mail @albastrel

[2014-09-26 08:59] TTMTT commented on #5
@drmatrix
the activation_records is xml response from apple:
accountToken, fairPlayKeyData...etc

@chyouness
هل انت تتحدث العربية ام تستخدم قوقل للترجمة؟

@albastrel
i guess you undrestand me.. :+1:

---

Guys i found a new method (4)..
yastarday i got the method 3 but now i got th method 4
but 3 and 4 is harder..

method 1 : via (other xml not to deviceservices - exploit)
method 2 : via (apple ce

[2014-09-26 09:04] TTMTT commented on #5
@drmatrix
again focus on this point (your post):
(((iTunes generates an Activation Token))) and sends it to Apple's activation server. Once the Activation Token is validated, the server will generate a WildcardTicket and signs it with Apple's private key. iTunes then calls AMDeviceActivate with the WildcardTicket; (((The device gets the WildcardTicket and checks if the signature matches))). If it

[2014-09-26 09:04] krispychikin commented on #5
@TTMTT which method does iCL0udin use?

[2014-09-26 09:07] drmatrix commented on #5
@TTMTT

you are amazing
im trying to gethalf method ,)

now i will go to real world i must go to work

coming back to the vertu after

i wish everyone a success

[2014-09-26 09:11] TTMTT commented on #5
@krispychikin
method 1 and 2 becouz 1 same 2..

@drmatrix
ok, take ur time.. i will send some a hint again to your email..

[2014-09-26 09:33] drmatrix commented on #5
@TTMTT
thanks for ur help and support and thanks for everybody who contribute

[2014-09-26 09:42] athfalny commented on #5
i dont understand what u guys talking about hahahaha im so dumb in this....TMTT if u project ready include my device in u'r beta testing email me pls qila_dhany@yahoo.com

[2014-09-26 09:52] krispychikin commented on #5
![r0bf0rdsn0w](https://cloud.githubusercontent.com/assets/8895723/4418747/c9ad3a48-4562-11e4-8a2d-d00e8d65f53f.jpg)

i dont think r0bf0rdsn0w is an april fool joke u know

[2014-09-26 09:54] albastrel commented on #5
@krispychikin and for what iH8sn0w never released the password of r0bf0rsn0w? is fake man

M1n@cr1ss ‏@minacrisOficial Sep 24
Es fake

[2014-09-26 10:47] insestito commented on #5
the password of r0bf0rsn0w is leaked in google...
i go to search it...

[2014-09-26 10:49] insestito commented on #5
This is r0bf0rsn0w without password...

 https://mega.co.nz/#!GlQVUYaR!Cp9XjQ5o1u2s_4KWz7LhQ2_dzIUFmp9PB04DzSy6wtY

[2014-09-26 10:55] krispychikin commented on #5
@albastrel i was just interested with the "/concept/" that he was talking about.

[2014-09-26 11:02] Taruga commented on #5
@insestito That is not the same as the original : SHA1(README)= d744eb151ac21512883eac02d60f8fd9c2b7068c
SHA1(hosts)= 0218ba654b9586b6028f55c771dcf3ac6e563bae
SHA1(iPhoneActivation.pem)= 55d925b8f5901af490cc4aea06b240e55939df4a
SHA1(iPhoneActivation_private.pem)= fefc0525f90ec239fdc410f055ea91968e539707
SHA1(iPhoneDeviceCA.pem)= 32dcb3020b66cdafe20ae07465a5db1a0a3499c3
SHA1(iPhoneDeviceCA_private.

[2014-09-26 11:04] krispychikin commented on #5
@insestito @Taruga exactly. i compared the sha1 and its different. those are fake.

[2014-09-26 11:43] albastrel commented on #5
-----BEGIN CERTIFICATE-----
MIIDaTCCAlGgAwIBAgIBATANBgkqhkiG9w0BAQUFADB5MQswCQYDVQQGEwJVUzET
MBEGA1UECgwKQXBwbGUgSW5jLjEmMCQGA1UECwwdQXBwbGUgQ2VydGlmaWNhdGlv
biBBdXRob3JpdHkxLTArBgNVBAMMJEFwcGxlIGlQaG9uZSBDZXJ0aWZpY2F0aW9u
IEF1dGhvcml0eTAeFw0xNDA3MTMwNjE4NDRaFw0yNDA3MTMwNjE4NDRaMFoxCzAJ
BgNVBAYTAlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMRUwEwYDVQQLDAxBcHBsZSBp
UGhvbmUxHzAdBgNVBAMMFkFwcGxlIGlQaG9uZSBEZXZpY2U

[2014-09-26 12:01] LJohan commented on #5
@drmatrix  can you email me to talk in privet cuz i need help , im stuck on serverCASined

[2014-09-26 12:02] LJohan commented on #5
@TTMTT same you @TTMTT  i need help on serverCASinged

[2014-09-26 12:42] albastrel commented on #5
@TTMTT and @drmatrix need help here : http://s1.postimg.org/5p9aoki8v/Cert.jpg

[2014-09-26 13:22] Taruga commented on #5
Getting problems with certificates:
Sep 26 14:17:09 iPhone lockdownd[52] <Notice>: 00281000 verify_ar: The device certificate did not match

Sep 26 14:17:09 iPhone lockdownd[52] <Notice>: 00281000 handle_activate: Could not verify with production certificates. Attempting factory certificates

Sep 26 14:17:09 Phone lockdownd[52] <Notice>: 00281000 verify_ar: The account token's signature does not m

[2014-09-26 13:53] LJohan commented on #5
@TTMTT @drmatrix  i allready modify the generator an now i have my serverCASined but itunes still say i have invalid information can you  give some hint.

[2014-09-26 13:55] willgabriel commented on #5
my server is ok, but i have invalid information.

[2014-09-26 14:25] willgabriel commented on #5
fair play always gets invalid license, at what to do? difficult for me to solve.

[2014-09-26 14:41] albastrel commented on #5
@LJohan compress rar and send me ? dragutzdraquasta@yahoo.com